<div class="mb-3">
  <label class="form-label" for="city-typeahead">City</label>
  <div class="city-typeahead" style="margin-bottom:12px">
    <input type="text" name="city-typeahead" value="<%= q['city-typeahead'] %>" class="form-control typeahead" id="city-typeahead" autocomplete="off" placeholder="Search for city or ZIP code">
  </div>
</div>
<div class="row gx-2 mb-3">
  <div class="col-auto">
    <input class="form-control" type="text" name="b" value="<%= q.b || 18 %>" size="2" maxlength="2" id="b1" pattern="\d*">
  </div>
  <label class="col-auto col-form-label" for="b1">minutes before sundown</label>
</div>
<div class="mb-1">Havdalah</div>
<div class="form-check mb-3">
  <input class="form-check-input" type="radio" name="M" id="M1" <%- (q.M === 'off' || (typeof q.m === 'string' && q.m.charCodeAt(0) >= 48 && q.m.charCodeAt(0) <= 57)) ? '' : 'checked' %> value="on">
  <label class="form-check-label" for="M1">nightfall (tzeit hakochavim)</label>
  &nbsp; <span id="M1t" title="the point when 3 small stars are observable in the night sky with the naked eye (sun 8.5° below the horizon)" data-toggle="tooltip" data-placement="top">ℹ️</span>
</div><!-- .form-check -->
<div class="form-check mb-3">
  <input class="form-check-input" type="radio" name="M" id="M0" <%- (q.M === 'off' || (typeof q.m === 'string' && q.m.charCodeAt(0) >= 48 && q.m.charCodeAt(0) <= 57)) ? 'checked' : '' %> value="off">
  <label class="form-check-label" for="M0">minutes past sundown</label>
  &nbsp; <span id="M0t" title="Use 42 min for three medium-sized stars, 50 min for three small stars, 72 min for Rabbeinu Tam, or 0 to suppress Havdalah times" data-toggle="tooltip" data-placement="top">ℹ️</span>
</div><!-- .form-check -->
<div class="mb-3">
  <input type="text" class="form-control" id="m1" name="m" value="<%= q.m %>" size="2" maxlength="2" placeholder="minutes" pattern="\d*">
</div><!-- .mb-3 -->
