<div class="modal fade" id="hcdl-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title">Download <%= downloadTitle %> calendar</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<p>First, select your calendar app:</p>
<ul class="nav nav-pills" id="download-tabs">
<li class="nav-item"><a class="nav-link active" href="#ios-body" data-toggle="tab">iPhone</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-ics-body" data-toggle="tab">Outlook</a></li>
<li class="nav-item"><a class="nav-link" href="#gcal-body" data-toggle="tab">Google</a></li>
<li class="nav-item"><a class="nav-link" href="#ical-body" data-toggle="tab">macOS</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-mac-body" data-toggle="tab">Outlook Mac</a></li>
<li class="nav-item"><a class="nav-link" href="#ycal-body" data-toggle="tab">iCalendar</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-csv-body" data-toggle="tab">CSV</a></li>
<% if (typeof filename.pdf === 'string') { %>
<li class="nav-item"><a class="nav-link" href="#pdf-body" data-toggle="tab">PDF</a></li>
<% } %>
</ul><!-- #download-tabs -->
<div class="tab-content mt-2">
<div id="ios-body" class="tab-pane active">
<p>Apple iOS, iPhone &amp; iPad</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ios-sub" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="#icon-appleinc"></use></svg> Download to iPhone/iPad</a></p>
<p>Step-by-step: <a title="iPhone and iPad - import Hebcal Jewish calendar"
href="/home/77/iphone-ipad-jewish-calendar">Import into iPhone &amp; iPad</a></p>

</div>
</div><!-- #ios-body -->
<div id="ol-ics-body" class="tab-pane">
<p>Outlook 365 Internet Calendar Subscription (Windows)</p>
<div>
<p><small>To keep the imported calendar up-to-date, subscribe to the
Hebcal calendar in Outlook. Our calendar subscription feeds include
2+ years of events.</small></p>
<p><a class="btn btn-secondary download mb-1" id="dl-ol-ics" title="<%= filename.ics %>" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="#icon-microsoftoutlook"></use></svg> Download Outlook Internet Calendar Subscription</a></p>
<p>Step-by-step: <a title="Outlook Internet Calendar Subscription - import Hebcal Jewish calendar to Outlook 2007, Outlook 2010"
href="/home/8/outlook-internet-calendar-subscription-jewish-calendar">Import
ICS (Internet Calendar Subscription) file into Outlook</a></p>
<p>Alternate option: <a class="download" id="dl-ol-ics-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Microsoft Outlook.</p>

</div>
</div><!-- #ol-ics-body -->
<div id="gcal-body" class="tab-pane">
<p>Google Calendar</p>
<div>
<p><a title="Add <%= filename.ics %> to Google Calendar"
class="download" id="dl-gcal-sub" rel="nofollow"
href="https://www.google.com/calendar/render?cid=<%= url.gcal %>"><img
src="https://www.hebcal.com/i/gc_button6.gif" width="114" height="36" style="border:none" alt="Add to Google Calendar"></a></p>
<p>Alternate option:
<a class="download" id="dl-gcal-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then <a
title="Google Calendar alternative instructions - import Hebcal Jewish calendar"
href="/home/59/google-calendar-alternative-instructions">follow
our Google Calendar import instructions</a>.</p>

</div>
</div><!-- #gcal-body -->
<div id="ical-body" class="tab-pane">
<p>Apple macOS Calendar (desktop)</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ical-sub" title="<%= filename.ics %>" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="#icon-appleinc"></use></svg> Download to macOS Calendar.app</a></p>
<p>Step-by-step: <a title="Apple macOS Calendar.app - import Hebcal Jewish calendar"
href="/home/79/apple-ical-import-hebcal-jewish-calendar">Import ICS file into Apple macOS desktop Calendar</a></p>
<p>Alternate option: <a class="download" id="dl-ical-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Apple macOS Calendar.app.</p>

</div>
</div><!-- #ical-body -->
<div id="ol-mac-body" class="tab-pane">
<p>Outlook for Mac</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ol-mac" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>"><svg class="icon align-top"><use xlink:href="#icon-microsoftoutlook"></use></svg> Download to Outlook for Mac</a></p>
<p>Step-by-step: <a title="Outlook for Mac - import Hebcal Jewish calendar"
href="/home/186/outlook-2011-mac-jewish-holidays">Import .ics file into
Outlook for Mac</a></p>

</div>
</div><!-- #ol-mac-body -->
<div id="ycal-body" class="tab-pane">
<p>iCalendar feed URL</p>
<div>
<p><small>The iCalendar format is used by Outlook 365, Yahoo!, Blackbaud, and
many desktop and web calendar applications.</small></p>
<p>Copy the entire iCalendar URL here:</p>
<form class="form-inline" id="GrabLinkForm" action="#">
<!--
<div class="btn-group">
<button type="button" class="btn btn-light btn-copy js-tooltip js-copy" 
data-toggle="tooltip" data-placement="bottom" data-copy="<%= url.subical %>"
title="Copy to clipboard">
<i class="glyphicons glyphicons-copy"></i>
</button>
-->
<div class="input-group input-group-sm mb-3">
<input type="text" class="form-control" size="60" id="iCalUrl" name="iCalUrl"
onfocus="this.select();" onKeyPress="return false;"
value="<%= url.subical %>">
</div>
</form>
<p>Follow additional instructions for 
<a href="home/1411/blackbaud-jewish-holiday-calendar">Blackbaud</a>
or <a href="/home/193/yahoo-calendar-jewish-holidays">Yahoo! Calendar</a></p>

</div>
</div><!-- #ycal-body -->
<div id="ol-csv-body" class="tab-pane">
<p>Outlook 97, 98, 2000, 2002, 2003 (Windows)</p>
<div>
Select one of:
<ul class="list-unstyled">
<li><a class="btn btn-secondary download mb-1" id="dl-ol-csv-usa" title="<%= filename.csv_usa %>" href="<%= url.csv_usa %>" download="<%= filename.csv_usa %>"><svg class="icon align-top"><use xlink:href="#icon-microsoftoutlook"></use></svg> Download CSV - USA (month/day/year)</a></li>
<li><a class="btn btn-secondary download mb-1" id="dl-ol-csv-eur" title="<%= filename.csv_eur %>" href="<%= url.csv_eur %>" download="<%= filename.csv_eur %>"><svg class="icon align-top"><use xlink:href="#icon-microsoftoutlook"></use></svg> Download CSV - Europe (day/month/year)</a></li>
</ul>
Step-by-step: <a title="Outlook CSV - import Hebcal Jewish calendar to Outlook 97, 98, 2000, 2002, 2003"
href="/home/12/outlook-csv-jewish-calendar">Import CSV file into Outlook</a>

</div>
</div><!-- #ol-csv-body -->
<% if (typeof filename.pdf === 'string') { %>
<div id="pdf-body" class="tab-pane">
<p>Print PDF (formatted for 8.5"x11" paper)</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-pdf" title="<%= filename.pdf %>" href="<%= url.pdf %>" download="<%= filename.pdf %>"><svg class="icon align-top"><use xlink:href="#icon-file-pdf"></use></svg> Download PDF Calendar</a></p>

</div>
</div><!-- #pdf-body -->
<% } %>
</div><!-- .tab-content -->

</div><!-- .modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-appleinc" viewBox="0 0 32 32">
<path d="M24.734 17.003c-0.040-4.053 3.305-5.996 3.454-6.093-1.88-2.751-4.808-3.127-5.851-3.171-2.492-0.252-4.862 1.467-6.127 1.467-1.261 0-3.213-1.43-5.28-1.392-2.716 0.040-5.221 1.579-6.619 4.012-2.822 4.897-0.723 12.151 2.028 16.123 1.344 1.944 2.947 4.127 5.051 4.049 2.026-0.081 2.793-1.311 5.242-1.311s3.138 1.311 5.283 1.271c2.18-0.041 3.562-1.981 4.897-3.931 1.543-2.255 2.179-4.439 2.216-4.551-0.048-0.022-4.252-1.632-4.294-6.473zM20.705 5.11c1.117-1.355 1.871-3.235 1.665-5.11-1.609 0.066-3.559 1.072-4.713 2.423-1.036 1.199-1.942 3.113-1.699 4.951 1.796 0.14 3.629-0.913 4.747-2.264z"></path>
</symbol>
<symbol id="icon-microsoftoutlook" viewBox="0 0 32 32">
<path d="M32 9.849v13.971c0 0.307-0.107 0.565-0.317 0.768-0.211 0.205-0.469 0.307-0.773 0.307h-11.396v-9.279l2.133 1.639c0.136 0.113 0.305 0.168 0.505 0.168 0.197 0 0.369-0.055 0.519-0.169zM19.513 7.155h11.396c0.281 0 0.524 0.084 0.724 0.256 0.2 0.171 0.312 0.4 0.331 0.68l-9.825 7.835-2.625-2.065zM17.872 1.152v29.695l-17.872-3.088v-23.433l17.875-3.173zM12.473 16.059c-0.027-1.511-0.417-2.763-1.172-3.752-0.74-0.987-1.7-1.508-2.841-1.552-1.099 0.044-2.039 0.564-2.8 1.552-0.76 0.989-1.14 2.243-1.16 3.752 0.020 1.489 0.42 2.729 1.18 3.721 0.761 0.987 1.699 1.511 2.801 1.568 1.14-0.047 2.099-0.565 2.86-1.56 0.76-0.997 1.16-2.24 1.18-3.729zM8.313 12.749c0.575 0.027 1.059 0.341 1.444 0.956 0.38 0.615 0.58 1.393 0.58 2.336 0 0.961-0.199 1.743-0.58 2.361-0.401 0.619-0.88 0.939-1.461 0.939s-1.060-0.301-1.46-0.92-0.58-1.4-0.58-2.339c0-0.94 0.18-1.721 0.58-2.32 0.379-0.6 0.861-0.92 1.441-0.961z"></path>
</symbol>
<symbol id="icon-file-pdf" viewBox="0 0 32 32">
<path d="M26.313 18.421c-0.427-0.42-1.372-0.643-2.812-0.662-0.974-0.011-2.147 0.075-3.38 0.248-0.552-0.319-1.122-0.665-1.568-1.083-1.202-1.122-2.205-2.68-2.831-4.394 0.041-0.16 0.075-0.301 0.108-0.444 0 0 0.677-3.846 0.498-5.146-0.025-0.178-0.040-0.23-0.088-0.369l-0.059-0.151c-0.184-0.425-0.545-0.875-1.111-0.85l-0.341-0.011c-0.631 0-1.146 0.323-1.281 0.805-0.411 1.514 0.013 3.778 0.781 6.711l-0.197 0.478c-0.55 1.34-1.238 2.689-1.846 3.88l-0.079 0.155c-0.639 1.251-1.22 2.313-1.745 3.213l-0.543 0.287c-0.040 0.021-0.97 0.513-1.188 0.645-1.852 1.106-3.079 2.361-3.282 3.357-0.065 0.318-0.017 0.725 0.313 0.913l0.525 0.264c0.228 0.114 0.468 0.172 0.714 0.172 1.319 0 2.85-1.643 4.959-5.324 2.435-0.793 5.208-1.452 7.638-1.815 1.852 1.043 4.129 1.767 5.567 1.767 0.255 0 0.475-0.024 0.654-0.072 0.276-0.073 0.508-0.23 0.65-0.444 0.279-0.42 0.335-0.998 0.26-1.59-0.023-0.176-0.163-0.393-0.315-0.541zM6.614 25.439c0.241-0.658 1.192-1.958 2.6-3.111 0.088-0.072 0.306-0.276 0.506-0.466-1.472 2.348-2.458 3.283-3.106 3.577zM14.951 6.24c0.424 0 0.665 1.069 0.685 2.070s-0.214 1.705-0.505 2.225c-0.241-0.77-0.357-1.984-0.357-2.778 0 0-0.018-1.517 0.177-1.517v0zM12.464 19.922c0.295-0.529 0.603-1.086 0.917-1.677 0.765-1.447 1.249-2.58 1.609-3.511 0.716 1.303 1.608 2.41 2.656 3.297 0.131 0.111 0.269 0.222 0.415 0.333-2.132 0.422-3.974 0.935-5.596 1.558v0zM25.903 19.802c-0.13 0.081-0.502 0.128-0.741 0.128-0.772 0-1.727-0.353-3.066-0.927 0.515-0.038 0.986-0.057 1.409-0.057 0.774 0 1.004-0.003 1.761 0.19s0.767 0.585 0.637 0.667v0z"></path>
<path d="M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.121 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841v0zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268v0zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z"></path>
</symbol>
</defs>
</svg>
