<div class="modal fade" id="hcdl-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title">Download <%= downloadTitle %> calendar</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<p>First, select your calendar app:</p>
<ul class="nav nav-pills" id="download-tabs">
<li class="nav-item"><a class="nav-link active" href="#ios-body" data-bs-toggle="tab">Apple</a></li>
<li class="nav-item"><a class="nav-link" href="#gcal-body" data-bs-toggle="tab">Google</a></li>
<li class="nav-item"><a class="nav-link" href="#icalendar-body" data-bs-toggle="tab">iCalendar</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-ics-body" data-bs-toggle="tab">Outlook</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-mac-body" data-bs-toggle="tab">Outlook Mac</a></li>
<li class="nav-item"><a class="nav-link" href="#csv-body" data-bs-toggle="tab">CSV</a></li>
<% if (typeof filename.pdf === 'string') { %>
<li class="nav-item"><a class="nav-link" href="#pdf-body" data-bs-toggle="tab">PDF</a></li>
<% } %>
</ul><!-- #download-tabs -->
<div class="tab-content mt-2">
<div id="ios-body" class="tab-pane active">
<p>Apple iPhone, iPad &amp; macOS</p>
<div>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-ios-sub'}) -%>
<div><a class="btn btn-secondary download mb-2" id="dl-ios-sub" data-hebcal-attr="href" data-hebcal-src="webcal" rel="nofollow" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> Subscribe on iPhone, iPad &amp; macOS</a></div>
</div>
<p>Step-by-step: <a title="iPhone and iPad - import Hebcal Jewish calendar"
href="/home/77/iphone-ipad-jewish-calendar">iPhone &amp; iPad</a></p>
<p>Step-by-step: <a title="Apple macOS Calendar.app - import Hebcal Jewish calendar"
href="/home/79/apple-ical-import-hebcal-jewish-calendar">macOS desktop Calendar.app</a></p>
<p>Alternate option: <a class="download" id="dl-ical-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Apple macOS Calendar.app.</p>
</div>
</div><!-- #ios-body -->
<div id="ol-ics-body" class="tab-pane">
<p>Outlook 365 Internet Calendar Subscription (Windows)</p>
<div>
<p><small>To keep the imported calendar up-to-date, subscribe to the
Hebcal calendar in Outlook. Our calendar subscription feeds include
2+ years of events.</small></p>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-ol-ics'}) -%>
<div><a class="btn btn-secondary download mb-2" id="dl-ol-ics" data-hebcal-attr="href" data-hebcal-src="webcal" title="<%= filename.ics %>" rel="nofollow" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg> Outlook Internet Calendar Subscription</a></div>
</div>
<p>Step-by-step: <a title="Outlook Internet Calendar Subscription - import Hebcal Jewish calendar to Outlook 2007, Outlook 2010"
href="/home/8/outlook-internet-calendar-subscription-jewish-calendar">Import
ICS (Internet Calendar Subscription) file into Outlook</a></p>
<p>Alternate option: <a class="download" id="dl-ol-ics-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Microsoft Outlook.</p>

</div>
</div><!-- #ol-ics-body -->
<div id="gcal-body" class="tab-pane">
<p>Google Calendar</p>
<div>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-gcal-sub'}) -%>
<div><a class="btn btn-secondary download mb-2" id="dl-gcal-sub" rel="nofollow"
title="Add <%= filename.ics %> to Google Calendar"
data-hebcal-attr="href" data-hebcal-src="gcal"
href="https://www.google.com/calendar/render?cid=<%= url.gcal %>">
<svg class="icon icon-google"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Add to Google Calendar</a></div>
</div>
<p>Alternate option:
<a class="download" id="dl-gcal-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then <a
title="Google Calendar alternative instructions - import Hebcal Jewish calendar"
href="/home/59/google-calendar-alternative-instructions">follow
our Google Calendar import instructions</a>.</p>

</div>
</div><!-- #gcal-body -->
<div id="ol-mac-body" class="tab-pane">
<p>Outlook for Mac</p>
<div>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-ol-mac'}) -%>
<div><a class="btn btn-secondary download mb-2" id="dl-ol-mac" data-hebcal-attr="href" data-hebcal-src="ics" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics %>" download="<%= filename.ics %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg> Download to Outlook for Mac</a></div>
</div>
<p>Step-by-step: <a title="Outlook for Mac - import Hebcal Jewish calendar"
href="/home/186/outlook-2011-mac-jewish-holidays">Import .ics file into
Outlook for Mac</a></p>

</div>
</div><!-- #ol-mac-body -->
<div id="icalendar-body" class="tab-pane">
<p>iCalendar feed URL</p>
<div>
<p><small>The iCalendar format is used by Outlook.com, Windows 10, Yahoo!, Blackbaud, and
many desktop and web calendar applications.</small></p>
<%- await include('emoji-switch.ejs', {id: 'grabLink'}) -%>
<p>Copy the entire iCalendar URL here:</p>
<div class="mb-3">
<div class="input-group input-group-sm mb-2">
<input type="text" class="form-control" size="60" id="grabLink"
data-hebcal-attr="value" data-hebcal-src="subical"
value="<%= url.subical %>">
<button id="grabBtn" class="btn btn-secondary grabBtn" data-clipboard-target="#grabLink">
<svg class="icon icon-md align-top"><use xlink:href="<%=spriteHref%>#clippy"></use></svg>
Copy
</button>
</div>
</div>
<p>Follow additional instructions for 
<a href="/home/1138/outlook-com-windows-live-jewish-calendar-download">Outlook.com and Windows 10</a>,
<a href="/home/1411/blackbaud-jewish-holiday-calendar">Blackbaud</a>
or <a href="/home/193/yahoo-calendar-jewish-holidays">Yahoo! Calendar</a></p>

</div>
</div><!-- #icalendar-body -->
<div id="csv-body" class="tab-pane">
<p>CSV file for Outlook 97-2003 (Windows)</p>
<div>
Select one of:
<ul class="list-unstyled">
<li><a class="btn btn-secondary download mb-1" id="dl-csv-usa" title="<%= filename.csv_usa %>" rel="nofollow" href="<%= url.csv_usa %>" download="<%= filename.csv_usa %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg> Download CSV - USA (month/day/year)</a></li>
<li><a class="btn btn-secondary download mb-1" id="dl-csv-eur" title="<%= filename.csv_eur %>" rel="nofollow" href="<%= url.csv_eur %>" download="<%= filename.csv_eur %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg> Download CSV - Europe (day/month/year)</a></li>
</ul>
Step-by-step: <a title="Outlook CSV - import Hebcal Jewish calendar to Outlook 97, 98, 2000, 2002, 2003"
href="/home/12/outlook-csv-jewish-holidays">Import CSV file into Outlook 97, 98, 2000, 2002, 2003</a>

</div>
</div><!-- #csv-body -->
<% if (typeof filename.pdf === 'string') { %>
<div id="pdf-body" class="tab-pane">
<p>Print PDF (formatted for 8.5"x11" paper)</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-pdf" title="<%= filename.pdf %>" rel="nofollow" href="<%= url.pdf %>" download="<%= filename.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-file-pdf"></use></svg> Download PDF Calendar</a></p>

</div>
</div><!-- #pdf-body -->
<% } %>
</div><!-- .tab-content -->

</div><!-- .modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary" data-bs-dismiss="modal" aria-hidden="true">Close</button>
</div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
