<div class="modal fade" id="hcdl-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title">Download <%= downloadTitle %> calendar</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<p>First, select your calendar app:</p>
<ul class="nav nav-pills" id="download-tabs">
<li class="nav-item"><a class="nav-link active" href="#ios-body" data-toggle="tab">iPhone</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-ics-body" data-toggle="tab">Outlook</a></li>
<li class="nav-item"><a class="nav-link" href="#gcal-body" data-toggle="tab">Google</a></li>
<li class="nav-item"><a class="nav-link" href="#ical-body" data-toggle="tab">macOS</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-mac-body" data-toggle="tab">Outlook Mac</a></li>
<li class="nav-item"><a class="nav-link" href="#ycal-body" data-toggle="tab">iCalendar</a></li>
<li class="nav-item"><a class="nav-link" href="#ol-csv-body" data-toggle="tab">CSV</a></li>
<% if (typeof filename.pdf === 'string') { %>
<li class="nav-item"><a class="nav-link" href="#pdf-body" data-toggle="tab">PDF</a></li>
<% } %>
</ul><!-- #download-tabs -->
<div class="tab-content mt-2">
<div id="ios-body" class="tab-pane active">
<p>Apple iOS, iPhone &amp; iPad</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ios-sub" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-appleinc"></use></svg> Download to iPhone/iPad</a></p>
<p>Step-by-step: <a title="iPhone and iPad - import Hebcal Jewish calendar"
href="/home/77/iphone-ipad-jewish-calendar">Import into iPhone &amp; iPad</a></p>

</div>
</div><!-- #ios-body -->
<div id="ol-ics-body" class="tab-pane">
<p>Outlook 365 Internet Calendar Subscription (Windows)</p>
<div>
<p><small>To keep the imported calendar up-to-date, subscribe to the
Hebcal calendar in Outlook. Our calendar subscription feeds include
2+ years of events.</small></p>
<p><a class="btn btn-secondary download mb-1" id="dl-ol-ics" title="<%= filename.ics %>" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-microsoftoutlook"></use></svg> Download Outlook Internet Calendar Subscription</a></p>
<p>Step-by-step: <a title="Outlook Internet Calendar Subscription - import Hebcal Jewish calendar to Outlook 2007, Outlook 2010"
href="/home/8/outlook-internet-calendar-subscription-jewish-calendar">Import
ICS (Internet Calendar Subscription) file into Outlook</a></p>
<p>Alternate option: <a class="download" id="dl-ol-ics-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Microsoft Outlook.</p>

</div>
</div><!-- #ol-ics-body -->
<div id="gcal-body" class="tab-pane">
<p>Google Calendar</p>
<div>
<p><a title="Add <%= filename.ics %> to Google Calendar"
class="download" id="dl-gcal-sub" rel="nofollow"
href="https://www.google.com/calendar/render?cid=<%= url.gcal %>"><img
src="https://www.hebcal.com/i/gc_button6.gif" width="114" height="36" style="border:none" alt="Add to Google Calendar"></a></p>
<p>Alternate option:
<a class="download" id="dl-gcal-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then <a
title="Google Calendar alternative instructions - import Hebcal Jewish calendar"
href="/home/59/google-calendar-alternative-instructions">follow
our Google Calendar import instructions</a>.</p>

</div>
</div><!-- #gcal-body -->
<div id="ical-body" class="tab-pane">
<p>Apple macOS Calendar (desktop)</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ical-sub" title="<%= filename.ics %>" href="<%= url.webcal %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-appleinc"></use></svg> Download to macOS Calendar.app</a></p>
<p>Step-by-step: <a title="Apple macOS Calendar.app - import Hebcal Jewish calendar"
href="/home/79/apple-ical-import-hebcal-jewish-calendar">Import ICS file into Apple macOS desktop Calendar</a></p>
<p>Alternate option: <a class="download" id="dl-ical-alt" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>">Download <%= filename.ics %></a>
and then import manually into Apple macOS Calendar.app.</p>

</div>
</div><!-- #ical-body -->
<div id="ol-mac-body" class="tab-pane">
<p>Outlook for Mac</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-ol-mac" title="<%= filename.ics %>" href="<%= url.ics %>" download="<%= filename.ics %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-microsoftoutlook"></use></svg> Download to Outlook for Mac</a></p>
<p>Step-by-step: <a title="Outlook for Mac - import Hebcal Jewish calendar"
href="/home/186/outlook-2011-mac-jewish-holidays">Import .ics file into
Outlook for Mac</a></p>

</div>
</div><!-- #ol-mac-body -->
<div id="ycal-body" class="tab-pane">
<p>iCalendar feed URL</p>
<div>
<p><small>The iCalendar format is used by Outlook 365, Yahoo!, Blackbaud, and
many desktop and web calendar applications.</small></p>
<p>Copy the entire iCalendar URL here:</p>
<form class="form-inline" id="GrabLinkForm" action="#">
<!--
<div class="btn-group">
<button type="button" class="btn btn-light btn-copy js-tooltip js-copy" 
data-toggle="tooltip" data-placement="bottom" data-copy="<%= url.subical %>"
title="Copy to clipboard">
<i class="glyphicons glyphicons-copy"></i>
</button>
-->
<div class="input-group input-group-sm mb-3">
<input type="text" class="form-control" size="60" id="iCalUrl" name="iCalUrl"
onfocus="this.select();" onKeyPress="return false;"
value="<%= url.subical %>">
</div>
</form>
<p>Follow additional instructions for 
<a href="home/1411/blackbaud-jewish-holiday-calendar">Blackbaud</a>
or <a href="/home/193/yahoo-calendar-jewish-holidays">Yahoo! Calendar</a></p>

</div>
</div><!-- #ycal-body -->
<div id="ol-csv-body" class="tab-pane">
<p>Outlook 97, 98, 2000, 2002, 2003 (Windows)</p>
<div>
Select one of:
<ul class="list-unstyled">
<li><a class="btn btn-secondary download mb-1" id="dl-ol-csv-usa" title="<%= filename.csv_usa %>" href="<%= url.csv_usa %>" download="<%= filename.csv_usa %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-microsoftoutlook"></use></svg> Download CSV - USA (month/day/year)</a></li>
<li><a class="btn btn-secondary download mb-1" id="dl-ol-csv-eur" title="<%= filename.csv_eur %>" href="<%= url.csv_eur %>" download="<%= filename.csv_eur %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-microsoftoutlook"></use></svg> Download CSV - Europe (day/month/year)</a></li>
</ul>
Step-by-step: <a title="Outlook CSV - import Hebcal Jewish calendar to Outlook 97, 98, 2000, 2002, 2003"
href="/home/12/outlook-csv-jewish-calendar">Import CSV file into Outlook</a>

</div>
</div><!-- #ol-csv-body -->
<% if (typeof filename.pdf === 'string') { %>
<div id="pdf-body" class="tab-pane">
<p>Print PDF (formatted for 8.5"x11" paper)</p>
<div>
<p><a class="btn btn-secondary download mb-1" id="dl-pdf" title="<%= filename.pdf %>" href="<%= url.pdf %>" download="<%= filename.pdf %>"><svg class="icon align-top"><use xlink:href="/i/sprite1.svg#icon-file-pdf"></use></svg> Download PDF Calendar</a></p>

</div>
</div><!-- #pdf-body -->
<% } %>
</div><!-- .tab-content -->

</div><!-- .modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
