<div class="modal fade" id="hcdl-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title">Download</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<p class="small text-body-secondary mb-2">Select your calendar app:</p>
<ul class="nav nav-underline" id="download-tabs" role="tablist">
<li class="nav-item" role="presentation"><a class="nav-link py-0 active" href="#ios-body" data-bs-toggle="tab">Apple</a></li>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#gcal-body" data-bs-toggle="tab">Google</a></li>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#icalendar-body" data-bs-toggle="tab">iCalendar</a></li>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#olcom-body" data-bs-toggle="tab">Outlook Web</a></li>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#ol-ics-body" data-bs-toggle="tab">Outlook PC</a></li>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#csv-body" data-bs-toggle="tab">CSV</a></li>
<% if (typeof filename.pdf === 'string') { %>
<li class="nav-item" role="presentation"><a class="nav-link py-0" href="#pdf-body" data-bs-toggle="tab">PDF</a></li>
<% } %>
</ul><!-- #download-tabs -->
<div class="tab-content mt-2">
<div id="ios-body" class="tab-pane active">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Apple iOS &amp; macOS
</h6>
<div>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-ios'}) -%>
<% if (typeof emoiSwitchDisabled === 'undefined') { %>
<div class="row g-2 mb-2">
  <div class="col-auto"><label for="cal-color>">Color</label></div>
  <div class="col-2">
  <input class="form-control" type="color" id="cal-color" value="#800002">
 </div>
</div>
<% } %>
<div>
 <a class="btn btn-primary download mb-2" id="dl-ios"
  data-hebcal-attr="href" data-hebcal-src="webcal"
  title="Subscribe to <%= url.title %>"
  rel="nofollow" href="<%= url.webcal %>">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg>
  Subscribe on iPhone, iPad &amp; macOS</a>
</div>
<%- await include('download-modal-numyears.ejs') -%>
<p class="small">Step-by-step: <a title="iPhone and iPad - import Hebcal Jewish calendar"
target="_blank" class="outbound"
href="/home/77/iphone-ipad-jewish-calendar">iPhone / iPad</a> or
<a title="Apple macOS Calendar.app - import Hebcal Jewish calendar"
target="_blank" class="outbound"
href="/home/79/apple-ical-import-hebcal-jewish-calendar">macOS</a></p>
</div>
<div>
 <a class="btn btn-secondary btn-sm download mb-2" id="dl-ios-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">
  <svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg>
  Download <%= downloadAltTitle %></a>
  <p class="small">Use this download alternative if you prefer to manually import
  the calendar events and merge with your own calendar.</p>
</div>
</div>
</div><!-- #ios-body -->
<div id="ol-ics-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Outlook Windows PC Desktop
</h6>
<div>
<p class="small">Internet Calendar Subscriptions are used by Windows PCs with
  Microsoft 365, Outlook 2021, Outlook 2019, and 2016.</p>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-ol-ics'}) -%>
<div>
  <a class="btn btn-primary download mb-2" id="dl-ol-ics"
  data-hebcal-attr="href" data-hebcal-src="webcal"
  title="Add <%= url.title %> to Outlook for Windows"
  rel="nofollow" href="<%= url.webcal %>">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg>
  Outlook Internet Calendar Subscription</a>
</div>
<%- await include('download-modal-numyears.ejs') -%>
<p class="mb-0 small">Step-by-step: <a
title="Outlook Internet Calendar Subscription - import Hebcal Jewish calendar to Outlook for Windows"
target="_blank" class="outbound"
href="/home/8/outlook-ics-jewish-holidays">Outlook for Windows</a></p>
</div>
<div>
  <a class="btn btn-secondary btn-sm download mb-2" id="dl-ol-ics-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">
  <svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg>
  Download <%= downloadAltTitle %></a>
  <p class="small">Use this download alternative if you prefer to manually import
  the calendar events into Outlook and merge with your own calendar.</p>
</div>
</div>
</div><!-- #ol-ics-body -->
<div id="gcal-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Google Calendar
</h6>
<div>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-gcal'}) -%>
<div>
 <a class="btn btn-primary download mb-2" id="dl-gcal" rel="nofollow"
title="Add <%= url.title %> to Google Calendar"
target="_blank"
data-hebcal-attr="href" data-hebcal-src="gcal"
href="https://www.google.com/calendar/render?cid=<%= encodeURIComponent(url.gcal) %>">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg>
  Add to Google Calendar</a>
</div>
<%- await include('download-modal-numyears.ejs') -%>
</div>
<div>
  <a class="btn btn-secondary btn-sm download mb-2" id="dl-gcal-alt" title="<%= filename.ics %>" rel="nofollow" href="<%= url.ics1year %>" download="<%= filename.ics %>">
  <svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg>
  Download <%= downloadAltTitle %></a>
  <p class="small">Use this download alternative if you prefer to manually import
  the calendar events into Google Calendar and merge with your own calendar
  (see <a title="Google Calendar alternative instructions - import Hebcal Jewish calendar"
  target="_blank" class="outbound"
  href="/home/59/google-calendar-alternative-instructions">instructions</a>).
</div>
</div>
</div><!-- #gcal-body -->
<div id="icalendar-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  iCalendar feed URL
</h6>
<div>
<p class="small">The iCalendar (.ics) format is used by
  many calendar apps.</p>
<%- await include('emoji-switch.ejs', {id: 'grabLink'}) -%>
<div class="small mb-1">Copy the entire iCalendar URL:</div>
<div class="mb-3">
<div class="input-group input-group-sm mb-2">
<input type="text" class="form-control" size="60" id="grabLink"
data-hebcal-attr="value" data-hebcal-src="subical"
value="<%= url.subical %>">
<button id="grabBtn" class="btn btn-secondary grabBtn" data-bs-animation="false" data-clipboard-target="#grabLink">
<svg class="icon icon-md align-top"><use xlink:href="<%=spriteHref%>#clippy"></use></svg>
Copy
</button>
</div>
<%- await include('download-modal-numyears.ejs') -%>
</div>

</div>
</div><!-- #icalendar-body -->
<div id="olcom-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Outlook Web (Outlook.com)
</h6>
<div>
<p class="small">Outlook.com calendars are used by Windows 10 &amp; 11, Outlook Mac, and
  Microsoft email accounts such as Hotmail.com, MSN.com and Live.com</p>
<div class="mb-3">
<%- await include('emoji-switch.ejs', {id: 'dl-olcom'}) -%>
<div>
  <a class="btn btn-primary download mb-2" id="dl-olcom" rel="nofollow"
title="Add <%= url.title %> to Outlook.com"
target="_blank"
data-hebcal-attr="href" data-hebcal-src="olcom"
href="https://outlook.live.com/calendar/addfromweb?url=<%= encodeURIComponent(url.gcal) %>&amp;name=<%=encodeURIComponent(url.title)%>&amp;mkt=en-001">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg>
  Add to Outlook.com</a>
</div>
<%- await include('download-modal-numyears.ejs') -%>
</div>
</div>
</div><!-- #olcom-body -->
<div id="csv-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Comma Separated Values (CSV)
</h6>
<div>
<p class="small">CSV is a legacy calendar file format for Outlook 97-2003.
  Select the file that matches your computer’s date format:</p>
<ul class="list-unstyled">
<li><a class="btn btn-primary download me-1 mb-2" id="dl-csv-usa" title="<%= filename.csv_usa %>" rel="nofollow" href="<%= url.csv_usa %>" download="<%= filename.csv_usa %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg> Download CSV - USA</a>
  <small><code>mm/dd/yyyy</code></small></li>
<li><a class="btn btn-primary download me-1 mb-2" id="dl-csv-eur" title="<%= filename.csv_eur %>" rel="nofollow" href="<%= url.csv_eur %>" download="<%= filename.csv_eur %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg> Download CSV - Europe</a>
  <small><code>dd/mm/yyyy</code></small></li>
</ul>
<p class="mb-0 small">Step-by-step: <a title="Outlook CSV - import Hebcal Jewish calendar to Outlook 97, 98, 2000, 2002, 2003"
target="_blank" class="outbound"
href="/home/12/outlook-csv-jewish-holidays">CSV for Outlook for Windows</a></p>

</div>
</div><!-- #csv-body -->
<% if (typeof filename.pdf === 'string') { %>
<div id="pdf-body" class="tab-pane">
<h6 class="pt-3" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
  Print PDF (formatted for 8.5"x11" paper)
</h6>
<div>
<p><a class="btn btn-primary download mb-1" id="dl-pdf" title="<%= filename.pdf %>" rel="nofollow" href="<%= url.pdf %>" download="<%= filename.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-file-pdf"></use></svg> Download PDF Calendar</a></p>

</div>
</div><!-- #pdf-body -->
<% } %>
</div><!-- .tab-content -->

</div><!-- .modal-body -->
<div class="modal-footer">
  <button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">Close</button>
</div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  const modalEl = document.getElementById('hcdl-modal');
  modalEl.addEventListener('show.bs.modal', function () {
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackEvent', 'Interaction', 'download-modal', '<%=url.title%>']);
  });
});
</script>
