<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<form id="f2" class="needs-validation" novalidate>
<input type="hidden" name="v" value="1">
<input type="hidden" name="cfg" value="json">
<input type="hidden" name="modify" value="1">
<input type="hidden" name="geo" value="<%= q.geo || 'geonameid' %>">
<input type="hidden" name="zip" value="<%= q.zip || '' %>">
<input type="hidden" name="geonameid" value="<%= q.geonameid %>">
<input type="hidden" name="M" value="<%= q.M || 'on' %>">
<input type="hidden" name="m" value="<%= q.m %>">
<input type="hidden" name="b" value="<%= q.b || 18 %>">
<div class="modal-header">
  <h5 class="modal-title">Weekly Shabbat times email</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div id="email-modal-failure" class="alert alert-warning" role="alert" style="display: none">
  Sorry, that didn't work. Please try again later.
</div>
<div id="email-modal-success" class="alert alert-success" role="alert" style="display: none">
  <strong>Thank you!</strong> A confirmation message has been sent to your email address.
  Click the link within that message to confirm your subscription.
</div><!-- .alert -->
<div id="email-modal-entry">
  <p>Get candle lighting times for <%= location.getShortName() %>, Parashat ha-Shavua
    &amp; Havdalah delivered to your inbox every Thursday.</p>
  <div class="form-floating mb-3">
    <input class="form-control" type="email" name="em" id="em" placeholder="user@example.com" required>
    <label class="form-label" for="em">Email address</label>
    <div class="invalid-feedback">Please enter a valid email address.</div>
  </div>
  <p class="small"><strong>Email Privacy Policy</strong>:
    We will never sell or give your email address to anyone.
    We will never use your email address to send you unsolicited offers.</p>
</div><!-- #email-modal-entry -->
</div><!-- .modal-body -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary"
  id="email-subscribe">Subscribe</button>
</div>
</form>
</div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->  
<%- await include('email-modal-script.ejs', {resource: '/email/'}) -%>
