<footer class="hebcal-footer d-print-none">
<div class="row">
<div class="col">
<ul class="bullet-list-inline">
<li><time datetime="<%= new Date().toISOString() %>"><%= new Intl.DateTimeFormat('en-US', {
  year: 'numeric', month: 'long', day: 'numeric' }).format(new Date())%></time></li>
<li><a href="/home/about">About</a></li>
<li><a href="/home/about/privacy-policy">Privacy</a></li>
<li><a href="/home/help">Help</a></li>
<li><a href="/home/about/contact">Contact</a></li>
<li><a href="/home/developer-apis">Developer APIs</a></li>
</ul>
<p class="small">Except where otherwise noted, content on this site is licensed under a <a
rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
This website includes location data created by <a href="https://www.geonames.org/">GeoNames</a>
and <a href="https://www.maxmind.com/">MaxMind</a>, also licensed under Creative Commons.
</p>
</div><!-- .col -->
</div><!-- .row -->
</footer>
</div><!-- .container -->
<% if (typeof amp === 'boolean' && amp) { -%>
<amp-analytics><script type="application/json">
{
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  },
  "requests": {
    "base": "https://www.hebcal.com/ma/ma.php?idsite=1&rec=1&action_name=${title}&url=https%3A%2F%2F${canonicalHostname}${canonicalPath}&uid=${clientId(hebcal)}&rand=${random}&apiv=1&urlref=${documentReferrer}&res=${screenWidth}x${screenHeight}&lang=${browserLanguage}&gt_ms=${serverResponseTime}&cs=${documentCharset}",
    "pageview": "${base}"
  }
}
</script></amp-analytics>
<% } else { -%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<% if (typeof footerScripts === 'object') { -%>
<%   if (footerScripts.tooltip) { %><%- await include('script-tooltip.ejs') %><% } -%>
<%   if (footerScripts.clipboard) { %><%- await include('script-clipboard.ejs') %><% } -%>
<%   if (footerScripts.typeahead) { %><%- await include('script-typeahead.ejs') %><% } -%>
<% } -%>
<% if (typeof xtra_html !== 'undefined') { %><%- xtra_html %><% } -%>
<script><%- await include('analytics.js') %></script>
<% if (typeof cookieBanner === 'boolean' && cookieBanner) { -%>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center fixed-bottom mb-2">
 <div id="cookie-toast" class="toast bg-body-tertiary" role="alert" aria-live="polite" aria-atomic="true" data-bs-autohide="false">
  <div class="toast-body">
   We use cookies for personalization, analytics and advertising.
   By continuing to visit Hebcal you agree to our use of cookies
   in accordance with our <a href="/home/about/privacy-policy">privacy policy</a>.
   <div class="d-grid ms-2 me-2 mt-2">
    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast">I Understand</button>
  </div>
  </div>
 </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const toastEl = document.getElementById('cookie-toast')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastEl);
  toastBootstrap.show();
});
</script>
<% } -%>
<% } -%>
</body>
</html>
<!-- <%= hostname %> <%= new Date().toISOString() %> -->
