<% if (reading.haftara) { %>
<p class="haftara">Haftarah<%=reading.sephardic ? ' for Ashkenazim' : ''%><% if (reading?.reason?.haftara) { %><span class="text-success">*</span><% } %>:
<%- reading.haftaraHtml %>
<%- await include('numverses.ejs', {v: reading.haftaraNumV}) -%>
<% if (reading?.reason?.haftara) { %><br><span class="text-success ps-1 small">*<%= reading.reason.haftara %> <%= date ? '' : 'on ' + d.format('D MMMM YYYY') %></span><% } %>
</p>
<% } // reading.haftara %>
<% if (reading.sephardic) { %>
<p class="haftara">Haftarah for Sephardim<% if (reading?.reason?.sephardic) { %><span class="text-success">*</span><% } %>:
<%- reading.sephardicHtml %>
<%- await include('numverses.ejs', {v: reading.sephardicNumV}) -%>
<% if (reading?.reason?.sephardic) { %><br><span class="text-success ps-1 small">*<%= reading.reason.sephardic %> <%= date ? '' : 'on ' + d.format('D MMMM YYYY') %></span><% } %>
</p>
<% } // reading.sephardic %>
