<!DOCTYPE html>
<html lang="<%=lang%>" data-bs-theme="auto"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- await include('bootstrap-css.ejs') -%>
<style><%- await include('hebrew-font.css') -%></style>
<%- await include('merriweather.ejs') -%>
<style>
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
.icon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.mt-n1 {
  margin-top: -0.25rem !important;
}
.icon.icon-sm {
  width: 1.0rem;
  height: 1.0rem;
}
.icon.icon-xs {
  margin-top: -0.3rem !important;
  width: 0.7rem;
  height: 0.7rem;
}
.hebcal-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.hebcal-footer p {
  margin-bottom: 2px;
}
.bullet-list-inline {
  padding-left: 0;
  margin-left: -3px;
  list-style: none;
}
.bullet-list-inline > li {
  display: inline-block;
  padding-right: 3px;
  padding-left: 3px;
}
.bullet-list-inline li:after{content:"\00a0\00a0\00b7"}
.bullet-list-inline li:last-child:after{content:""}
.label{text-transform:none}
:lang(he) {
  font-family:'Adobe Hebrew','SBL Hebrew',David,serif;
  font-size:125%;
  font-style:normal;
  font-weight:400;
  direction:rtl;
}
small:lang(he) {
  font-size:100%;
}
a.outbound::after {
 content:"";
 width:11px;
 height:11px;
 margin-left:4px;
 background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
 background-position:center;
 background-repeat:no-repeat;
 background-size:contain;
 display:inline-block;
}
@media print{
 a[href]:after{content:""}
 .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  max-width: 100%;
 }
}
@media (min-width: 768px) {
  input#sitesearch {
    width: 132px;
  }
}
.text-burgundy{color:#941003}
[data-bs-theme=dark] {
  .text-burgundy{color:#946063}
}
</style>
<script>
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
  document.documentElement.setAttribute('data-bs-theme', 'dark');
}
</script>
