<!DOCTYPE html>
<html lang="<%=lang%>" data-bs-theme="auto"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<% if (typeof criticalCss === 'string') { -%>
<style><%- await include(criticalCss) %></style>
<link rel="stylesheet" href="<%= mainCssHref %>" media="print" id="maincss">
<noscript><link rel="stylesheet" href="<%= mainCssHref %>"></noscript>
<script nonce="<%=nonce%>">
document.getElementById('maincss').addEventListener('load',function(){
  this.media = 'all';
});
</script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<% } else { -%>
<%- await include('bootstrap-css.ejs') -%>
<% } -%>
<script nonce="<%=nonce%>">
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
  document.documentElement.setAttribute('data-bs-theme', 'dark');
}
</script>
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
