<form id="f1" name="f1" autocomplete="off" action="/hebcal">
<input type="hidden" name="v" value="1">
<div class="row">
<div class="col-sm-auto mb-2">
<fieldset class="mb-3">
<div class="row align-items-center gx-3">
<div class="form-floating col-auto mb-1">
<% let year = q.year;
if (typeof year !== 'string' || year.length === 0) {
  if (typeof q.end === 'string' && q.end.length === 10) {
    year = q.end.substring(0, 4);
  } else {
    year = q.yt === 'H' || defaultYearInfo.isHebrewYear ? defaultYearInfo.hy : defaultYearInfo.gregRange;
  }
} %>
<input type="text" inputmode="numeric" name="year" value="<%= year %>" size="4" maxlength="4" class="form-control" id="year" pattern="-?\d*" placeholder="Year">
<label for="year">Year</label>
</div><!-- .form-floating -->
<div class="col-auto">
<div class="form-check mb-1">
  <input class="form-check-input" type="radio" name="yt" value="G" id="ytG" <%= q.yt !== 'H' ? 'checked' : '' %>>
  <label class="form-check-label" for="ytG">Gregorian year <small>(common era)</small></label>
  </div>
<div class="form-check mb-1">
  <input class="form-check-input" type="radio" name="yt" value="H" id="ytH" <%= q.yt === 'H' ? 'checked' : '' %>>
  <label class="form-check-label" for="ytH">Hebrew year</label>
</div>
</div><!-- .col-auto -->
</div><!-- .row -->
</fieldset>
<fieldset class="mb-3">
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="i" id="i0" <%= q.i !== 'on' ? 'checked' : '' %> value="off">
    <label class="form-check-label" for="i0">Diaspora holiday schedule</label>
  </div>
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="i" id="i1" <%= q.i === 'on' ? 'checked' : '' %> value="on">
    <label class="form-check-label" for="i1">Israel holiday schedule</label>
  </div>
</fieldset>
<fieldset>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="maj" value="on" <%= q.maj === 'on' ? 'checked' : '' %> id="maj">
<label class="form-check-label" for="maj">Major Holidays</label>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="min" value="on" <%= q.min === 'on' ? 'checked' : '' %> id="min">
<label class="form-check-label" for="min">Minor Holidays</label> &nbsp;<span title="Tu BiShvat, Purim Katan, Shushan Purim, Pesach Sheni, Lag BaOmer, Tu B'Av, &amp; Leil Selichot" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="nx" value="on" <%= q.nx === 'on' ? 'checked' : '' %> id="nx">
<label class="form-check-label" for="nx">Rosh Chodesh</label>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="mf" value="on" <%= q.mf === 'on' ? 'checked' : '' %> id="mf">
<label class="form-check-label" for="mf">Minor Fasts</label> &nbsp;<span title="Ta'anit Esther, Tzom Gedaliah, Tzom Tammuz, Asara B'Tevet, &amp; Ta'anit Bechorot" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="ss" value="on" <%= q.ss === 'on' ? 'checked' : '' %> id="ss">
<label class="form-check-label" for="ss">Special Shabbatot</label> &nbsp;<span title="Shabbat Shuva, Shirah, Shekalim, Zachor, Parah, HaChodesh, HaGadol, Chazon, &amp; Nachamu" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="mod" value="on" <%= q.mod === 'on' ? 'checked' : '' %> id="mod">
<label class="form-check-label" for="mod">Modern Holidays</label> &nbsp;<span title="Yom HaShoah, Yom HaZikaron, Yom HaAtzma'ut, Yom Yerushalayim, Sigd, &amp; Yom HaAliyah" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="o" value="on" <%= q.o === 'on' ? 'checked' : '' %> id="o">
<label class="form-check-label" for="o">Days of the Omer</label>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="ykk" value="on" <%= q.ykk === 'on' ? 'checked' : '' %> id="ykk">
<label class="form-check-label" for="ykk">Yom Kippur Katan</label>
 &nbsp;<span title="Minor day of atonement occurring monthly on the day preceding each Rosh Chodesh" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yzkr" value="on" <%= q.yzkr === 'on' ? 'checked' : '' %> id="yzkr">
<label class="form-check-label" for="yzkr">Yizkor</label>
 &nbsp;<span title="Ashkenazi Jewish memorial prayer service for the dead recited in synagogue during four holidays yearly"
 data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="s" value="on" <%= q.s === 'on' ? 'checked' : '' %> id="s">
<label class="form-check-label" for="s">Weekly Torah portion on Saturdays</label>
</div></fieldset>
</div><!-- .col-sm-6 -->
<div class="col-sm-auto mb-2">
<fieldset>
<div class="form-floating">
<select name="lg" class="form-select mb-2" id="lg">
<% for (const langName of ['s', 'a', 'h', 'he-x-NoNikud']) {
  const desc = langNames[langName]; -%>
<option <%= (q.lg === langName) ? 'selected' : '' %> value="<%=langName%>"><%=desc[1] ? desc[1] + ' - ' : ''%><%=desc[0]%></option>
<% } -%>
<option <%= (q.lg === 'sh') ? 'selected' : '' %> value="sh">Sephardic translit. + Hebrew</option>
<option <%= (q.lg === 'ah') ? 'selected' : '' %> value="ah">Ashkenazic translit. + Hebrew</option>
<option disabled>----------------</option>
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<% if (['s', 'a', 'he-x-NoNikud', 'h'].indexOf(langName) !== -1) { continue; } -%>
<option <%= (q.lg === langName) ? 'selected' : '' %> value="<%=langName%>"><%=desc[1] ? desc[1] + ' - ' : ''%><%=desc[0]%></option>
<% } -%>
</select>
<label for="lg">Event titles</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="D" value="on" <%= q.D === 'on' ? 'checked' : '' %> id="d1">
<label class="form-check-label" for="d1">Show Hebrew date for dates with some event</label>
</div>
<div class="form-check mb-3">
<input class="form-check-input" type="checkbox" name="d" value="on" <%= q.d === 'on' ? 'checked' : '' %> id="d2">
<label class="form-check-label" for="d2">Show Hebrew date every day of the year</label>
</div>
</fieldset>
<details <%= Object.keys(q).filter((key) => q[key] === 'on' && dailyLearningOpts[key]).length > 0 ? 'open' : ''%> class="mb-3">
<summary class="fw-bold mb-2">Daily Learning</summary>
<div>
<% for (const key of Object.keys(dailyLearningOpts)) { %>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="<%=key%>" value="on" <%= q[key] === 'on' ? 'checked' : '' %> id="<%=key%>">
<label class="form-check-label" for="<%=key%>"><%= queryToName[key] %></label>
<% if (queryLongDescr[key]) { %> &nbsp;<span title="<%= queryLongDescr[key] %>" data-bs-toggle="tooltip" data-bs-animation="false"
 data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span><% } %>
</div>
<% } %>
</div><!-- .collapse -->
</details>
<details <%= q['city-typeahead'] ? 'open' : ''%> class="mb-2">
<summary class="fw-bold mb-3">Candle-lighting &amp; Fast times</summary>
<fieldset class="mt-2">
<div class="mb-3">
<input type="hidden" name="c" value="<%= q.c || 'off' %>" id="c">
<input type="hidden" name="geo" value="<%= q.geo || 'none' %>" id="geo">
<input type="hidden" name="zip" value="<%= q.zip || '' %>" id="zip">
<input type="hidden" name="geonameid" value="<%= q.geonameid || '' %>" id="geonameid">
  <div>
    <input type="text" name="city-typeahead" value="<%= q['city-typeahead'] || '' %>" class="form-control" id="city-typeahead" autocomplete="off" placeholder="Search for city or ZIP code">
  </div>
</div>
<div class="row gx-2 mb-3">
  <div class="col-auto">
    <input class="form-control" inputmode="numeric" type="text" name="b" value="<%= q.b || queryDefaultCandleMins(q) %>" size="2" maxlength="2" id="b1" pattern="\d*">
  </div>
  <label class="col-auto col-form-label" for="b1">minutes before sundown</label>
</div>
<div class="mb-1">Havdalah</div>
<div class="form-check mb-1">
  <input class="form-check-input" type="radio" name="M" id="M1" <%= (q.M === 'on' || q.m === '') ? 'checked' : (q.M === 'off' || (typeof q.m === 'string' && q.m.charCodeAt(0) >= 48 && q.m.charCodeAt(0) <= 57)) ? '' : 'checked' %> value="on">
  <label class="form-check-label" for="M1">nightfall (tzeit hakochavim)</label>
  &nbsp;<span title="the point when 3 small stars are observable in the night time sky with the naked eye" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div><!-- .form-check -->
<div class="row gx-2 mb-3">
<div class="col-auto">
<div class="form-check">
  <input class="form-check-input" style="margin-top: 0.75em" type="radio" name="M" id="M0" <%= (q.M === 'on' || q.m === '') ? '' : (q.M === 'off' || (typeof q.m === 'string' && q.m.charCodeAt(0) >= 48 && q.m.charCodeAt(0) <= 57)) ? 'checked' : '' %> value="off">
  <label class="col-auto col-form-label" for="M0">minutes past sundown:</label>
</div><!-- .form-check -->
</div><!-- .col-auto -->
<div class="col-auto">
  <input class="form-control" inputmode="numeric" type="text" name="m" value="<%= q.m || '' %>" size="2" maxlength="2" id="m" pattern="\d*">
</div>
<div class="col-auto" style="margin: auto 0">
  <span title="Use 42 min for three medium-sized stars, 50 min for three small stars, 72 min for Rabbeinu Tam, or 0 to suppress Havdalah times" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div>
</div><!-- .row -->
</fieldset>
<div class="mb-1">Elevation</div>
<fieldset class="mb-2">
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="ue" id="ue0" <%= q.ue !== 'on' ? 'checked' : '' %> value="off">
    <label class="form-check-label" for="ue0">Sea-level (no elevation)</label>
  </div>
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="ue" id="ue1" <%= q.ue === 'on' ? 'checked' : '' %> value="on">
    <label class="form-check-label" for="ue1">Include elevation in sunrise/sunset estimate</label>
  </div>
</fieldset>
</details>
</div><!-- .col-sm-6 -->
</div><!-- .row -->
<button type="submit" class="btn btn-primary">Create Calendar</button>
</form>
