<span class="text-nowrap"><time class="fw-bolder" datetime="<%=item.startIsoDate%>"><%= item.d.format(isHebrewYear ? 'ddd, D MMM YYYY' : 'ddd, D MMMM') %></time> <small><%=item.beginsWhen.replace(/^at /, '').replace('sundown', 'sunset')%></small></span> -
<span class="text-nowrap"><% if (item.duration > 0) { -%>
 <time class="fw-bolder" datetime="<%=item.startIsoDate%>"><%= item.endD.format(isHebrewYear ? 'ddd, D MMM YYYY' : 'ddd, D MMMM') %></time>
<% } %> <small>nightfall</small></span>
