<div class="d-print-none mt-2">
<div class="d-none d-sm-block">
<nav>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/holidays/">Holidays</a></li>
  <li class="breadcrumb-item"><a href="/holidays/#<%=categoryId%>"><%=categoryName%></a></li>
<% if (year) { %>
  <li class="breadcrumb-item"><a href="<%=holidayAnchor%><%=il?'?i=on':''%>"><%=holiday%></a></li>
  <li class="breadcrumb-item active"><%=year%> (<%=upcomingHebrewYear%>)</li>
<% } else { %>
  <li class="breadcrumb-item active"><%=holiday%></li>
<% } %>
</ol>
</nav>
</div><!-- .d-none d-sm-block -->
</div><!-- .d-print-none -->
