<div class="accordion-item">
<h2 class="accordion-header" id="heading-<%=id%>">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body-<%=id%>" aria-expanded="false" aria-controls="body-<%=id%>">
<% if (typeof he === 'boolean' && he) { %><span lang="he" dir="rtl" style="font-size: 1.5rem"><%=name%></span><% } else { %><%=typeof titleName === 'string' ? titleName : name%><% } %>
<% if (typeof emoji === 'string') { %>&nbsp; <span class="text-nowrap"><%=emoji%></span><% } %>
</button>
</h2>
<div id="body-<%=id%>" class="accordion-collapse collapse" aria-labelledby="heading-<%=id%>" data-bs-parent="#ical-accordion">
<div class="accordion-body">
<%-summary%>
<% if (typeof feedLength !== 'undefined') { %><p class="text-muted"><%=feedLength%> events per year · <span class="text-nowrap"><%=years%>-year perpetual feed</span></p><% } %>
<% if (typeof noToolbar === 'undefined') { %><%- await include('ical-toolbar.ejs', {
  name: name,
  basename: id,
  noOutlook: (typeof noCSV === 'boolean' && noCSV) ? true : undefined,
}) -%><% } %>
<% if (typeof moreInfo === 'string') { %><%-moreInfo%><% } %>
</div>
</div>
</div>
