<div class="row gy-1 gx-2 mb-2">
<input type="hidden" name="c" value="on">
<input type="hidden" name="geo" value="pos">
<div class="col-auto form-floating">
<input type="text" name="ladeg" value="<%= q.ladeg || '' %>" size="3" maxlength="2" class="form-control" id="ladeg" pattern="\d*" placeholder="deg"> <label class="form-label" for="ladeg">deg</label>
</div>
<div class="col-auto form-floating">
<input type="text" name="lamin" value="<%= q.lamin || '' %>" size="2" maxlength="2" class="form-control" id="lamin" pattern="\d*" placeholder="min"> <label class="form-label" for="lamin">min</label>
</div>
<div class="col-auto form-floating">
<select name="ladir" class="form-select mb-2" id="ladir">
<option <%- (q.ladir !== 's') ? 'selected' : '' -%> value="n">North Latitude</option>
<option <%- (q.ladir === 's') ? 'selected' : '' -%> value="s">South Latitude</option>
</select>
<label class="form-label" for="ladir">dir</label>
</div>
</div><!-- .mb-2 -->
<div class="row gy-1 gx-2 mb-2">
<div class="col-auto form-floating">
<input type="text" name="lodeg" value="<%= q.lodeg || '' %>" size="3" maxlength="3" class="form-control" id="lodeg" pattern="\d*" placeholder="deg"> <label class="form-label" for="lodeg">deg</label>
</div>
<div class="col-auto form-floating">
<input type="text" name="lomin" value="<%= q.lomin || '' %>" size="2" maxlength="2" class="form-control" id="lomin" pattern="\d*" placeholder="min"> <label class="form-label" for="lomin">min</label>
</div>
<div class="col-auto form-floating">
<select name="lodir" class="form-select mb-2" id="lodir">
<option <%- (q.lodir !== 'e') ? 'selected' : '' -%> value="w">West Longitude</option>
<option <%- (q.lodir === 'e') ? 'selected' : '' -%> value="e">East Longitude</option>
</select>
<label class="form-label" for="lodir">dir</label>
</div>
</div><!-- .mb-2 -->
<div class="mb-2 form-floating">
<select name="tzid" class="form-select mb-2" id="tzid">
<option selected>UTC</option>
<% tzids.forEach((tzid) => { -%>
<option><%= tzid %></option>
<% }); -%>
</select>
<label class="form-label" for="tzid">Time zone</label>
</div><!-- .mb-2 -->
