<div class="d-print-none mt-2">
<div class="d-none d-sm-block">
<nav>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/sedrot/<%=iSuffix%>">Torah Readings</a></li>
  <li class="breadcrumb-item"><a href="/sedrot/<%=iSuffix%>#<%=parsha.book%>"><%=parsha.book%></a></li>
<% if (date) { %>
  <li class="breadcrumb-item"><a href="<%=parsha.anchor%><%=iSuffix%>"><%=parsha.name%></a></li>
  <li class="breadcrumb-item active"><%=hd.getFullYear()%></li>
<% } else { %>
  <li class="breadcrumb-item active"><%=parsha.name%></li>
<% } %>
</ol>
</nav>
</div><!-- .d-none d-sm-block -->
</div><!-- .d-print-none -->
