<div class="yahrzeit-row" id="row<%=num%>">
<div class="row gy-1 gx-2 mb-3 align-items-center mt-1">
<div class="col-auto form-floating"><input class="form-control" type="text" name="n<%=num%>" id="n<%=num%>" value="<%= q['n'+num] || '' %>" placeholder="Name (optional)">
<label class="form-label" for="n<%=num%>">Name (optional)</label></div>
<div class="col-auto form-floating"><select name="t<%=num%>" id="t<%=num%>" class="form-select">
 <option <%= (q['t'+num] == 'Yahrzeit') ? 'selected' : '' %>>Yahrzeit</option>
 <option <%= (q['t'+num] == 'Birthday') ? 'selected' : '' %>>Birthday</option>
 <option <%= (q['t'+num] == 'Anniversary') ? 'selected' : '' %>>Anniversary</option>
</select>
<label class="form-label" for="t<%=num%>">Type</label></div>
<div class="col-auto form-floating"><input class="form-control" type="text" inputmode="numeric" name="d<%=num%>" id="d<%=num%>" value="<%= q['d'+num] || '' %>" size="2" maxlength="2" max="31" min="1" pattern="\d*" placeholder="Day">
<label class="form-label" for="d<%=num%>">Day</label></div>
<div class="col-auto form-floating"><select name="m<%=num%>" id="m<%=num%>" class="form-select">
 <option <%= (q['m'+num] == 1) ? 'selected' : '' %> value="1">January</option>
 <option <%= (q['m'+num] == 2) ? 'selected' : '' %> value="2">February</option>
 <option <%= (q['m'+num] == 3) ? 'selected' : '' %> value="3">March</option>
 <option <%= (q['m'+num] == 4) ? 'selected' : '' %> value="4">April</option>
 <option <%= (q['m'+num] == 5) ? 'selected' : '' %> value="5">May</option>
 <option <%= (q['m'+num] == 6) ? 'selected' : '' %> value="6">June</option>
 <option <%= (q['m'+num] == 7) ? 'selected' : '' %> value="7">July</option>
 <option <%= (q['m'+num] == 8) ? 'selected' : '' %> value="8">August</option>
 <option <%= (q['m'+num] == 9) ? 'selected' : '' %> value="9">September</option>
 <option <%= (q['m'+num] == 10) ? 'selected' : '' %> value="10">October</option>
 <option <%= (q['m'+num] == 11) ? 'selected' : '' %> value="11">November</option>
 <option <%= (q['m'+num] == 12) ? 'selected' : '' %> value="12">December</option>
</select>
<label class="form-label" for="m<%=num%>">Month</label></div>
<div class="col-auto form-floating"><input class="form-control" type="text" inputmode="numeric" name="y<%=num%>" value="<%= q['y'+num] || '' %>" size="4" maxlength="4" pattern="\d*" placeholder="Year">
<label class="form-label" for="y<%=num%>">Year</label></div>
<div class="col-auto form-check m-2">
 <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-0" <%= q['s'+num] !== 'on' ? ' checked' : '' %> value="off">
 <label class="form-check-label" for="s<%=num%>-0">Before sunset</label>
</div>
<div class="col-auto form-check">
 <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-1" <%= q['s'+num] === 'on' ? ' checked' : '' %> value="on">
 <label class="form-check-label" for="s<%=num%>-1">After sunset</label>
</div>
<div class="col-auto ms-2">
<button type="button" class="btn btn-sm btn-outline-danger del" id="del-<%=num%>">
<svg class="icon"><use xlink:href="<%=spriteHref%>#bi-trash"></use></svg>
Delete
</button>
</div>
</div>
</div>
