<%- await include('partials/header2.ejs', {
  title: `Hebrew Date Converter - ${gdateStr}${gs?' after sunset':''} / ${hdateStr}`,
  ampAds: true,
  ampForm: true,
}) -%>
<% if (gy <= 1752 || gy > new Date().getFullYear() + 100) { %><meta name="robots" content="nofollow"><% } %>
<link rel="canonical" href="https://www.hebcal.com/converter?<%=canonical%>">
<% if (typeof prev === 'object' && prev !== null) { %><link rel="prev" href="<%=prev.url%>"><% } %>
<% if (typeof next === 'object' && next !== null) { %><link rel="next" href="<%=next.url%>"><% } %>
<meta name="description" content="Convert Gregorian/civil and Hebrew/Jewish calendar dates. <%= first %> = <%= second %>">
<% if (typeof amp === 'undefined' || !amp) { -%>
<link rel="amphtml" href="https://www.hebcal.com/converter?<%=canonical%>&amp;amp=1">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/etc/hdate-en.xml">
<style>
#converter-results {
 text-align: center;
}
#converter-results .big-list {
  margin-bottom: 6px;
  font-size: 29px;
  font-weight: 200;
  line-height: normal;
}
#converter-results .jumbo {
  font-size: 48px;
}
.smaller {font-size: 0.75em}
.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
}
</style>
<% } -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col">
<% if (typeof message !== 'undefined') { -%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <%= message %>
</div><!-- .alert -->
<% } else if (gy < 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<div id="converter-results" class="mt-4">
<ul class="list-unstyled">
<li class="big-list"<% if (locale == 'he') { %> lang="he" dir="rtl"<% } -%>><span class="text-nowrap"><%- first.replace(/ after sunset/, '</span> <span class="smaller text-nowrap text-burgundy">after sunset') %></span> = <strong class="text-nowrap"><%= second %></strong></li>
<li id="jumbo-hebdate" dir="rtl" lang="he" class="big-list jumbo"><%= hebrew %></li>
<%- await include('partials/converter-inner.ejs', {
  items: dateItems.both, location: false}) -%>
<%- await include('partials/converter-inner.ejs', {
  items: dateItems.diasporaOnly, location: 'the Diaspora'}) -%>
<%- await include('partials/converter-inner.ejs', {
  items: dateItems.israelOnly, location: 'Israel'}) -%>
</ul>
<% if (hmStr.startsWith('Adar')) {
const todayHebYear = todayHd.getFullYear();
const isPast = hy < todayHebYear;
-%>
<p class="small text-muted">Hebrew year <strong><%= hy %></strong> <%= isPast ? 'was' : 'is' %> <%= hleap ? '' : 'not ' %> a leap year (note month: <strong><%= hmStr %></strong>)</p>
<% } -%>
</div><!-- #converter-results -->
</div><!-- .col -->
</div><!-- .row -->
<% if (typeof amp === 'undefined' || !amp) { -%>
<div class="d-flex justify-content-center d-print-none">
<div class="form-check form-switch mb-2">
<input class="form-check-input" type="checkbox" role="switch" id="nikud-checkbox" checked>
<label class="form-check-label" for="nikud-checkbox">Show Hebrew <i>nekudot</i></label>
</div>
</div><!-- .d-flex -->
<% } -%>
<div class="overflow-auto">
<% if (typeof prev === 'object' && prev !== null) { -%>
<div class="float-start d-print-none me-2">
<a class="btn btn-xs btn-outline-secondary" href="<%=prev.url%>" title="previous date"><span aria-hidden="true">←</span> <%=prev.title%></a>
</div>
<% } -%>
<% if (typeof next === 'object' && next !== null) { -%>
<div class="float-end d-print-none ms-2">
<a class="btn btn-xs btn-outline-secondary" href="<%=next.url%>" title="next date"><%=next.title%> <span aria-hidden="true">→</span></a>
</div>
<% } -%>
<div id="ctoday" class="d-flex justify-content-center d-print-none">
<% if (typeof amp === 'boolean' && amp) { -%>
<div class="small"><a href="/converter">Convert today’s date</a></div>
<% } -%>
</div>
</div><!-- .clearfix -->
<div id="converter-form" class="d-print-none mt-4">
<div class="row">
<div class="col-md">
<form class="row gy-1 gx-2 mb-3 align-items-center" method="get" autocomplete="off" action="/converter" target="_top">
<h5>Convert from Gregorian to Hebrew</h5>
<div class="form-floating col-auto mb-2">
<input type="text" inputmode="numeric" class="form-control" name="gd" placeholder="day" value="<%= gd %>" size="2" maxlength="2" id="gd" pattern="\d*">
<label for="gd">Day</label>
</div><!-- .col -->
<div class="form-floating col-auto mb-2">
<select name="gm" id="gm" class="form-select">
 <option <%- (gm === 1) ? 'selected' : '' -%> value="1">01 - January</option>
 <option <%- (gm === 2) ? 'selected' : '' -%> value="2">02 - February</option>
 <option <%- (gm === 3) ? 'selected' : '' -%> value="3">03 - March</option>
 <option <%- (gm === 4) ? 'selected' : '' -%> value="4">04 - April</option>
 <option <%- (gm === 5) ? 'selected' : '' -%> value="5">05 - May</option>
 <option <%- (gm === 6) ? 'selected' : '' -%> value="6">06 - June</option>
 <option <%- (gm === 7) ? 'selected' : '' -%> value="7">07 - July</option>
 <option <%- (gm === 8) ? 'selected' : '' -%> value="8">08 - August</option>
 <option <%- (gm === 9) ? 'selected' : '' -%> value="9">09 - September</option>
 <option <%- (gm === 10) ? 'selected' : '' -%> value="10">10 - October</option>
 <option <%- (gm === 11) ? 'selected' : '' -%> value="11">11 - November</option>
 <option <%- (gm === 12) ? 'selected' : '' -%> value="12">12 - December</option>
</select>
<label for="gm">Month</label>
</div><!-- .col -->
<div class="form-floating col-auto mb-2">
<input type="text" inputmode="numeric" class="form-control" name="gy" placeholder="year" value="<%= gy %>" size="5" maxlength="5" id="gy" pattern="-?\d*">
<label for="gy">Year</label>
</div><!-- .col -->
<div class="col-auto mb-2">
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="gs" value="on" <%= gs ? ' checked' : '' -%> id="gs">
  <label class="form-check-label" for="gs">After sunset</label>
</div><!-- .form-check -->
</div><!-- .col -->
<% if (il) {%><input type="hidden" name="i" value="on"><%}%>
<div class="col-auto mb-3">
<button type="submit" name="g2h" value="1" class="btn btn-primary text-nowrap">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-refresh"></use></svg>
  Convert to Hebrew
</button>
</div><!-- .col -->
</form>
</div><!-- .col-md -->

<div class="col-md">
<form class="row gy-1 gx-2 mb-3 align-items-center" method="get" autocomplete="off" action="/converter" target="_top">
<h5>Convert from Hebrew to Gregorian</h5>
<%- await include('partials/hebdate-picker.ejs', {
  hd: hd,
  hm: hm,
  hy: hy,
  hleap: hleap,
  suffix: '',
}) -%>
<% if (il) {%><input type="hidden" name="i" value="on"><%}%>
<div class="col mb-3">
<button type="submit" name="h2g" value="1" class="btn btn-primary text-nowrap">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-refresh"></use></svg>
  Convert to Gregorian
</button>
</div><!-- .col -->
</form>
</div><!-- .col-md -->
</div><!-- .row -->
</div><!-- #converter-form -->

<div class="d-flex justify-content-center d-print-none">
<h6 class="text-muted mt-2 mb-1">Advertisement</h6>
</div><!-- .d-flex -->
<div class="d-print-none mb-2">
<% if (typeof amp === 'boolean' && amp) { -%>
<amp-ad width="100vw" height="320"
  type="adsense"
  data-ad-client="ca-pub-7687563417622459"
  data-ad-slot="8149436309"
  data-auto-format="rspv"
  data-full-width="">
<div overflow=""></div>
</amp-ad>
<% } else { -%>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-layout="in-article"
data-ad-format="fluid"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="5342180883"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% } -%>
</div><!-- .d-print-none -->

<div class="row d-print-none mt-4">
<div class="col">
<h5>How to read Hebrew Dates</h5>
<p>Hebrew dates are written right-to-left with the day of the month, followed by the
month name, then the Hebrew year. <a
href="/home/1824/numerical-values-of-hebrew-letters">Numerical values</a> are
represented using letters of the Hebrew <em>alef-bet</em> (alphabet).</p>
</div><!-- .col -->
</div><!-- .row -->
<div class="row d-print-none mt-3">
<div class="col-sm-6 mb-3">
<h5><svg class="icon icon-md mb-1 me-1 text-muted" fill="currentColor"><use xlink:href="<%=spriteHref%>#gi-user-parents"></use></svg>
 Yahrzeit + Anniversary Calendar</h5>
<p>Create a personal list of Yahrzeit (memorial) and Yizkor dates,
Hebrew Birthdays and Anniversaries for 20+ years.
Free annual email reminders &amp; calendar downloads.
<br><a href="/yahrzeit">Get started &raquo;</a></p>
</div><!-- .col -->
<div class="col-sm-6 mb-3">
<h5><svg class="icon icon-md mb-1 me-1 text-muted" fill="currentColor"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg>
 Holiday Calendar</h5>
<p>Jewish holidays, candle-lighting times, and Torah readings for any year,
 past or present.
<br><a href="<%=calendarUrl + yearArgs %>"><%= gregRangeShort %> Calendar &raquo;</a></p>
</div><!-- .col -->
</div><!-- .row -->
<div id="future" class="row">
<div class="col-md-6" id="future-heb">
<h4><%= hdate.render(locale, false) %></h4>
<table class="table table-condensed table-striped">
<colgroup><col style="width:154px"><col></colgroup>
<tbody>
<% futureYearsHeb.forEach((item) => { -%>
<tr><td><%= item.d.format('ddd, D MMM YYYY') %></td><td><a href="<%=h2gURL(item.hd, il).url%>"><%= item.hd.toString() %></a></td></tr>
<% }); -%>
</tbody>
</table>
</div><!-- .col -->
<div class="col-md-6" id="future-greg">
<h4><%= d.format('D MMMM') %></h4>
<table class="table table-condensed table-striped">
<colgroup><col style="width:154px"><col></colgroup>
<tbody>
<% futureYearsGreg.forEach((item) => { -%>
<tr><td><%= item.d.format('ddd, D MMM YYYY') %></td><td><a href="<%=h2gURL(item.hd, il).url%>"><%= item.hd.toString() %></a></td></tr>
<% }); -%>
</tbody>
</table>
</div><!-- .col -->
</div><!-- .row -->
<% if (typeof amp === 'undefined' || !amp) { -%>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var switchEl = document.querySelector("#nikud-checkbox");
  var hebdateEl = document.querySelector("#jumbo-hebdate");
  switchEl.addEventListener('change', function(event) {
    hebdateEl.innerHTML = event.target.checked ? '<%= hebrew %>' : '<%= hebrewNoNikkud %>';
  });
  var gy=<%=gy%>, gm=<%=gm%>, gd=<%=gd%>;
  var dt = new Date();
  if (dt.getFullYear() != gy || dt.getMonth()+1 != gm || dt.getDate() != gd) {
    var ctodayEl = document.querySelector("#ctoday");
    ctodayEl.innerHTML = '<div class="small"><a href="/converter">Convert today’s date</a></div>';
  }
});
document.addEventListener('keydown', function(e) {
  if (e.key === 'ArrowLeft') {
    var linkEl = document.querySelector('link[rel=prev]');
    if (linkEl) {
      document.location.href = linkEl.href;
    }
  } else if (e.key === 'ArrowRight') {
    var linkEl = document.querySelector('link[rel=next]');
    if (linkEl) {
      document.location.href = linkEl.href;
    }
  }
});
</script>
<% } -%>
<%- await include('partials/footer.ejs') _%>
