<% include partials/header-noclose.ejs %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/etc/hdate-en.xml">
<meta name="description" content="Convert Gregorian/civil and Hebrew/Jewish calendar dates. <%= first %> = <%= second %>">
<style>
.icon {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
#converter-results {
 margin-top: 32px;
 margin-bottom: 32px;
 text-align: center;
}
#converter-results .big-list {
  margin-bottom: 6px;
  font-size: 29px;
  font-weight: 200;
  line-height: normal;
}
#converter-results .jumbo {
  font-size: 37px;
}
.nobr { white-space: nowrap }
</style>
<script>
  WebFontConfig = {
    google: { families: [ 'Alef' ] }
  };
  (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    wf.async = true;
    s.parentNode.insertBefore(wf, s);
  })(document);
</script>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-12">
<% if (typeof message !== 'undefined') { -%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
</div><!-- .alert -->
<% } else if (gy < 1752) { -%>
<% include partials/warning-1752.ejs %>
<% } -%>
<div id="converter-results">
<ul class="list-unstyled">
<li class="big-list"><span class="nobr"><%= first %></span> = <strong class="nobr"><%= second %></strong></li>
<li dir="rtl" lang="he" class="hebrew big-list jumbo"><%= hebrew %></li>
<% events.forEach((ev) => { -%>
<% if (ev.url()) { -%>
<li><a href="<%= ev.url() %>"><%= ev.render() -%></a></li>
<% } else { -%>
<li><%= ev.render() -%></li>
<% } -%>
<% }); -%>
</ul>
</div><!-- #converter-results -->
<div id="converter-form" class="d-print-none">
<div class="row">
<div class="col-sm">
<h5>Convert from Gregorian to Hebrew date</h5>
<form method="get" action="/converter">
<div class="row">
<div class="col-auto mb-3">
<input type="text" class="form-control" name="gd" placeholder="day" value="<%= gd %>" size="2" maxlength="2" id="gd" pattern="\d*">
</div><!-- .col -->
<div class="col-auto mb-3">
<select name="gm" class="form-select">
 <option <%- (gm === 1) ? 'selected' : '' -%> value="1">January</option>
 <option <%- (gm === 2) ? 'selected' : '' -%> value="2">February</option>
 <option <%- (gm === 3) ? 'selected' : '' -%> value="3">March</option>
 <option <%- (gm === 4) ? 'selected' : '' -%> value="4">April</option>
 <option <%- (gm === 5) ? 'selected' : '' -%> value="5">May</option>
 <option <%- (gm === 6) ? 'selected' : '' -%> value="6">June</option>
 <option <%- (gm === 7) ? 'selected' : '' -%> value="7">July</option>
 <option <%- (gm === 8) ? 'selected' : '' -%> value="8">August</option>
 <option <%- (gm === 9) ? 'selected' : '' -%> value="9">September</option>
 <option <%- (gm === 10) ? 'selected' : '' -%> value="10">October</option>
 <option <%- (gm === 11) ? 'selected' : '' -%> value="11">November</option>
 <option <%- (gm === 12) ? 'selected' : '' -%> value="12">December</option>
</select>
</div><!-- .col -->
<div class="col-auto mb-3">
<input type="text" class="form-control" name="gy" placeholder="year" value="<%= gy %>" size="4" maxlength="4" id="gy" pattern="\d*">
</div><!-- .col -->
<div class="col-auto mb-3">
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="gs" value="on" <%= gs ? ' checked' : '' -%> id="gs">
  <label class="form-check-label" for="gs">After sunset</label>
</div><!-- .form-check -->
</div><!-- .col -->
</div><!-- .row -->
<div class="row">
<div class="col mb-3">
<button type="submit" name="g2h" value="1" class="btn btn-primary text-nowrap">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="#gi-refresh"></use></svg>
  Convert to Hebrew
</button>
</div><!-- .col -->
</div><!-- .row -->
</form>
</div><!-- .col-sm -->

<div class="col-sm">
<h5>Convert from Hebrew to Gregorian date</h5>
<form method="get" action="/converter">
<div class="row">
<div class="col-auto mb-3">
<input type="text" class="form-control" name="hd" placeholder="day" value="<%= hd %>" size="2" maxlength="2" id="hd" pattern="\d*">
</div><!-- .col -->
<div class="col-auto mb-3">
<select name="hm" class="form-select">
 <option <%- (hm === 1) ? 'selected' : '' -%> value="Nisan">Nisan</option>
 <option <%- (hm === 2) ? 'selected' : '' -%> value="Iyyar">Iyyar</option>
 <option <%- (hm === 3) ? 'selected' : '' -%> value="Sivan">Sivan</option>
 <option <%- (hm === 4) ? 'selected' : '' -%> value="Tamuz">Tamuz</option>
 <option <%- (hm === 5) ? 'selected' : '' -%> value="Av">Av</option>
 <option <%- (hm === 6) ? 'selected' : '' -%> value="Elul">Elul</option>
 <option <%- (hm === 7) ? 'selected' : '' -%> value="Tishrei">Tishrei</option>
 <option <%- (hm === 8) ? 'selected' : '' -%> value="Cheshvan">Cheshvan</option>
 <option <%- (hm === 9) ? 'selected' : '' -%> value="Kislev">Kislev</option>
 <option <%- (hm === 10) ? 'selected' : '' -%> value="Tevet">Tevet</option>
 <option <%- (hm === 11) ? 'selected' : '' -%> value="Shvat">Sh'vat</option>
 <option <%- (hm === 12 && !hleap) ? 'selected' : '' -%> value="Adar">Adar</option>
 <option <%- (hm === 12 && hleap) ? 'selected' : '' -%> value="Adar1">Adar I</option>
 <option <%- (hm === 13) ? 'selected' : '' -%> value="Adar2">Adar II</option>
</select>
</div><!-- .col -->
<div class="col-auto mb-3">
<input type="text" class="form-control" name="hy" placeholder="year" value="<%= hy %>" size="4" maxlength="4" id="hy" pattern="\d*">
</div><!-- .col -->
<div class="col mb-3">
<button type="submit" name="h2g" value="1" class="btn btn-primary text-nowrap">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="#gi-refresh"></use></svg>
  Convert to Gregorian
</button>
</div><!-- .col -->
</div><!-- .row -->
</form>
</div><!-- .col-sm -->
</div><!-- .row -->
</div><!-- #converter-form -->

<hr class="d-print-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6>Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- banner-320x100 -->
<ins class="adsbygoogle"
 style="display:inline-block;width:320px;height:100px"
 data-ad-client="ca-pub-7687563417622459"
 data-ad-slot="1867606375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
<div class="row d-print-none mt-4">
<div class="col">
<h5>Yahrzeit + Anniversary Calendar</h5>
<p>Calculate anniversaries on the Hebrew calendar ten years into the
future. Download/export to Outlook, iPhone, Google Calendar and more.</p>
<p><a class="btn btn-secondary" href="/yahrzeit/" role="button">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="#gi-user-parents"></use></svg>
  Yahrzeit + Anniversary Calendar &raquo;</a></p>
</div><!-- .col -->
</div><!-- .row -->

</div><!-- .col-sm-12 -->
</div><!-- .row -->
</div><!-- #content -->

<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="gi-refresh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M27.99908,15.83618A12.00008,12.00008,0,0,1,16.71484,27.97852c-.24414.01464-.48828.022-.73046.022a11.89341,11.89341,0,0,1-7.17121-2.39478L7.42542,27.16956a.5.5,0,0,1-.85975-.21326L5.08826,20.90479a.5.5,0,0,1,.54571-.615l6.18421.74732a.5.5,0,0,1,.314.82825L10.81372,23.3512A8.998,8.998,0,0,0,24.99817,15.798a1.07162,1.07162,0,0,1,.31824-.8341,1.03419,1.03419,0,0,1,.80731-.26123l1.00909.12207a1.08451,1.08451,0,0,1,.61676.3247A.93076.93076,0,0,1,27.99908,15.83618ZM6.68359,17.03613a1.07162,1.07162,0,0,0,.31824-.8341A8.99623,8.99623,0,0,1,21.18628,8.6488L19.8678,10.13464a.5.5,0,0,0,.314.82825l6.18421.74732a.5.5,0,0,0,.54571-.615L25.43433,5.0437a.5.5,0,0,0-.85975-.21326L23.18683,6.39429a11.89341,11.89341,0,0,0-7.17121-2.39478c-.24218,0-.48632.00733-.73046.022A12.00008,12.00008,0,0,0,4.00092,16.16382a.93076.93076,0,0,0,.24951.68677,1.08451,1.08451,0,0,0,.61676.3247l1.00909.12207A1.03419,1.03419,0,0,0,6.68359,17.03613Z"/>
</symbol>
<symbol id="gi-user-parents" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M28.17047,24.67822A2.15727,2.15727,0,0,1,29,26.23669V27.5a.5.5,0,0,1-.5.5H20.94946A2.50046,2.50046,0,0,0,21,27.5V26.23682a3.48694,3.48694,0,0,0-.77911-2.35193A4.26757,4.26757,0,0,0,21.15723,24h.68554a4.88334,4.88334,0,0,0,3.80713-1.978C26.556,22.98669,27.81232,24.32007,28.17047,24.67822Zm1.08563-6.97461C26.5224,13.75513,29.56964,6,24,6a5.1588,5.1588,0,0,0-7.15405.00391A7.04129,7.04129,0,0,1,18,10v1.6709a3.35379,3.35379,0,0,1,.50879,3.40137l-.27832.75a4.72611,4.72611,0,0,1-1.39453,1.94091L16.38385,19.833a20.40837,20.40837,0,0,0,2.238.3855A2.89327,2.89327,0,0,0,21.157,22H21.843a2.89317,2.89317,0,0,0,2.53631-1.78418,16.84319,16.84319,0,0,0,4.39606-1.05469A.99171.99171,0,0,0,29.2561,17.70361ZM18.17047,24.67822c-.43512-.32959-1.82849-1.47961-2.95166-2.41211A5.01529,5.01529,0,0,1,11.44775,24H9.55225a5.01415,5.01415,0,0,1-3.77674-1.7417c-1.1488.947-2.57312,2.11963-2.946,2.41992A1.85972,1.85972,0,0,0,2,26.23669V27.5a.5.5,0,0,0,.5.5h16a.5.5,0,0,0,.5-.5V26.23669A1.65805,1.65805,0,0,0,18.17047,24.67822ZM4.64478,15.12573a2.99143,2.99143,0,0,0,1.31073,1.462l.66583,3.05176A2.99994,2.99994,0,0,0,9.55237,22h1.89526a2.99994,2.99994,0,0,0,2.931-2.36047l.66583-3.05176a2.99115,2.99115,0,0,0,1.31073-1.462l.28-.75146A1.2749,1.2749,0,0,0,16,12.62988V10c0-3-2-5-5.5-5S5,7,5,10v2.62988a1.2749,1.2749,0,0,0-.63519,1.74439Z"/>
</symbol>
</defs>
</svg>
<%_ include partials/footer.ejs _%>
