<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title><%= title %> - Hebcal</title>
<link><%= homepage %></link>
<atom:link href="https://www.hebcal.com<%= rpath %>" rel="self" type="application/rss+xml" />
<description><%= description %></description>
<language><%= lang %></language>
<copyright>Copyright (c) <%= dt.getFullYear() %> Michael J. Radwin. All rights reserved.</copyright>
<lastBuildDate><%= dt.toUTCString() %></lastBuildDate>
<item>
<title><%= event.renderBrief(lang) %></title>
<link><%= event.url() %></link>
<description><%= memo %></description>
<pubDate><%= dt.toUTCString() %></pubDate>
<guid isPermaLink="false">https://www.hebcal.com<%= rpath %>?dt=<%= dt.toISOString().substring(0, 10) %></guid>
</item>
</channel>
</rss>
