<%- await include('partials/header.ejs', {
  title: `Daily Learning - ${hd.toString()} - ${d.format('D MMMM YYYY')} - Hebcal`,
}) -%>
<% if (d.year() < currentYear-10 || d.year() > currentYear+10) { %><meta name="robots" content="noindex, nofollow"><% } %>
<% if (d.year() > currentYear-10) { %><link rel="prev" href="<%=prev.format('YYYY-MM-DD')%>"><% } %>
<% if (d.year() < currentYear+10) { %><link rel="next" href="<%=next.format('YYYY-MM-DD')%>"><% } %>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-2">
<div class="col">
<% if (d.year() <= 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<h2>Learning for <span class="text-nowrap"><%= hd.render(lg, true) %></span></h2>
<ul class="bullet-list-inline">
<li class="text-nowrap fs-3 text-burgundy"><time datetime="<%= d.format('YYYY-MM-DD') %>" class="text-nowrap"><%= d.format('dddd, D MMMM YYYY') %></time></li>
<% for (const ev of holidays) { %>
<li class="text-nowrap fs-5"><% if (ev.url()) { %><a href="<%= ev.url() %>"><% } %><%= ev.render(lg) %><% if (ev.url()) { %></a><% } %></li>
<% } %>
</ul>

<% for (const item of items) { %>
<div class="lead mt-3" id="<%= item.id %>"><%- item.category.replace(/(\(.+\))$/, '<small>$&</small>') %>
<% if (item.flag) { -%>
<a title="Monthly calendar" class="ms-2" href="/hebcal?v=1&amp;<%= item.flag %>=on&amp;start=<%= d.format('YYYY-MM')%>-01&amp;end=<%= d.month() > 5 ? d.year() + 1 : d.year() %>-12-31<%= il ? '&i=on' : ''%>&amp;set=off">
<svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg></a>
<% } -%>
<% if (item.basename) { -%>
<a title="Subscribe to calendar feed" class="ms-2" href="#sub-<%= item.id %>" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sub-<%= item.id %>">
<svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg></a>
<% } -%>
</div>
<div class="fs-4 mt-n1"><% if (item.html) { %><%- item.html %><% } else { %>
<%   if (item.url) { %><a class="outbound" href="<%= item.url %>"><% } %><%= item.title %><% if (item.url) { %></a><% } %>
<%   } %>
</div>
<%   if (item.haftaraHtml) { %><div class="mt-n1">Haftarah: <%- item.haftaraHtml %></div><% } %>
<% if (item.basename) { -%>
<div class="collapse" id="sub-<%= item.id %>">
 <div class="card card-body mt-2 mb-3">
  <p class="small">Subscribe to <%=item.category%> calendar feed</p>
  <div class="btn-toolbar">
    <a class="btn btn-secondary btn-sm me-2 mb-2 download" id="quick-ical-<%=item.basename%>"
    title="Subscribe to <%=item.category%> for Apple iPhone, iPad, macOS"
    href="webcal://download.hebcal.com/ical/<%=item.basename%>.ics">
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> Apple</a>
    <a class="btn btn-secondary btn-sm me-2 mb-2 download" id="quick-gcal-<%=item.basename%>"
    target="_blank"
    title="Add <%=item.category%> to Google Calendar"
    href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2F<%=item.basename%>.ics">
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Google</a>
    <a class="btn btn-secondary btn-sm me-2 mb-2 download" id="quick-olcom-<%=item.basename%>"
    target="_blank"
    title="Subscribe to <%=item.category%> in Outlook.com"
    href="https://outlook.live.com/calendar/addfromweb?url=http://download.hebcal.com/ical/<%=item.basename%>.ics&amp;name=<%=encodeURIComponent(item.category)%>&amp;mkt=en-001">
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#icon-microsoftoutlook"></use></svg> Outlook.com</a>
    <a class="btn btn-secondary btn-sm me-2 mb-2 download" id="quick-csv-<%=item.basename%>"
    title="Download <%=item.category%> legacy Comma Separated Values format"
    href="https://download.hebcal.com/ical/<%=item.basename%>.csv" download="<%=item.basename%>.csv">
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg> CSV</a>
  </div><!-- .btn-toolbar -->
  <div class="input-group input-group-sm mb-3">
    <input type="text" class="form-control" id="grab-<%=item.basename%>"
    value="https://download.hebcal.com/ical/<%=item.basename%>.ics">
    <button id="grabBtn-<%=item.basename%>" class="btn btn-secondary grabBtn" data-clipboard-target="#grab-<%=item.basename%>">
    <svg class="icon"><use xlink:href="<%=spriteHref%>#clippy"></use></svg>
    Copy
    </button>
  </div>
 </div>
</div>
<% } -%>
<% } %>

</div><!-- .col -->
</div><!-- .row -->
<div class="d-flex gx-2 mt-4 justify-content-between d-print-none">
<% if (d.year() > currentYear-10) { -%>
<div><a rel="prev" class="btn btn-outline-secondary me-2" href="<%=prev.format('YYYY-MM-DD')%>"><span aria-hidden="true">←&nbsp;</span><%=hd.prev().render(lg, false)%></a></div>
<% } -%>
<% if (d.year() < currentYear+10) { -%>
<div><a rel="next" class="btn btn-outline-secondary ms-2" href="<%=next.format('YYYY-MM-DD')%>"><%=hd.next().render(lg, false)%><span aria-hidden="true">&nbsp;→</span></a></div>
<% } -%>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var d = document;
  d.addEventListener('keydown', function(e) {
    if (e.key === 'ArrowLeft' && !e.metaKey) {
      var el = d.querySelector('link[rel=prev]');
      if (el) {
        d.location.href = el.href;
      }
    } else if (e.key === 'ArrowRight' && !e.metaKey) {
      var el = d.querySelector('link[rel=next]');
      if (el) {
        d.location.href = el.href;
      }
    }
  });
});
</script>
<%- await include('partials/footer.ejs', {
  footerScripts: {clipboard: true},
}) _%>
