<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- await include('partials/bootstrap-css.ejs') -%>
<style>
body { background-color: #eee;}
.container { max-width: 600px; margin-top: 50px;}
.icon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.mt-n05 {
  margin-top: -0.125rem !important;
}
.icon-lg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
</style>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm">
<div class="card">
<div class="card-body">
  <h3 class="card-title">
    <svg class="icon-lg me-2 text-success"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
    Unsubscribed</h3>
  <p class="card-text">
    <strong><%= emailAddress %></strong>
    <% if (success) { %> has been <% } else { %> was previously <% } %>
    removed from the email subscription list.
  </p>
  <p class="small">You will no longer receive email from this list.</p>
  <form method="post" action="/email/verify.php">
    <input type="hidden" name="k" value="<%=subscriptionId%>">
    <input type="hidden" name="commit" value="1">
    <button type="submit" class="btn btn-secondary me-2">
      <svg class="icon mt-n05"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg>
      Resubscribe
    </button>
    <a class="btn btn-secondary" href="/">Go to Hebcal »</a>
  </form>
</div>
</div>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container -->
<script><%- await include('partials/analytics.js') -%></script>
</body>
</html>
<!-- <%= hostname %> <%= new Date().toISOString() %> -->
