<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style><%- await include('partials/pre-unsub.css') %></style>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm">
<div class="card">
<div class="card-body">
  <h3 class="card-title">Hebcal email unsubscribe</h3>
  <p class="card-text">Enter your email address below if you wish to stop
    receiving weekly Shabbat candle-lighting times.</p>
<div id="email-form">
<form action="<%= rpath %>" method="post">
<input type="hidden" name="v" value="1">
<% if (q.status === 'active') { -%>
<%   if (q.em) { %><input type="hidden" name="prev" value="<%= q.em %>"><% } -%>
<%   if (q.k) { %><input type="hidden" name="k" value="<%= q.k %>"><% } -%>
<% } -%>
<div class="mt-4 mb-3">
<label class="form-label" for="em">Email address</label>
<input class="form-control" type="email" name="em" id="em" placeholder="user@example.com" value="<%= q.em || '' %>" required>
</div>
<button type="submit" class="btn btn-primary" name="unsubscribe" value="1">Unsubscribe</button>
</form>
</div><!-- #email-form -->
</div><!-- .card-body -->
</div><!-- .card -->
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container -->
<script nonce="<%=nonce%>"><%- await include('partials/analytics.js') %></script>
</body>
</html>
<!-- <%= hostname %> <%= new Date().toISOString() %> -->
