<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- await include('partials/bootstrap-css.ejs') -%>
<style>
body { background-color: #eee;}
.container { max-width: 600px; margin-top: 50px;}
.icon-lg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
</style>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm">
<div class="card">
<div class="card-body">
  <h3 class="card-title">
    <svg class="icon-lg me-2 text-success"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
    Unsubscribed</h3>
  <p class="card-text">
    <strong><%= emailAddress %></strong>
    <% if (success) { %> has been <% } else { %> was previously <% } %>
    removed from the email subscription list.
  </p>
  <p><a class="btn btn-primary" href="/">Go to Hebcal »</a></p>
</div>
</div>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container -->
<script><%- await include('partials/analytics.js') -%></script>
</body>
</html>
<!-- <%= hostname %> <%= new Date().toISOString() %> -->
