<%- await include('partials/header.ejs') -%>
<link rel="stylesheet" type="text/css" href="/i/typeahead1.css">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col">
<p class="lead"><%= defaultUnsubscribe ? 'Unsubscribe from' : 'Subscribe to' %> weekly Shabbat candle lighting times and Torah portion by email.</p>
<% if (typeof message !== 'undefined') { %>
<div class="alert alert-danger alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<%= message %>
</div><!-- .alert -->
<% } %>
<div id="email-form">
<form id="f1" action="<%= rpath %>" method="post">
<input type="hidden" name="v" value="1">
<% if (typeof q.em === 'string' && q.status === 'active') { %>
<input type="hidden" name="prev" value="<%= q.em %>">
<% } %>
<% if (typeof q.k === 'string' && q.status === 'active') { %>
<input type="hidden" name="k" value="<%= q.k %>">
<% } %>
<div class="form-floating mb-3">
<input class="form-control" type="email" name="em" id="em" placeholder="user@example.com" value="<%= q.em || '' %>" required>
<label class="form-label" for="em">Email address</label>
</div>
<% if (!defaultUnsubscribe) { %>
<input type="hidden" name="geo" id="geo" value="<%= q.geo || 'geonameid' %>">
<input type="hidden" name="zip" id="zip" value="<%= q.zip || '' %>">
<input type="hidden" name="geonameid" id="geonameid" value="<%= q.geonameid %>">
<%- await include('partials/city-and-havdalah.ejs') -%>
<button type="submit"
class="btn btn-primary" name="modify" value="1"><%= q.status === 'active' ? 'Update Subscription' : 'Subscribe' %></button>
<% } %>
<button type="submit"
class="btn btn-<%= defaultUnsubscribe ? 'primary' : 'secondary' %>" name="unsubscribe" value="1">Unsubscribe</button>
</form>
</div><!-- #email-form -->
<% if (!defaultUnsubscribe) { %>
<hr>
<p>You'll receive a maximum of one message per week, typically on Thursday morning.</p>
<div id="privacy-policy">
<h4 class="mt-4">Email Privacy Policy</h4>
<p>We will never sell or give your email address to anyone.
<br>We will never use your email address to send you unsolicited offers.</p>
<p>To unsubscribe, send an email to
<br><a href="mailto:shabbat-unsubscribe&#64;hebcal.com">shabbat-unsubscribe&#64;hebcal.com</a>.</p>
</div><!-- #privacy-policy -->
<% } %>
</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs', {footerScripts: {tooltip: true, typeahead: true}}) -%>
