<%- await include('partials/header-and-navbar.ejs') -%>
<div class="row">
<div class="col">
<% if (updated) { %>
<div class="alert alert-success">
<svg class="icon m-2"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
<strong>Success!</strong> Your subsciption information has been updated.
<p>Email: <strong><%= emailAddress %></strong>
<br>Location: <%= locationName %></p>
</div><!-- .alert -->
<% } else { %>
<div class="alert alert-success">
<svg class="icon m-2"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
<strong>Thank you!</strong> A confirmation message has been sent to
<strong><%= emailAddress %></strong> for <%= locationName %>.
<br>Click the link within that message to confirm your subscription.
</div><!-- .alert -->
<p>If you do not receive this message within a few minutes, then
the most likely problem is that you made a typo in your email
address. If so, please return to the subscription page and try again,
taking care to avoid typos.</p>
<% } %>
</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
