<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Error <%= status %> | Hebcal Jewish Calendar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Error <%= status %></h1>
<p>Looks like something broke!</p>
<h2>Message:</h2>
<pre>
<code>
<%= error %>
</code>
</pre>
<% if (env === 'development') { %>
<h2>Stack:</h2>
<pre>
<code>
<%= stack %>
</code>
</pre>
<% } %>
<hr>
<p><%= new Date().toString() %></p>
</div>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
