<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error <%= status %> <%= response.message %> - Hebcal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/simple.min.css">
</head>
<body>
<header>
<nav><a href="/">Hebcal.com</a></nav>
<h1><%= status %> <%= response.message %></h1>
</header>
<main>
<% if (status == 404) { %>
<p>The requested URL <strong><%=request.path%></strong> was not found on this server.</p>
<% } else if (status == 410) { %>
<p>The requested resource <strong><%=request.path%></strong> is no longer available on this server
and there is no forwarding address. Please remove all references to this resource.</p>
<% } else { %>
<p><%= error %></p>
<% } %>
<% if (env === 'development') { %>
<h3>Stack</h3>
<pre><%= stack %></pre>
<% } %>
</main>
<footer>
<p><time datetime="<%= new Date().toISOString() %>"><%= new Date().toString() %></time></p>
</footer>
</body>
</html>
