<?xml version="1.0" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>Hebrew Date</title>
<link>https://www.hebcal.com/converter</link>
<atom:link href="https://www.hebcal.com<%= rpath %>" rel="self" type="application/rss+xml" />
<description>Today's Hebrew Date from Hebcal.com</description>
<language><%= lang %></language>
<copyright>Copyright (c) <%= year %> Michael J. Radwin. All rights reserved.</copyright>
<lastBuildDate><%= lastBuildDate %></lastBuildDate>
<item>
<title><%= title %></title>
<link>https://www.hebcal.com/converter?hd=<%=hd%>&amp;hm=<%=hm%>&amp;hy=<%=hy%>&amp;h2g=1&amp;utm_medium=rss&amp;utm_source=rss-hdate-<%=lang%></link>
<description><%= title %></description>
<pubDate><%= lastBuildDate %></pubDate>
</item>
</channel>
</rss>
