<% include partials/header.ejs %>
<% if (gy <= 1752 || gy > new Date().getFullYear() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<link rel="canonical" href="<%= url.canonical %>">
<style>
div.cal { margin-bottom: 18px }
div.pbba { page-break-before: always }
@media print{
  @page {size: landscape}
  div.pbba { page-break-before: always }
}
.fc-emulated-table {
  table-layout: fixed;
}
.fc-emulated-table tr th, .fc-emulated-table tr td {
  padding: 4px;
}
.fc-emulated-table tr th {
  text-align: center;
}
.fc-emulated-table tr td {
  height: 90px;
}
.fc-event {
    display: block; /* make the <a> tag block */
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    margin: 1px 2px 0; /* spacing between events and edges */
    padding: 0 1px;
}
.fc-time {
  font-weight: bold;
}
.fc-event a {
    color: #fff;
}
.fc-event a:hover,
.fc-event a:focus {
    color: #fff;
}
.fc-event.hebdate, .fc-event.omer {
  background-color:#FFF;
  border-color:#FFF;
  color:#999;
}
.fc-event.dafyomi,
.fc-event.dafyomi a {
  background-color:#FFF;
  border-color:#FFF;
  color:#08c;
}
.fc-event.dafyomi a:hover,
.fc-event.dafyomi a:focus {
    color: #005580;
}
.fc-event.holiday,
.fc-event.holiday.timed {
  background-color:#3a87ad;
  border-color:#3a87ad;
  color:#FFF;
}
.fc-event.timed,
.fc-event.holiday.timed.fast {
  background-color:#FFF;
  border-color:#FFF;
  color:#333;
}
.fc-event.holiday.yomtov,
.fc-event.holiday.yomtov a {
  background-color:#ffd446;
  border-color:#ffd446;
  color:#333;
}
.fc-event.parashat {
  background-color:#257e4a;
  border-color:#257e4a;
  color:#FFF;
}
.fc-event.hebrew .fc-title {
  font-family:'Miriam Libre','Alef Hebrew','SBL Hebrew',David;
  font-size:110%;
  font-weight:normal;
  direction:rtl;
}
.fc-event.hebrew .fc-time {
  direction:ltr;
  unicode-bidi: bidi-override;
}
.label-lightgrey {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}
.table-event.yomtov {
  background:#ff9;
}
</style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container-fluid">
<div id="content">
<div class="row">
<div class="col-sm-8">
<% if (gy < 1752) { -%>
<% include partials/warning-1752.ejs %>
<% } -%>
<% include partials/location-warnings.ejs %>
<h2><%= shortTitle %>
<% if (q.c === 'on') { %><br><% } %><small class="text-muted"><%= locationName %></small></h2>
<div class="d-print-none">
  <div class="btn-group mr-1" role="group" data-toggle="buttons">
   <label class="btn btn-secondary btn-sm active mb-1">
    <input type="radio" name="view" id="toggle-month" checked>
    <svg class="icon align-top"><use xlink:href="/i/sprite3.svg#gi-calendar"></use></svg> Month
   </label>
   <label class="btn btn-secondary btn-sm mb-1">
    <input type="radio" name="view" id="toggle-list">
    <svg class="icon align-top"><use xlink:href="/i/sprite3.svg#gi-list"></use></svg> List
   </label>
  </div><!-- .btn-group -->
<% if (gy >= 1970) { -%>
<div class="btn-group mr-1 mb-1" role="group"><a href="#hcdl-modal" role="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="/i/sprite3.svg#bi-cloud-download"></use></svg> Download</a></div>
<% } %>
<% if (q.c === 'on') { %>
<div class="btn-group mr-1" role="group">
  <div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="/i/sprite3.svg#gi-print"></use></svg> Print</a></div>
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split mb-1" data-toggle="dropdown" aria-expanded="false">
   <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li><a class="dropdown-item download" id="pdf" href="<%= url.pdf %>">Monthly calendar</a></li>
  <li><a class="dropdown-item" href="<%= url.fridge %>">Candle-lighting times only</a></li>
  </ul>
</div>
<% } else { %>
<div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="/i/sprite3.svg#gi-print"></use></svg> Print</a></div>
<% } %>
<a class="btn btn-secondary btn-sm mb-1" href="<%= url.settings %>" title="Change calendar options"><svg class="icon align-top"><use xlink:href="/i/sprite3.svg#gi-cogwheel"></use></svg> Settings</a>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6>Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- banner-320x100 -->
<ins class="adsbygoogle"
 style="display:inline-block;width:320px;height:100px"
 data-ad-client="ca-pub-7687563417622459"
 data-ad-slot="1867606375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<div id="hebcal-results">
<%_ include partials/pagination.ejs _%>
<% let first = true; %>
<% dates.forEach((d) => { -%>
<% if (today.isSame(d, 'year') && today.isSame(d, 'month')) { %><div id="cal-current"></div><% } -%>
<div id="cal-<%= d.format('YYYY-MM') %>">
<div class="cal<%if(first){first=false;%>"<%}else{%> pbba" style="page-break-before:always"<%}%>>
<h3 class="text-center"><%= d.locale(locale).format('MMMM YYYY') %></h3>
<table <%- locale === 'he' ? 'dir="rtl"' : '' -%> class="table table-bordered fc-emulated-table">
<tbody><tr><% weekdaysShort.forEach((s) => { -%><th><%= s %></th><% }); -%></tr>
<%- tableBodies[d.format('YYYY-MM')] _%>
</tbody></table>
</div><!-- .cal -->
<div class="agenda">
</div><!-- .agenda -->
</div><!-- #cal-<%= d.format('YYYY-MM') %> -->
<% }); -%>
<%_ include partials/pagination.ejs _%>
</div><!-- #hebcal-results -->
<script>
window['hebcal']=window['hebcal']||{};
window['hebcal'].lang='<%= q.lg || 's' %>';
window['hebcal'].events=<%- JSON.stringify(items) %>;
window['hebcal'].cconfig=<%- cconfig %>;
</script>
</div><!-- #content -->
<% if (gy >= 1970) { -%>
<% include partials/download-modal.ejs %>
<% } -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('a.amzn').click(function(){
    var x = $(this).attr('id');
    if (x) {
      ga('send','event','outbound-amzn',x);
    }
  });
  $('a.outbound').click(function(){
    var c=$(this).attr('href');
    if (c&&c.length) {
      var ss=c.indexOf('//');
      if(ss!=-1) {
        var d=c.indexOf('/',ss+2),d2=d!=-1?d:c.length;
        ga('send','event','outbound-article',c.substring(ss+2,d2));
      }
    }
  });
  $('a.download').click(function(){
    var x = $(this).attr('id');
    if (x) {
      ga('send','event','download',x);
    }
  });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://www.hebcal.com/i/hebcal-app-1.9.min.js"></script>
<script>
$(document).ready(function() {
    $('#toggle-month').on('change', function() {
        $('div.agenda').hide();
        $('div.cal').show();
    });
    $('#toggle-list').on('change', function() {
        $('div.cal').hide();
        window['hebcal'].renderMonthTables();
        $('div.agenda').show();
    });
    if ($(window).width() < 768) {
        $('#toggle-list').click();
    }
});
</script>
<%_ include partials/footer.ejs _%>
