<%- await include('partials/header.ejs') -%>
<% if (gy <= 1752 || gy > new Date().getFullYear() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<link rel="canonical" href="<%= url.canonical %>">
<style>
div.cal { margin-bottom: 18px }
div.pbba { page-break-before: always }
@media print{
  @page {size: landscape}
  div.pbba { page-break-before: always }
}
.fc-emulated-table {
  table-layout: fixed;
}
.fc-emulated-table tr th, .fc-emulated-table tr td {
  padding: 4px;
}
.fc-emulated-table tr th {
  text-align: center;
}
.fc-emulated-table tr td {
  height: 90px;
}
.fc-event {
    display: block; /* make the <a> tag block */
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    margin: 1px 2px 0; /* spacing between events and edges */
    padding: 0 1px;
}
.fc-time {
  font-weight: bold;
}
.fc-event a {
    color: #fff;
}
.fc-event a:hover,
.fc-event a:focus {
    color: #fff;
}
.fc-event.hebdate, .fc-event.omer {
  background-color:#FFF;
  border-color:#FFF;
  color:#999;
}
.fc-event.dafyomi,
.fc-event.dafyomi a {
  background-color:#FFF;
  border-color:#FFF;
  color:#08c;
}
.fc-event.dafyomi a:hover,
.fc-event.dafyomi a:focus {
    color: #005580;
}
.fc-event.holiday,
.fc-event.holiday.timed {
  background-color:#3a87ad;
  border-color:#3a87ad;
  color:#FFF;
}
.fc-event.timed,
.fc-event.holiday.timed.fast {
  background-color:#FFF;
  border-color:#FFF;
  color:#333;
}
.fc-event.holiday.yomtov,
.fc-event.holiday.yomtov a {
  background-color:#ffd446;
  border-color:#ffd446;
  color:#333;
}
.fc-event.parashat {
  background-color:#257e4a;
  border-color:#257e4a;
  color:#FFF;
}
.fc-event.hebrew .fc-title {
  font-family:'SBL Hebrew',David;
  font-size:115%;
  font-weight:normal;
  direction:rtl;
}
.fc-event.hebrew .fc-time {
  direction:ltr;
  unicode-bidi: bidi-override;
}
.label-lightgrey {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}
.table-event.yomtov {
  background:#ff9;
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container-fluid">
<div id="content">
<div class="row">
<div class="col-sm-8">
<% if (gy < 0 && q.yt === 'H') { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
You are viewing <strong>Hebrew year <%=hebrewYear%></strong>,
which is equivalent to Gregorian year <%=-gy%> B.C.E. (Before the Common Era).
Hebrew date conversion before year 1 C.E. may be inaccurate.<br>
Perhaps you intended to view the calendar for
<a href="<%-sameUrlGregYear%>">Gregorian year <%=hebrewYear%></a>?
</div><!-- .alert -->
<% } else if (gy < 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } else if (gy >= 3762 && q.yt === 'G') { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Note!</strong>
You are viewing <strong>Gregorian</strong> year <%=gy%>, which
is <%=futureYears%> years <em>in the future</em>.<br>
Did you really intend this? Perhaps you wish to view the calendar
for <a href="<%-sameUrlHebYear%>">Hebrew year <%=gy%></a>?<br>
If you really intended to use Gregorian year <%=gy%>, please
continue. Hebcal.com results this far in the future should be
accurate.
</div><!-- .alert -->
<% } -%>
<%- await include('partials/location-warnings.ejs') -%>
<h2><%= shortTitle %>
<% if (q.c === 'on') { %><br><% } %><span class="text-muted h4"><%= locationName -%>
<%  if (options.il && typeof location === 'object' && location.getCountryCode() !== 'IL') { %> (🇮🇱 holiday schedule)<% } -%>
</span></h2>
<div class="d-print-none">
  <div class="btn-group me-1" role="group" data-bs-toggle="buttons">
   <label class="btn btn-secondary btn-sm active mb-1">
    <input type="radio" name="view" id="toggle-month" checked>
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-calendar"></use></svg> Month
   </label>
   <label class="btn btn-secondary btn-sm mb-1">
    <input type="radio" name="view" id="toggle-list">
    <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-list"></use></svg> List
   </label>
  </div><!-- .btn-group -->
<% if (gy >= 1970) { -%>
<div class="btn-group me-1 mb-1" role="group"><a href="#hcdl-modal" role="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a></div>
<% } %>
<% if (q.c === 'on' && gy >= 1970) { %>
<div class="btn-group me-1" role="group">
  <div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-print"></use></svg> Print</a></div>
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split mb-1" data-bs-toggle="dropdown" aria-expanded="false">
   <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li><a class="dropdown-item download" id="pdf" href="<%= url.pdf %>">Monthly calendar</a></li>
  <li><a class="dropdown-item" href="<%= url.fridge %>">Candle-lighting times only</a></li>
  </ul>
</div>
<div class="btn-group me-1 mb-1" role="group"><a href="#email-modal" role="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#email-modal"><svg class="icon"><use xlink:href="<%=spriteHref%>#gi-envelope"></use></svg> Email</a></div>
<% } else { %>
<div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-print"></use></svg> Print</a></div>
<% } %>
<a class="btn btn-secondary btn-sm mb-1" href="<%= url.settings %>" title="Change calendar options"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-cogwheel"></use></svg> Settings</a>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6 class="text-muted mb-2">Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- banner-320x100 -->
<ins class="adsbygoogle"
 style="display:inline-block;width:320px;height:100px"
 data-ad-client="ca-pub-7687563417622459"
 data-ad-slot="1867606375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<div id="hebcal-results">
<%- await include('partials/pagination.ejs') -%>
<% let first = true; %>
<% for (const [yearMonth, tableBody] of Object.entries(tableBodies)) { %>
<% if (today.isSame(tableBody.d, 'year') && today.isSame(tableBody.d, 'month')) { %><div id="cal-current"></div><% } -%>
<div id="cal-<%= yearMonth %>">
<div class="cal<%if(first){%>"<%}else{%> pbba" style="page-break-before:always"<%}%>>
<h3 class="text-center"><% if (locale === 'he') { %><span lang="he" dir="rtl"><% } _%>
<%if(!first){%><a class="d-print-none text-muted" href="#cal-<%= tableBody.prevMonth %>">«</a> <% } %><%= tableBody.d.locale(locale).format('MMMM') + ' ' + tableBody.year %> <a class="d-print-none text-muted" href="#cal-<%= tableBody.nextMonth %>">»</a>
<% if (locale === 'he') { %></span><% } _%>
</h3>
<table <%- locale === 'he' ? 'dir="rtl"' : '' -%> class="table table-bordered fc-emulated-table">
<tbody><tr><% localeConfig.weekdaysShort.forEach((s) => { -%><th><% if (locale === 'he') { %><span lang="he" dir="rtl"><% } %><%= s %><% if (locale === 'he') { %></span><% } %></th><% }); -%></tr>
<%- tableBody.html _%>
</tbody></table>
</div><!-- .cal -->
<div class="agenda">
</div><!-- .agenda -->
</div><!-- #cal-<%= yearMonth %> -->
<%   first = false; -%>
<% } %>
<%- await include('partials/pagination.ejs') -%>
</div><!-- #hebcal-results -->
<script>
window['hebcal']=window['hebcal']||{};
window['hebcal'].lang='<%= q.lg || 's' %>';
window['hebcal'].localeConfig=<%- JSON.stringify(localeConfig) %>;
window['hebcal'].events=<%- JSON.stringify(items) %>;
window['hebcal'].cconfig=<%- cconfig %>;
</script>
</div><!-- #content -->
<% if (gy >= 1970) { -%>
<%- await include('partials/download-modal.ejs') -%>
<% if (q.c === 'on') { %><%- await include('partials/email-candles-modal.ejs') _%><% } %>
<% } -%>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
<script src="/i/hebcal-app-3.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var d = document;
  var toggleList = document.getElementById('toggle-list');
  var show = function (el) { el.style.display = 'block' };
  var hide = function (el) { el.style.display = 'none' };
  document.getElementById('toggle-month').onchange = function() {
    d.querySelectorAll('div.agenda').forEach(hide);
    d.querySelectorAll('div.cal').forEach(show);
  };
  document.getElementById('toggle-list').onchange = function() {
    d.querySelectorAll('div.cal').forEach(hide);
    hebcalClient.renderMonthTables();
    d.querySelectorAll('div.agenda').forEach(show);
  };
  if (window.outerWidth < 768) {
    var event = new MouseEvent('click', {
      view: window,
      bubbles: true,
      cancelable: true
    });
    toggleList.dispatchEvent(event);
  }
});
</script>
<%- await include('partials/footer.ejs') _%>
