<%- await include('partials/header.ejs', {
  title: shortTitle + ' ' + locationName + ' - Hebcal',
}) -%>
<link rel="stylesheet" type="text/css" href="/i/typeahead1.css">
<link rel="dns-prefetch" href="https://download.hebcal.com/">
<% if (gy <= 1752 || gy > new Date().getFullYear() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<link rel="canonical" href="<%= url.canonical %>">
<style>
div.cal { margin-bottom: 18px }
div.pbba { page-break-before: always }
@media print{
  @page {size: landscape}
  div.pbba { page-break-before: always }
}
.fc-emulated-table {
  table-layout: fixed;
}
.fc-emulated-table tr th, .fc-emulated-table tr td {
  padding: 4px;
}
.fc-emulated-table tr th {
  text-align: center;
}
.fc-emulated-table tr td {
  height: 90px;
}
.table-event.yomtov {
  background:#ff9;
}
div#hebcal-loading {
  width:100%;
  height:320px;
}
div#hebcal-loading h3 {
  text-align: left;
}
@media (min-width: 768px) {
  div#hebcal-loading h3 {
    text-align: center;
  }
}
:root {
  --loading-grey: #ededed;
}
.loading {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
.loading.bar {
  min-height: 1.6rem;
  border-radius: 4px;
}
</style>
<%- await include('partials/style-fullcalendar.ejs') -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container-fluid">
<div class="row">
<div class="col-sm-8 mb-2">
<% if (gy < 0 && q.yt === 'H') { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
You are viewing <strong>Hebrew year <%=hebrewYear%></strong>,
which is equivalent to Gregorian year <%=-gy%> B.C.E. (Before the Common Era).
Hebrew date conversion before year 1 C.E. may be inaccurate.<br>
Perhaps you intended to view the calendar for
<a href="<%-sameUrlGregYear%>">Gregorian year <%=hebrewYear%></a>?
</div><!-- .alert -->
<% } else if (gy < 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } else if (gy >= 3762 && q.yt === 'G') { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Note!</strong>
You are viewing <strong>Gregorian</strong> year <%=gy%>, which
is <%=futureYears%> years <em>in the future</em>.<br>
Did you really intend this? Perhaps you wish to view the calendar
for <a href="<%-sameUrlHebYear%>">Hebrew year <%=gy%></a>?<br>
If you really intended to use Gregorian year <%=gy%>, please
continue. Hebcal.com results this far in the future should be
accurate.
</div><!-- .alert -->
<% } -%>
<%- await include('partials/location-warnings.ejs') -%>
<h2><%= shortTitle %>
<% if (q.c === 'on') { %><br><% } %><span class="text-muted h4"><%= locationName -%>
<% if (options.il && typeof location === 'object' && location.getCountryCode() !== 'IL') { %> · <small class="text-nowrap">Israel 🇮🇱 holiday schedule</small><% } -%>
</span></h2>
<div class="d-print-none">
  <div class="btn-group me-1" role="group">
    <input type="radio" class="btn-check" name="view" id="toggle-month" autocomplete="off" checked>
    <label class="btn btn-secondary btn-sm mb-1" for="toggle-month">
      <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg> Month
   </label>
    <input type="radio" class="btn-check" name="view" id="toggle-list" autocomplete="off">
    <label class="btn btn-secondary btn-sm mb-1" for="toggle-list">
      <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-list-ul"></use></svg> List
   </label>
  </div><!-- .btn-group -->
<% if (gy >= 1900) { -%>
<div class="btn-group me-1 mb-1" role="group"><a href="#hcdl-modal" role="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a></div>
<% } %>
<% if (q.c === 'on' && gy >= 1900) { %>
<div class="btn-group me-1" role="group">
  <div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg> Print</a></div>
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split mb-1" data-bs-toggle="dropdown" aria-expanded="false">
   <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li><a class="dropdown-item download" id="pdf" href="<%= url.pdf %>">Monthly calendar</a></li>
  <li><a class="dropdown-item" href="<%= url.fridge %>">Candle-lighting times only</a></li>
  </ul>
</div>
<div class="btn-group me-1 mb-1" role="group"><a href="#email-modal" role="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#email-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg> Email</a></div>
<% } else { %>
<div class="btn-group mb-1" role="group"><a class="btn btn-secondary btn-sm download" id="print-pdf" href="<%= url.pdf %>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg> Print</a></div>
<% } %>
<a class="btn btn-secondary btn-sm mb-1" href="<%= url.settings %>" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-settings" aria-controls="offcanvas-settings" title="Change calendar options">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-gear-fill"></use></svg>
  Settings</a>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none">
<h6 class="text-muted mb-2">Advertisement</h6>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none mb-2">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
crossorigin="anonymous"></script>
<!-- banner-320x100 -->
<ins class="adsbygoogle"
style="display:inline-block;width:320px;height:100px"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="1867606375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<%- await include('partials/pagination.ejs') -%>
<div id="hebcal-loading">
  <h3>Loading...</h3>
  <div class="loading bar"></div>
</div><!-- #hebcal-loading -->
<div id="hebcal-results">
</div><!-- #hebcal-results -->
<%- await include('partials/pagination.ejs') -%>
<div class="offcanvas offcanvas-start" style="width:auto" tabindex="-1" id="offcanvas-settings" aria-labelledby="settings-label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="settings-label">Calendar Settings</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<%- await include('partials/hebcal-form.ejs') -%>
</div>
</div>
<% if (gy >= 1900) { -%>
<%- await include('partials/download-modal.ejs') -%>
<% if (q.c === 'on') { %><%- await include('partials/email-candles-modal.ejs') _%><% } %>
<% } -%>
<%- await include('partials/emoji-switch-script.ejs') -%>
<%- await include('partials/print-iframe.ejs') -%>
<script><%- await include('partials/hebcalResults.min.js') %></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  window['hebcal']=window['hebcal']||{};
  window['hebcal'].lang='<%= q.lg || "s" %>';
  window['hebcal'].cconfig=<%- cconfig %>;
  window['hebcal'].localeConfig=<%- JSON.stringify(localeConfig) %>;
  window['hebcal'].events=<%- JSON.stringify(items) %>;
  window['hebcal'].memos=<%- JSON.stringify(memos) %>;
  window['hebcal'].opts=<%- JSON.stringify(opts) %>;
  var d = document;
  function renderPagination(months) {
    if (window['hebcal'].paginationRendered) {
      return;
    }
    var localeData = window['hebcal'].localeConfig;
    d.querySelectorAll('nav ul.pagination').forEach(function(parentEl) {
      var finalChildNode = parentEl.children[parentEl.children.length - 1];
      months.forEach(function(month) {
        var yearMonth = month.month;
        var yearStr = yearMonth.substring(0, yearMonth.length - 3);
        var monthStr = yearMonth.substring(yearMonth.length - 2);
        var mm = parseInt(monthStr, 10);
        var newNode = hebcalResults.paginationListItem({
          href: '#cal-' + yearMonth,
          title: localeData.months[mm - 1] + ' ' + yearStr,
          innerHTML: localeData.monthsShort[mm - 1],
        });
        newNode.className = 'page-item d-none d-sm-inline';
        parentEl.insertBefore(newNode, finalChildNode);
      });
    });
    window['hebcal'].paginationRendered = true;
  }
  function show(el) { if (el) { el.style.display = 'block' } }
  function hide(el) { if (el) { el.style.display = 'none' } }

  var months = hebcalResults.splitByMonth(window['hebcal'].events);
  renderPagination(months);
  hebcalResults.makeMonthDivs(months);

  var toggleMonth = d.getElementById('toggle-month');
  toggleMonth.onchange = function() {
    d.querySelectorAll('div.agenda').forEach(hide);
    hebcalResults.renderCalendarGrids(months);
    d.querySelectorAll('div.cal').forEach(show);
  };
  var toggleList = d.getElementById('toggle-list');
  toggleList.onchange = function() {
    d.querySelectorAll('div.cal').forEach(hide);
    hebcalResults.renderMonthTables(months);
    d.querySelectorAll('div.agenda').forEach(show);
  };
  if (window.innerWidth >= 768) {
    hebcalResults.renderCalendarGrids(months);
    toggleMonth.checked = true;
    toggleList.checked = false;
  } else {
    hebcalResults.renderMonthTables(months);
    toggleList.checked = true;
    toggleMonth.checked = false;
  }
  var loadingEl = d.getElementById('hebcal-loading');
  loadingEl.style.display = 'none';
});
</script>
<%- await include('partials/footer.ejs', {
  footerScripts: {clipboard: true, tooltip: true, typeahead: true},
  xtra_html: await include('partials/script-hebcal-form.ejs'),
}) _%>
