<% include partials/header.ejs %>
<meta name="description" content="Jewish holiday of <%=holiday%>, <%=nextObserved%>. <%=descrMedium%>">
<% if (noindex) { %><meta name="robots" content="noindex, nofollow"><% } else { %><script type="application/ld+json"><%- jsonLD %></script><% } %>
<script>
  WebFontConfig = {
    google: { families: [ 'Alef' ] }
  };
  (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    wf.async = true;
    s.parentNode.insertBefore(wf, s);
  })(document);
</script>
<style>
.past {color: rgba(0, 0, 0, 0.5) !important;}
.current {background-color: #ffc;}
</style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-10">
<% include partials/holiday-detail-breadcrumb.ejs %>

<h2><%=holiday%> <%=year||''%> / <span lang="he" dir="rtl" class="text-nowrap"><%=hebrew%> <% if (year) { %><%=upcomingHebrewYear%><% } %></span></h2>
<p class="lead"><%=holiday%> (<%=descrShort%>)
for Hebrew Year <%=upcomingHebrewYear%> <%-nextObservedHtml%>.</p>
<p><%=descrLong%></p>

<p class="d-print-none"><em>Read more from <a class="outbound" title="More about <%=holiday%> from <%=meta.about.name%>" href="<%=meta.about.href%>"><%=meta.about.name%>&nbsp;&rarr;</a>
<% if (meta.about.name !== 'Wikipedia' && typeof meta.wikipedia === 'object' && typeof meta.wikipedia.href === 'string') { %>
or <a class="outbound" title="More about <%=holiday%> from Wikipedia" href="<%=meta.wikipedia.href%>">Wikipedia&nbsp;&rarr;</a>
<% } // wikipedia %>
</em></p>

<div class="d-print-none">
<!-- Visible only on xs -->
<div class="d-block d-sm-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6>Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- banner-320x100 -->
<ins class="adsbygoogle"
  style="display:inline-block;width:320px;height:100px"
  data-ad-client="ca-pub-7687563417622459"
  data-ad-slot="1867606375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .d-sm-none -->
</div><!-- .d-print-none -->

<% if (typeof meta.reading !== 'undefined' && Array.isArray(meta.items)) { %>
<div class="d-print-none">
<nav class="d-none d-md-block">
<ul class="pagination<%= meta.items.length > 3 ? ' pagination-sm' : ''%>">
<li class="page-item"><a class="page-link" href="#dates">Dates</a></li>
<% if (typeof meta.books !== 'undefined') { %>
<li class="page-item"><a class="page-link" href="#books">Books</a></li>
<% } %>
<% for (const [item, reading] of Object.entries(meta.reading)) { %>
<li class="page-item"><a class="page-link" href="#reading-<%=reading.id%>"><%=reading.shortName%></a></li>
<% } // ... for %>
<li class="page-item"><a class="page-link" href="#ref">References</a></li>
</ul><!-- .pagination -->
</nav>
</div>
<% } // meta.reading %>

<h3 id="dates">Dates for <%=holiday%></h3>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr><th>Holiday</th><th>Starts</th><th>Ends</th><th>Hebrew Date<% if (occursOn[0].duration > 1) { %>s<% } %></th></tr>
</thead>
<tbody>
<% occursOn.forEach((item) => { %>
<tr class="<%=item.ppf%>">
<td><a href="<%=item.id%>-<%=item.d.format('YYYY')%><%=il?'?i=on':''%>"><%=holiday%> <%=item.d.format('YYYY')%></a></td>
<td><time datetime="<%=item.d.format('YYYY-MM-DD')%>"><%= item.d.format('ddd') %>, <span class="text-nowrap"><%=item.d.format('MMM D')%></span></time></td>
<td><time datetime="<%=item.endD.format('YYYY-MM-DD')%>"><%= item.endD.format('ddd') %>, <span class="text-nowrap"><%=item.endD.format('MMM D')%></span></time></td>
<td class="small"><%=item.hdRange%></td>
</tr>
<% }); %>
</tbody>
</table>
</div>

<% if (typeof meta.books !== 'undefined') { %>
<h3 id="books">Recommended Books</h3>
<div class="row">
<% meta.books.forEach((book) => { %>
<div class="col">
<div class="thumbnail">
<a class="amzn" id="<%=holidayAnchor%>-<%=book.ASIN%>-1" title="<%=book.text%>" href="https://www.amazon.com/o/ASIN/<%=book.ASIN%>/hebcal-20"><img
class="img-fluid img-thumbnail" alt="<%=book.text%>" width="104" height="160" style="border:none"
src="https://www.hebcal.com/i/<%=book.ASIN%>.01.MZZZZZZZ.jpg"></a>
<div class="figure-caption">
<a class="amzn" id="<%=holidayAnchor%>-<%=book.ASIN%>-2" title="<%=book.text%>" href="https://www.amazon.com/o/ASIN/<%=book.ASIN%>/hebcal-20"><%=book.shortTitle%></a>
<% if (book.author) { %><br>by <%=book.author%><% } %>
</div><!-- .figure-caption -->
</div><!-- .thumbnail -->
</div><!-- .col -->
<% }); %>
</div><!-- .row -->
<% } // books %>

<% if (typeof meta.reading !== 'undefined') { %>
<h3 id="reading" class="mt-3">Tanakh</h3>
<% for (const [item, reading] of Object.entries(meta.reading)) { %>
<h4 id="reading-<%=reading.id%>"><%=item%>
<% if (reading.hebrew) { %> / <span lang="he" dir="rtl" class="text-nowrap"><%= reading.hebrew %></span><% } %>
<% if (typeof reading.d !== 'undefined') { %><br><time class="text-muted small" datetime="<%=reading.d.format('YYYY-MM-DD')%>"><%=reading.d.format('dddd, D MMMM YYYY')%> / <%=reading.hd.toString()%></time><% } %>
</h4>
<% if (reading.summary) { %>
<p class="lead torah">Torah Portion:
<% if (reading.torahHref) { %><a class="outbound" title="English translation from JPS Tanakh"
href="<%=reading.torahHref%>"><% } %><%=reading.summary%><%- reading.torahHref ? '</a>' : '' %></p>
<% } // reading.summary %>
<% if (reading.fullkriyah) { %>
<ul class="list-unstyled">
<%    for (const aliyah of Object.values(reading.fullkriyah)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%       if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%       } // aliyah.v %>
<%    } // ... for %>
</ul>
<% } // reading.fullkriyah %>
<% if (reading.haftara) { %>
<p class="lead haftara">Haftarah:
<% if (reading.haftaraHref) { %><a class="outbound" title="English translation from JPS Tanakh"
href="<%=reading.haftaraHref%>"><% } %><%=reading.haftara%><%- reading.haftaraHref ? '</a>' : '' %></p>
<% } // reading.haftara %>
<% } // ... for %>
<% } // meta.reading %>
<h3 id="ref">References</h3>
<dl>
<dt><em><a class="amzn" id="strassfeld-2"
href="https://www.amazon.com/o/ASIN/0062720082/hebcal-20">The
Jewish Holidays: A Guide &amp; Commentary</a></em>
<dd>Rabbi Michael Strassfeld
<% if (typeof meta.reading !== 'undefined') { %>
<dt><em><a class="outbound"
href="https://www.sefaria.org/texts/Tanakh">Sefaria Tanakh</a></em>
<dd>Sefaria.org
<dt><em><a class="amzn" id="jps-tanakh-1"
title="Tanakh: The Holy Scriptures, The New JPS Translation According to the Traditional Hebrew Text"
href="https://www.amazon.com/o/ASIN/0827602529/hebcal-20">Tanakh:
The Holy Scriptures</a></em>
<dd>Jewish Publication Society
<% } // meta.reading %>
<% if (typeof meta.wikipedia === 'object' && typeof meta.wikipedia.href === 'string') { %>
<dt><a class="outbound" href="<%=meta.wikipedia.href%>">"<%=meta.wikipedia.title%>" in <em>Wikipedia: The Free Encyclopedia</em></a>
<dd>Wikimedia Foundation Inc.
<% } %>
</dl>
<% include partials/holiday-detail-breadcrumb.ejs %>
</div><!-- .col-sm-10 -->
<div class="col-sm-2 d-print-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6>Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-none d-sm-block">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- skyscraper text only -->
<ins class="adsbygoogle"
  style="display:inline-block;width:160px;height:600px"
  data-ad-client="ca-pub-7687563417622459"
  data-ad-slot="7666032223"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-sm-block -->
</div><!-- .col-sm-2 -->

</div><!-- .row -->
</div><!-- #content -->

<%_ include partials/footer.ejs _%>
