<% include partials/header.ejs %>
<meta name="description" content="Dates of major and minor Jewish holidays for <%=year%>, observances and customs, holiday Torah readings.">
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-8">
<h2>Jewish Holidays <%=year%></h2>
<p class="d-print-none">Dates of major and minor Jewish holidays for
<% if (isHebrewYear) { %>
Hebrew Year <%=calendarYear%> (<%=calendarYear-3761%>-<%=calendarYear-3760%>).
<% } else { %>
<%=year%>.
<% } %>
Each holiday page includes a brief overview of special observances and
customs, and any special Torah readings.</p>
<p>All holidays begin at sundown on the evening before the date
specified in the tables below. For example, if the dates for Rosh
Hashana were listed as <strong><time datetime="<%=RH.format('YYYY-MM-DD')%>"><%=RH.format('MMM D')%></time>-<time datetime="<%=RH.add(1, 'd').format('YYYY-MM-DD')%>"><%=RH.add(1, 'd').format('MMM D')%></time></strong>,
then the holiday begins at sundown on <strong><%=RH.subtract(1, 'd').format('MMM D')%></strong>
and ends at nightfall on <strong><%=RH.add(1, 'd').format('MMM D')%></strong>.</p>
<div class="btn-toolbar d-print-none mb-3">
<div class="btn-group mr-1" role="group">
<a class="btn btn-secondary btn-sm download" title="PDF one page per month, in landscape" id="pdf-<%=year%>" href="hebcal-<%=year%>.pdf"><svg class="icon align-top"><use xlink:href="/i/sprite2.svg#gi-print"></use></svg> Print</a>
</div>
<div class="btn-group mr-1" role="group">
<a class="btn btn-secondary btn-sm" title="export to Outlook, iPhone, Google and more" href="/ical/"><svg class="icon align-top"><use xlink:href="/i/sprite2.svg#bi-cloud-download"></use></svg> Download</a>
</div>
<div class="btn-group mr-1" role="group">
<a class="btn btn-secondary btn-sm" title="Candle lighting times for Shabbat and holidays, Ashkenazi transliterations, Israeli holiday schedule, etc." href="/hebcal?v=0&amp;year=<%=year%>&amp;yt=G"><svg class="icon"><use xlink:href="/i/sprite2.svg#bi-pencil-square"></use></svg> Customize</a>
</div>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none">
<div><h6>Advertisement</h6></div>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250, created 10/14/10 -->
<ins class="adsbygoogle"
style="display:inline-block;width:300px;height:250px"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="1140358973"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<div class="row mt-2">
<div class="col">
<nav class="d-print-none mb-3">
<ul class="pagination pagination-sm">
<li class="page-item"><a class="page-link" href="<%=year4 - 3%>" rel="nofollow">&laquo;&nbsp;<%=year4 - 3%></a></li>
<% for (let i = year4 - 2; i <= year4 + 2; i++) { %>
<li class="page-item<%= i == year ? ' active' : '' %>"><a class="page-link" href="<%=i%>"<%- (i > today.year()+20) ? ' rel="nofollow"' : '' %>><%=i%></a></li>
<% } %>
<li class="page-item"><a class="page-link" href="<%=year4 + 3%>"<%- (year4+3 > today.year()+20) ? ' rel="nofollow"' : '' %>><%=year4 + 3%>&nbsp;&raquo;</a></li>
</ul>
</nav>
<% for (const [catId, category] of Object.entries(categories)) { %>
<div id="<%=category.id%>">
<h3><%=category.name%></h3>
<% if ('major-holidays' === category.id) { %>
<p>Holidays begin at sundown on the evening before the date specified.</p>
<p>Dates in <strong>bold</strong> are <em>yom tov</em>, so they have similar
obligations and restrictions to Shabbat in the sense that normal "work"
is forbidden.</p>
<% } // major-holidays %>
<table class="table table-striped table-sm">
<col style="width:180px"><col style="width:<%=isHebrewYear ? 180 : 156%>px"><col>
<tbody>
<tr><th>Holiday</th><th>Dates</th><th>Description</th></tr>
<% for (const item of items[catId]) { %>
<tr itemscope itemtype="http://schema.org/Event"><td><a href="<%=item.id%>" itemprop="name"><%=item.name%></a></td>
<td><%- item.dates %></td>
<td><%=item.descrShort%></td>
</tr>
<% } %>
</tbody>
</table>
</div><!-- #<%=category.id%> -->
<% } // ... for %>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%_ include partials/footer.ejs _%>
