<%- await include('partials/header.ejs') -%>
<style>
.tbody-striped > tbody {
  border-bottom-color: #dee2e6;
  border-bottom-width: 1px;
}
.tbody-striped > tbody > :first-child > * {
  padding-left: 0.5rem;
  padding-top: 0.6rem;
}
.tbody-striped > tbody > :last-child > * {
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
}
.tbody-striped > tbody:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
</style>
<% if (year <= 1752 || today.year() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<meta name="description" content="Dates of major and minor Jewish holidays for <%=year%>, observances and customs, holiday Torah readings.">
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-8">
<h2>Jewish Holidays <%=year%></h2>
<p class="d-print-none">Dates of major and minor Jewish holidays for
<% if (isHebrewYear) { %>
Hebrew Year <%=calendarYear%> (<%=calendarYear-3761%>-<%=calendarYear-3760%>).
<% } else { %>
<%=year%>.
<% } %>
Each holiday page includes a brief overview of special observances and
customs, and any special Torah readings.</p>
<% if (year <= 1752) { -%><%- await include('partials/warning-1752.ejs') -%><% } -%>
<p>Except for minor fasts, holidays begin at sundown on the date
specified in the tables below. For example, if the dates for Rosh
Hashana are listed as <strong><time datetime="<%=RH.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=RH.subtract(1, 'd').format('MMM D')%></time>-<time datetime="<%=RH.add(1, 'd').format('YYYY-MM-DD')%>"><%=RH.add(1, 'd').format('MMM D')%></time></strong>,
then the holiday begins at sundown on <strong><%=RH.subtract(1, 'd').format('MMM D')%></strong>
and ends at nightfall on <strong><%=RH.add(1, 'd').format('MMM D')%></strong>.</p>
<div class="btn-toolbar d-print-none mb-2">
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm download" title="PDF one page per month, in landscape" id="pdf-<%=isHebrewYear?calendarYear:year%>" href="hebcal-<%=isHebrewYear?calendarYear:year%>.pdf<%=il?'?i=on':''%>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg> Print</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" href="#hcdl-modal" role="button" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" title="Candle lighting times for Shabbat and holidays, Ashkenazi transliterations, Israeli holiday schedule, etc." href="/hebcal?v=0&amp;year=<%=isHebrewYear?calendarYear:year%>&amp;yt=<%=isHebrewYear?'H':'G'%>"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg> Customize</a>
</div>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none mb-1">
<h6 class="text-muted">Advertisement</h6>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none mb-2">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
crossorigin="anonymous"></script>
<!-- 300x250, created 10/14/10 -->
<ins class="adsbygoogle"
style="display:inline-block;width:300px;height:250px"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="1140358973"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<div class="row mt-2">
<div class="col">
<nav class="d-print-none mb-3">
<ul class="pagination pagination-sm">
<li class="page-item"><a class="page-link" href="<%=year4 - 3%><%=il?'?i=on':''%>" rel="nofollow">&laquo;&nbsp;<%=year4 - 3%></a></li>
<% for (let i = year4 - 2; i <= year4 + 2; i++) { %>
<li class="page-item<%= i == year ? ' active' : '' %>"><a class="page-link" href="<%=i%><%=il?'?i=on':''%>"<%- (i > today.year()+20) ? ' rel="nofollow"' : '' %>><%=i%></a></li>
<% } %>
<li class="page-item
"><a class="page-link" href="<%=year4 + 3%><%=il?'?i=on':''%>"<%- (year4+3 > today.year()+20) ? ' rel="nofollow"' : '' %>><%=year4 + 3%>&nbsp;&raquo;</a></li>
</ul>
</nav>
<% for (const [catId, category] of Object.entries(categories)) { %>
<div id="<%=category.id%>">
<h3><%=category.name%></h3>
<% if ('major-holidays' === category.id) { %>
<p>Holidays begin at sundown on the first date specified and end at nightfall
on the last date specified.</p>
<p>Dates in <strong>bold</strong> are <em>yom tov</em>, so they have similar
obligations and restrictions to Shabbat in the sense that normal "work"
is forbidden.</p>
<% } else if ('minor-fasts' === category.id) { %>
<p>Minor fasts begin at dawn and end at nightfall.</p>
<p>Tish'a B'Av begins at sundown on the first date specified and ends at
nightfall on the second date specified.</p>
<% } // major-holidays %>
<table class="table table-borderless table-sm tbody-striped">
<colgroup>
<col style="width:200px"><col style="width:<%=isHebrewYear ? 180 : 156%>px"><col>
</colgroup>
<thead><tr><th>Holiday</th><th>Dates</th></tr></thead>
<% for (const item of items[catId]) { %>
<tbody>
<tr><td><a href="<%=item.id%>-<%=item.name === 'Asara B\'Tevet' ? item.d.format('YYYYMMDD') : item.d.format('YYYY')%><%=il?'?i=on':''%>"><%=item.name%></a></td>
<td><%-item.dates%></td>
</tr>
<tr><td colspan="2"><em><%=item.descrShort%></em></td></tr>
</tbody>
<% } %>
</table>
</div><!-- #<%=category.id%> -->
<% } // ... for %>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/download-modal.ejs') -%>
<%- await include('partials/emoji-switch-script.ejs') -%>
<%- await include('partials/footer.ejs') _%>
