<%- await include('partials/header.ejs') -%>
<meta name="description" content="Dates of major and minor Jewish holidays for years <%=today.year() - 1%>-<%=today.year()+6%>. Links to pages describing observance and customs, holiday Torah readings.">
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-8">
<h2>Jewish Holidays</h2>
<p class="d-print-none">Dates of major and minor Jewish holidays. Each
holiday page includes a brief overview of special observances and
customs, and any special Torah readings.</p>
<p>Except for minor fasts, holidays begin at sundown on the date
specified in the tables below. For example, if the dates for Rosh
Hashana are listed as <strong><time datetime="<%=RH.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=RH.subtract(1, 'd').format('MMM D')%></time>-<time datetime="<%=RH.add(1, 'd').format('YYYY-MM-DD')%>"><%=RH.add(1, 'd').format('MMM D')%></time></strong>,
then the holiday begins at sundown on <strong><%=RH.subtract(1, 'd').format('MMM D')%></strong>
and ends at nightfall on <strong><%=RH.add(1, 'd').format('MMM D')%></strong>.</p>
<div class="btn-toolbar d-print-none mb-2">
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm download" title="PDF one page per month, in landscape" id="pdf-<%=hyear%>" href="hebcal-<%=hyear%>.pdf<%=il?'?i=on':''%>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg> Print</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" href="#hcdl-modal" role="button" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" title="Candle lighting times for Shabbat and holidays, Ashkenazi transliterations, Israeli holiday schedule, etc." href="/hebcal"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg> Customize</a>
</div>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-8 -->
<div class="col-sm-4 d-print-none">
<div class="d-flex justify-content-center d-print-none mb-1">
<h6 class="text-muted">Advertisement</h6>
</div><!-- .d-flex -->
<div class="d-flex justify-content-center d-print-none mb-2">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
crossorigin="anonymous"></script>
<!-- 300x250, created 10/14/10 -->
<ins class="adsbygoogle"
style="display:inline-block;width:300px;height:250px"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="1140358973"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-flex -->
</div><!-- .col-sm-4 -->
</div><!-- .row -->
<div class="row mt-2">
<div class="col">

<% for (const [catId, category] of Object.entries(categories)) { %>
<div id="<%=category.id%>">
<h3><%=category.name%></h3>
<% if ('major-holidays' === category.id) { %>
<p>Holidays begin at sundown on the first date specified and end at nightfall
on the last date specified.</p>
<p>Dates in <strong>bold</strong> are <em>yom tov</em>, so they have similar
obligations and restrictions to Shabbat in the sense that normal "work"
is forbidden.</p>
<% } else if ('minor-fasts' === category.id) { %>
<p>Minor fasts begin at dawn and end at nightfall.</p>
<p>Tish'a B'Av begins at sundown on the first date specified and ends at
nightfall on the second date specified.</p>
<% } // major-holidays %>
<div class="table-responsive">
<table class="table table-sm table-striped">
<colgroup>
<col style="width:200px"><col><col style="background-color:#FFFFCC"><col><col><col><col>
</colgroup>
<thead>
<tr><th>Holiday</th>
<% for (let yr = hyear - 1; yr <= hyear + 4; yr++) { %>
<th><a title="<%=yr-3761%>-<%=yr-3760%>" href="<%=yr-3761%>-<%=yr-3760%><%=il?'?i=on':''%>"><%=yr%></a>
<br><small class="text-muted"><%=yr-3761%>&#8209;<%=yr-3760%></small></th>
<% } %>
</tr>
</thead>
<tbody>
<% for (const [holiday,arr] of Object.entries(items[catId])) { %>
<% let first = arr.find((item) => typeof item !== 'undefined'); %>
<tr><td><a href="<%=first.id%><%=il?'?i=on':''%>" title="<%=first.descrShort%>"><%=holiday%></a></td>
<% for (const item of arr) { %>
<td><% if (typeof item !== 'undefined') { %><%-item.dates%><% } %></td>
<% } %>
</tr>
<% } %>
</tbody>
</table>
</div>
</div><!-- #<%=category.id%> -->
<% } // ... for %>
      
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/download-modal.ejs') -%>
<%- await include('partials/emoji-switch-script.ejs') -%>
<%- await include('partials/footer.ejs') _%>
