<%- await include('partials/header.ejs', {
  title: isHebrewYear ?
    `Jewish Holidays ${calendarYear} (${calendarYear-3761}-${calendarYear-3760}) for ${locationName} | Hebcal` :
    `Jewish Holidays ${year} for ${locationName} | Hebcal`,
}) -%>
<% if (isHebrewYear) { %>
<link rel="canonical" href="https://www.hebcal.com/holidays/<%=calendarYear-3761%>-<%=calendarYear-3760%><%=iSuffix%>">
<% } else { %>
<link rel="canonical" href="https://www.hebcal.com/holidays/<%=year%><%=iSuffix%>">
<% } %>
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "Holidays",
  "item": "https://www.hebcal.com/holidays/<%=iSuffix%>"
 },{
<% if (isHebrewYear) { -%>
  "@type": "ListItem",
  "position": 2,
  "name": "<%=calendarYear%>",
  "item": "https://www.hebcal.com/holidays/<%=calendarYear-3761%>-<%=calendarYear-3760%><%=iSuffix%>"
<% } else { -%>
  "@type": "ListItem",
  "position": 2,
  "name": "<%=year%>",
  "item": "https://www.hebcal.com/holidays/<%=year%><%=iSuffix%>"
<% } -%>
 }]
}
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@5.10.2/main.min.css">
<%- await include('partials/style-fullcalendar.ejs') -%>
<style>
.tbody-striped > tbody {
  border-bottom-color: #dee2e6;
  border-bottom-width: 1px;
}
.tbody-striped > tbody > :first-child > * {
  padding-left: 0.5rem;
  padding-top: 0.6rem;
}
.tbody-striped > tbody > :last-child > * {
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
}
.tbody-striped > tbody:nth-of-type(odd) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
.well {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.333rem 0.333rem;
}
</style>
<% if (greg1 > 1752) { %><link rel="prev" href="/holidays/<%=prev%><%=iSuffix%>"><%}%>
<% if (greg1 < today.year() + 100) { %><link rel="next" href="/holidays/<%=next%><%=iSuffix%>"><%}%>
<% if (greg1 <= 1752 || greg1 > today.year() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<meta name="description" content="Dates of major and minor Jewish holidays for <%=year%>, observances and customs, holiday Torah readings.">
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<h2>Jewish Holidays <%=year%>
<% if (isHebrewYear && year.indexOf('-') !== -1) { -%>
<span class="small text-muted text-nowrap">(Hebrew year <%=calendarYear%>)</span>
<% } -%>
</h2>
<% if (greg1 <= 1752) { -%><%- await include('partials/warning-1752.ejs') -%><% } -%>
</div><!-- .col -->
</div><!-- .row -->
<div class="row gx-3 mt-2 d-print-none">
<div class="col-auto">
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm download" title="PDF one page per month, in landscape" id="pdf-<%=isHebrewYear?calendarYear:year%>" rel="nofollow" href="hebcal-<%=isHebrewYear?calendarYear:year%>.pdf<%=iSuffix%>"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg> Print</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" href="#hcdl-modal" role="button" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a>
</div>
<div class="btn-group me-1 mb-2" role="group">
<a class="btn btn-secondary btn-sm" title="Candle lighting times for Shabbat and holidays, Ashkenazi transliterations, Israeli holiday schedule, etc." href="/hebcal?v=0&amp;year=<%=isHebrewYear?calendarYear:year%>&amp;yt=<%=isHebrewYear?'H':'G'%>"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg> Customize</a>
</div>
</div><!-- .col-auto -->
<div class="col-auto">
<div class="well">
<div class="form-check form-switch">
<input class="form-check-input" type="checkbox" role="switch" id="toggle-month">
<label class="form-check-label" for="toggle-month">
  Month view
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg>
</label>
</div><!-- .form-switch -->
</div><!-- .well -->
</div><!-- .col-auto -->
<div class="col-auto mb-3"><label for="nav-year1" class="col-form-label">Year</label></div>
<div class="col-auto gx-1">
<select class="form-select nav-year" id="nav-year1" aria-label="Year selector">
<% if (isHebrewYear) { %>
<%   for (let i = calendarYear - 2; i <= calendarYear + 10; i++) { %>
<option <%= i === calendarYear ? ' selected' : ''%>><%=i-3761%>-<%=i-3760%></option>
<%   } %>
<% } else { %>
<%   for (let i = greg1 - 2; i <= greg1+6; i++) { %>
<option <%= i == greg1 ? ' selected' : ''%>><%=i%></option>
<%   } %>
<% } %>
</select>
</div><!-- .col-auto -->
</div><!-- .row -->
<div id="calendar"></div>
<div id="list-view">
<div class="row"><div class="col">
<p>Except for minor fasts, holidays begin at sundown on the first date specified and
end at nightfall on the last date specified.
<br>For example, if the dates for Rosh Hashana are listed as
<strong><time datetime="<%=RH.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=RH.subtract(1, 'd').format('MMM D')%></time>-<time datetime="<%=RH.add(1, 'd').format('YYYY-MM-DD')%>"><%=RH.add(1, 'd').format('MMM D')%></time></strong>,
then the holiday begins at sundown on <strong><%=RH.subtract(1, 'd').format('MMM D')%></strong>
and ends at nightfall on <strong><%=RH.add(1, 'd').format('MMM D')%></strong>.</p>
</div></div>
<% for (const [catId, category] of Object.entries(categories)) { %>
<div class="row mt-3" id="<%=category.id%>">
<div class="col">
<h3><%=category.name%>&nbsp;&nbsp;<%=category.emoji%></h3>
<% if ('major-holidays' === category.id) { %>
<p>Dates in <strong>bold</strong> are <em>yom tov</em>, so they have similar
obligations and restrictions to Shabbat in the sense that normal "work"
is forbidden.</p>
<% } else if ('minor-fasts' === category.id) { %>
<p>Minor fasts begin at dawn and end at nightfall.</p>
<p>Tish'a B'Av begins at sundown on the first date specified and ends at
nightfall on the second date specified.</p>
<% } // major-holidays %>
<table class="table table-borderless table-sm tbody-striped">
<colgroup>
<col style="width:200px"><col style="width:<%=isHebrewYear ? 180 : 156%>px"><col>
</colgroup>
<thead><tr><th>Holiday</th><th>Dates</th></tr></thead>
<% for (const item of items[catId]) { %>
<tbody>
<tr><td><a class="lead" href="<%=item.id%>-<%=item.name === 'Asara B\'Tevet' ? item.d.format('YYYYMMDD') : item.d.format('YYYY')%><%=iSuffix%>"><%=item.name%></a>&nbsp;&nbsp;<%=item.emoji%>
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"Event","name":"<%=item.name%>",
"startDate":"<%=item.d.format('YYYY-MM-DD')%>","endDate":"<%=item.endD.format('YYYY-MM-DD')%>",
"url":"<%=item.event.url()%>",
"location":{"@type": "VirtualLocation",
"url":"<%=item.event.url()%>"}}</script>
</td>
<td><%-item.dates%><br><small class="text-burgundy"><%=isHebrewYear ? item.hdRangeNoYear : item.hdRange%></small></td>
</tr>
<tr><td colspan="2"><em><%=item.descrShort%></em></td></tr>
</tbody>
<% } %>
</table>
<% if ('major-holidays' === category.id) { -%>
<div class="d-flex justify-content-center d-print-none">
<h6 class="text-muted mb-1">Advertisement</h6>
</div><!-- .d-flex -->
<div class="d-print-none mb-2">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-layout="in-article"
data-ad-format="fluid"
data-ad-client="ca-pub-7687563417622459"
data-ad-slot="5342180883"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .d-print-none -->
<% } -%>
</div><!-- .col -->
</div><!-- .row #<%=category.id%> -->
<% } // ... for %>
</div><!-- #list-view -->
<div class="row d-print-none mt-3">
<div class="col">
<nav>
<ul class="pagination pagination-sm">
<li class="page-item"><a class="page-link" href="<%=greg1 - 3%><%=iSuffix%>"<%- (greg1 - 3 < 1752) ? ' rel="nofollow"' : '' %>>&laquo;&nbsp;<%=greg1 - 3%></a></li>
<% for (let i = greg1 - 2; i < greg1+6; i++) { %>
<li class="page-item<%= i === greg1 ? ' active' : '' %>"><a class="page-link" href="<%=i%><%=iSuffix%>"<%- (i > today.year()+100) ? ' rel="nofollow"' : '' %>><%=i%></a></li>
<% } %>
<li class="page-item"><a class="page-link" href="<%=greg1+6%><%=iSuffix%>"<%- (greg1+6 > today.year()+100) ? ' rel="nofollow"' : '' %>><%=greg1+6%>&nbsp;&raquo;</a></li>
</ul>
</nav>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<script>
var navYears = [].slice.call(document.querySelectorAll('.nav-year'));
for (let i = 0; i < navYears.length; i++) {
  navYears[i].addEventListener('change', function(event) {
    var url = event.target.value + location.search;
    location = url;
  });
}
</script>
<%- await include('partials/download-modal.ejs') -%>
<%- await include('partials/emoji-switch-script.ejs') -%>
<%- await include('partials/script-fullcalendar.ejs') -%>
<%- await include('partials/footer.ejs', {
  footerScripts: {clipboard: true},
}) _%>
