<%- await include('partials/header.ejs') -%>
<meta name="description" content="Hebcal makes calendars of Jewish holidays. Convert Hebrew and Gregorian dates, get Shabbat candle-lighting times, Torah readings for Diaspora + Israel, Yahrzeit dates and more.">
<meta name="keywords" content="hebcal,Jewish calendar,Hebrew calendar,candle-lighting,Shabbat,Havdalah,sedrot,Sadinoff,Yahrzeit,calender">
<meta name="author" content="Michael J. Radwin">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<style>
.icon-md {
  width: 1.8rem;
  height: 1.8rem;
}
.btn-xl {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
#holiday-blurb span:lang(he) {
  font-size: 140%;
}
</style>
<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container text-center">
<ul class="bullet-list-inline" lang="<%=locale%>" dir="<%=locale==='he'?'rtl':'ltr'%>">
<% items.forEach((item) => { %>
<li><%- item %></li>
<% }); %>
</ul>
<h1>Jewish holiday calendars &amp; Hebrew date converter</h1>
<% if (holidayBlurb) { -%>
<div class="row">
<div class="col-sm-8 offset-sm-2">
 <div class="alert alert-success">
  <div class="fs-5" id="holiday-blurb"><%- holidayBlurb %></div>
  <div><%- holidayLongText %>.</div>
 </div><!-- .alert -->
</div><!-- .col-sm-8 -->
</div><!-- .row -->
<% } -%>
</div><!-- .container -->
<div class="container">
<div id="content" class="pt-2">
<div class="row g-4 pb-4">
<div class="col-md">
<div class="lead">Holidays, candle-lighting times, and Torah readings for
any year, past or present.
Download to Apple, Google, Microsoft Outlook and more.</div>
</div>
<div class="col-md-auto text-center pe-3">
<p><a class="btn btn-primary btn-xl fs-3" href="<%=calendarUrl + yearArgs %>">
  <svg class="icon icon-md mb-1 me-1"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg>
  <%= gregRangeShort %> Calendar</a>
<br><small><a title="Hebcal Custom Calendar" href="/hebcal">Customize calendar settings</a></small></p>
</div>
</div><!-- .row -->
<div class="row g-4 pb-4">
<div class="col-md">
<div class="lead">Convert between Hebrew and Gregorian dates and see today&apos;s date in a Hebrew font.</div>
</div>
<div class="col-md-auto text-center pe-3">
<p><a class="btn btn-secondary btn-xl fs-3 text-nowrap" href="/converter?gd=<%=gd%>&gm=<%=gm%>&gy=<%=gy%><%=afterSunset?'&gs=on':''%><%=il?'&i=on':''%>&g2h=1">
  <svg class="icon icon-md mb-1 me-1"><use xlink:href="<%=spriteHref%>#gi-refresh"></use></svg>
  Date Converter</a></p>
</div>
</div><!-- .row -->

<div class="row mt-3">
<div class="col-sm-4 mb-3">
<a href="/yahrzeit">
  <svg width="80" height="65" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#couple"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/yahrzeit">Yahrzeits and Birthdays</a></h3>
<p>Create a personal list of Yahrzeit (memorial) and Yizkor dates,
Hebrew Birthdays and Anniversaries for 20+ years.
Free annual email reminders &amp; calendar downloads.
<br><a href="/yahrzeit">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4 mb-3">
<a href="/holidays/<%= gregRange %><%=il?'?i=on':''%>">
  <svg width="68" height="68" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#magen-david"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/holidays/<%= gregRange %><%=il?'?i=on':''%>">Holidays</a></h3>
<p>Major, minor &amp; modern holidays, Rosh Chodesh, minor fasts, special Shabbatot.
<br><a href="/holidays/<%=hy-3761%>-<%=hy-3760%><%=il?'?i=on':''%>"><%=hy%></a> ·
<a href="/holidays/<%=gy%><%=il?'?i=on':''%>"><%=gy%></a> ·
<a class="text-nowrap" href="/holidays/<%=il?'?i=on':''%>">6-year summary</a> ·
<a class="text-nowrap" href="/hebcal">Custom calendar &raquo;</a>
</p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4 mb-3">
<a href="<%=shabbatUrl%>">
  <svg width="64" height="64" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#candles"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="<%=shabbatUrl%>">Shabbat Times</a></h3>
<p>Candle-lighting &amp; Havdalah times for Shabbat and holidays.
Start and end times for fast days.
Over <a href="/shabbat/browse/">100,000 world cities</a> supported.
<a title="Candle-lighting Times Year at a Glance" class="text-nowrap"
href="https://www.hebcal.com/home/shabbat/fridge">Year at-a-glance &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->

<div class="row">
<div class="col-sm-4 mb-3">
<a href="/sedrot/<%=il?'?i=on':''%>">
  <svg width="80" height="80" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#torah-235339"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/sedrot/<%=il?'?i=on':''%>">Torah Readings</a></h3>
<p>Aliyah-by-aliyah breakdown for the <em>Parashat ha-Shavua</em>.
Full kriyah, triennial cycle, weekday readings.
Spreadsheets for <em>leyning</em> coordinators.
<br><a href="/sedrot/<%=il?'?i=on':''%>">See more &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4 mb-3">
<svg width="80" height="69" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#book"></use></svg>
<h3 class="text-center" class="text-dark">Daily learning</h3>
<ul class="list-unstyled text-center">
  <li><%= hd.render(lg, true) %></li>
  <li><span class="text-nowrap">Daf Yomi</span> ·
  <a class="text-nowrap" href="<%- dafYomi.url() %>"><%= dafYomi.renderBrief(lg) %></a></li>
   <li><span class="text-nowrap">Mishna Yomi</span> ·
   <a class="text-nowrap" href="<%- mishnaYomi.url() %>"><%= mishnaYomi.renderBrief(lg) %></a></li>
   <li><span class="text-nowrap">Yerushalmi Yomi</span> ·
   <%= yerushalmiVilna.renderBrief(lg) %></li>
 </ul>
</div><!-- .col-sm-4 -->

<div class="col-sm-4 mb-3">
<a href="/ical/">
  <svg width="80" height="72" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#cloud-download"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/ical/">Download</a></h3>
<p>Download Jewish holidays and Hebrew dates for iPhone, iPad, Android
(via Google Calendar), Outlook, macOS Desktop Calendar, or to any
app that supports iCalendar (.ics) feeds.
<br><a href="/ical/">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->


<div class="row">
<div class="col-sm-2">
<a href="/home/developer-apis">
  <svg width="80" height="80" class="mx-auto d-block mb-2"><use xlink:href="<%=cspriteHref%>#code"></use></svg>
</a>
</div><!-- .col-sm-2 -->
<div class="col-sm-10">
<h3><a class="text-dark" href="/home/developer-apis">Developer APIs</a></h3>
<p>We're part of the Open Source Judaism movement. Embed Hebcal.com content directly onto your synagogue website with our JavaScript, JSON and RSS APIs, available under a Creative Commons Attribution (CC-BY) License. <a href="/home/developer-apis">Learn more &raquo;</a></p>
</div><!-- .col-sm-10 -->

</div><!-- .row -->
  

<% if (typeof geoip === 'object') { -%>
<!-- <%- JSON.stringify(geoip) %> -->
<% } -%>
<% if (location !== null) { -%>
<!-- <%- JSON.stringify(location) %> -->
<% } -%>
<%- await include('partials/footer.ejs') _%>
