<% include partials/header-noclose.ejs %>
<meta name="description" content="Hebcal makes calendars of Jewish holidays. Convert Hebrew and Gregorian dates, get Shabbat candle-lighting times, Torah readings for Diaspora + Israel, Yahrzeit dates and more.">
<meta name="keywords" content="hebcal,Jewish calendar,Hebrew calendar,candle lighting,Shabbat,Havdalah,sedrot,Sadinoff,Yahrzeit,calender">
<meta name="author" content="Michael J. Radwin">
<style>
ul.list-inline li:after{content:"\00a0\00b7"}
ul.list-inline li:last-child:after{content:""}
.h1, .h2, .h3, h1, h2, h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
.icon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-md {
  width: 1.8rem;
  height: 1.8rem;
}
.icon-lg {
  width: 2.7rem;
  height: 2.7rem;
}
.icon-block {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: auto;
  padding: 20px;
  border: 3px solid #e4ebeb;
  border-radius: 200px;
}
a.icon-block {
  color: #666;
  text-decoration: none;
}
.masthead {
  text-align: center;
}
.first-row {
  padding-top: 24px;
}
.pad-bot {
  padding-bottom: 32px;
}
</style>
<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
<script>
  WebFontConfig = {
    google: { families: [ 'Merriweather:400:latin' ] }
  };
  (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    wf.async = true;
    s.parentNode.insertBefore(wf, s);
  })(document);
</script>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="masthead" tabindex="-1">
<div class="container">
<ul class="list-inline">
<% items.forEach((item) => { %>
<li class="list-inline-item"><%- item %></li>
<% }); %>
</ul>
<h1>Jewish holiday calendars &amp; Hebrew date converter</h1>
<% if (holidayBlurb) { -%>
<div class="row">
<div class="col-sm-8 offset-sm-2">
 <div class="alert alert-success">
  <strong><%= holidayBlurb %>!</strong>
  <%- holidayLongText %>.
 </div><!-- .alert -->
</div><!-- .col-sm-8 -->
</div><!-- .row -->
<% } -%>
</div><!-- .container -->
</div><!-- .masthead -->
<div class="container">
<div id="content" class="first-row">
<div class="row gx-2">
<div class="col-sm-8">
<p class="lead">Holidays, candle lighting times, and Torah readings for
any year, past or present.
Download to Outlook, iPhone, Google Calendar, and more.</p>
</div>
<div class="col-sm-4 text-center pad-bot">
<p><a class="btn btn-primary btn-lg" href="/hebcal/?v=1&amp;maj=on&amp;min=on&amp;nx=on&amp;<%= countryCode == 'IL' ? 'i=on&mod=on' : 'i=off' %>&amp;lg=<%= lang %>&amp;c=off&amp;set=off<%= yearArgs %>">
  <svg class="icon icon-md align-top"><use xlink:href="#gi-calendar"></use></svg>
  <%= gregRange %> Calendar</a>
<br><small><a title="Hebcal Custom Calendar" href="/hebcal/">Customize calendar settings</a></small></p>
</div>
</div><!-- .row -->
<div class="row gx-2">
<div class="col-sm-8">
<p class="lead">Convert between Hebrew and Gregorian dates and see today&apos;s date in a Hebrew font.</p>
</div>
<div class="col-sm-4 text-center pad-bot">
<p><a class="btn btn-secondary btn-lg" href="/converter/">
  <svg class="icon icon-md align-top"><use xlink:href="#gi-refresh"></use></svg>
  Date Converter</a></p>
</div>
</div><!-- .row -->

<div class="row">
<div class="col-sm-4">
<a class="icon-block" href="/shabbat/">
  <svg class="icon icon-lg"><use xlink:href="#gi-candle"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/shabbat/">Candle lighting</a></h3>
<p>Shabbat and holiday candle-lighting and Havdalah times for over 50,000 world cities.
<br><a href="/shabbat/?geonameid=281184">Jerusalem</a> &middot;
<a href="/shabbat/?geonameid=5128581">New York</a> &middot;
<a href="/shabbat/?geonameid=2643743">London</a> &middot;
<a href="/shabbat/browse/">more...</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/yahrzeit/">
  <svg class="icon icon-lg"><use xlink:href="#gi-user-parents"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/yahrzeit/">Yahrzeits and Birthdays</a></h3>
<p>Generate a list of Yahrzeit (memorial) and Yizkor dates, or
Hebrew Birthdays and Anniversaries for the next 20 years.
<br><a href="/yahrzeit/">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/sedrot/">
  <svg class="icon icon-lg"><use xlink:href="#gi-book-open-text"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/sedrot/">Torah readings</a></h3>
<p>An aliyah-by-aliyah breakdown. Full kriyah and triennial system.
<br><a href="/sedrot/">See more &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->

<div class="row">
<div class="col-sm-4">
<a class="icon-block" href="/holidays/">
  <svg class="icon icon-lg"><use xlink:href="#bi-calendar-week"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/holidays/">Holidays</a></h3>
<p>Major, minor &amp; modern holidays, Rosh Chodesh, minor fasts, special Shabbatot.
<br><a href="/holidays/<%= gregRange %>"><%= gregRange %> holidays</a> &middot;
<a href="/holidays/"><%= gregYr1 + '-' + (gregYr1 + 5) %> table</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/ical/">
  <svg class="icon icon-lg"><use xlink:href="#bi-cloud-download"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/ical/">Download</a></h3>
<p>Download Jewish holidays and Hebrew dates for Microsoft Outlook, iPhone, iPad, Mac OS X Desktop Calendar, Android (via Google Calendar), or to any desktop program that supports iCalendar (.ics) files
<br><a href="/ical/">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/email/">
  <svg class="icon icon-lg"><use xlink:href="#gi-envelope"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/email/">Email</a></h3>
<p>Subscribe to weekly Shabbat candle lighting times and Torah portion by email.
<br><a href="https://www.hebcal.com/email/">Sign up &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->


<div class="row" style="margin-top:40px">
<div class="col-sm-2">
<a class="icon-block" href="/home/developer-apis">
  <svg class="icon icon-lg"><use xlink:href="#bi-code-slash"></use></svg>
</a>
</div><!-- .col-sm-2 -->
<div class="col-sm-10">
<h3><a class="text-dark" href="/home/developer-apis">Developer APIs</a></h3>
<p>We're part of the Open Source Judaism movement. Embed Hebcal.com content directly onto your synagogue website with our JavaScript, JSON and RSS APIs, available under a Creative Commons Attribution 3.0 License. <a href="/home/developer-apis">Learn more &raquo;</a></p>
</div><!-- .col-sm-10 -->

</div><!-- .row -->
  
</div><!-- #content -->
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="gi-refresh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M27.99908,15.83618A12.00008,12.00008,0,0,1,16.71484,27.97852c-.24414.01464-.48828.022-.73046.022a11.89341,11.89341,0,0,1-7.17121-2.39478L7.42542,27.16956a.5.5,0,0,1-.85975-.21326L5.08826,20.90479a.5.5,0,0,1,.54571-.615l6.18421.74732a.5.5,0,0,1,.314.82825L10.81372,23.3512A8.998,8.998,0,0,0,24.99817,15.798a1.07162,1.07162,0,0,1,.31824-.8341,1.03419,1.03419,0,0,1,.80731-.26123l1.00909.12207a1.08451,1.08451,0,0,1,.61676.3247A.93076.93076,0,0,1,27.99908,15.83618ZM6.68359,17.03613a1.07162,1.07162,0,0,0,.31824-.8341A8.99623,8.99623,0,0,1,21.18628,8.6488L19.8678,10.13464a.5.5,0,0,0,.314.82825l6.18421.74732a.5.5,0,0,0,.54571-.615L25.43433,5.0437a.5.5,0,0,0-.85975-.21326L23.18683,6.39429a11.89341,11.89341,0,0,0-7.17121-2.39478c-.24218,0-.48632.00733-.73046.022A12.00008,12.00008,0,0,0,4.00092,16.16382a.93076.93076,0,0,0,.24951.68677,1.08451,1.08451,0,0,0,.61676.3247l1.00909.12207A1.03419,1.03419,0,0,0,6.68359,17.03613Z"/>
</symbol>
<symbol id="gi-user-parents" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M28.17047,24.67822A2.15727,2.15727,0,0,1,29,26.23669V27.5a.5.5,0,0,1-.5.5H20.94946A2.50046,2.50046,0,0,0,21,27.5V26.23682a3.48694,3.48694,0,0,0-.77911-2.35193A4.26757,4.26757,0,0,0,21.15723,24h.68554a4.88334,4.88334,0,0,0,3.80713-1.978C26.556,22.98669,27.81232,24.32007,28.17047,24.67822Zm1.08563-6.97461C26.5224,13.75513,29.56964,6,24,6a5.1588,5.1588,0,0,0-7.15405.00391A7.04129,7.04129,0,0,1,18,10v1.6709a3.35379,3.35379,0,0,1,.50879,3.40137l-.27832.75a4.72611,4.72611,0,0,1-1.39453,1.94091L16.38385,19.833a20.40837,20.40837,0,0,0,2.238.3855A2.89327,2.89327,0,0,0,21.157,22H21.843a2.89317,2.89317,0,0,0,2.53631-1.78418,16.84319,16.84319,0,0,0,4.39606-1.05469A.99171.99171,0,0,0,29.2561,17.70361ZM18.17047,24.67822c-.43512-.32959-1.82849-1.47961-2.95166-2.41211A5.01529,5.01529,0,0,1,11.44775,24H9.55225a5.01415,5.01415,0,0,1-3.77674-1.7417c-1.1488.947-2.57312,2.11963-2.946,2.41992A1.85972,1.85972,0,0,0,2,26.23669V27.5a.5.5,0,0,0,.5.5h16a.5.5,0,0,0,.5-.5V26.23669A1.65805,1.65805,0,0,0,18.17047,24.67822ZM4.64478,15.12573a2.99143,2.99143,0,0,0,1.31073,1.462l.66583,3.05176A2.99994,2.99994,0,0,0,9.55237,22h1.89526a2.99994,2.99994,0,0,0,2.931-2.36047l.66583-3.05176a2.99115,2.99115,0,0,0,1.31073-1.462l.28-.75146A1.2749,1.2749,0,0,0,16,12.62988V10c0-3-2-5-5.5-5S5,7,5,10v2.62988a1.2749,1.2749,0,0,0-.63519,1.74439Z"/>
</symbol>
<symbol id="gi-calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M15,18.5v1a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h1A.5.5,0,0,1,15,18.5ZM14.5,22h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,14.5,22Zm0-8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,14.5,14Zm4,8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,22Zm-8-4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,10.5,18Zm0,4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,10.5,22Zm12-8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,22.5,14Zm0,4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,22.5,18Zm-4,0h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,18Zm0-4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,14ZM27,7V26a2.00006,2.00006,0,0,1-2,2H7a2.00006,2.00006,0,0,1-2-2V7A2.002,2.002,0,0,1,7,5V6.5a.5.5,0,0,0,.5.5h1A.5.5,0,0,0,9,6.5v-1A.5.5,0,0,1,9.5,5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V5A2.002,2.002,0,0,1,27,7ZM25.00146,26l-.00109-14H7V26Z"/>
</symbol>
<symbol id="gi-candle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M13.50555,11.76514c-2.19653-2.967.48481-6.31324,2.9513-8.511a.49292.49292,0,0,1,.7987.21265c.6883,2.16943,2.30848,4.0144,2.30848,6.2644a4.21768,4.21768,0,0,1-.95008,2.82788.49981.49981,0,0,1-.85992-.43579c.23-1.42505-.75836-2.55908-1.52179-3.64673a.24622.24622,0,0,0-.37866-.03467,3.78949,3.78949,0,0,0-1.45417,2.9773A.50074.50074,0,0,1,13.50555,11.76514ZM24.382,24H7.618a1,1,0,0,0-.89443,1.44722L8,28H24l1.27642-2.55278A1,1,0,0,0,24.382,24ZM21,16a1,1,0,0,0-1-1H12a1,1,0,0,0-1,1v6H21Z"/>
</symbol>
<symbol id="gi-book-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M25.99994,5h-6a4.99548,4.99548,0,0,0-4,2.00311,4.99548,4.99548,0,0,0-4-2.00311h-6a3.00335,3.00335,0,0,0-3,3V23a3,3,0,0,0,3,3h6a1.25185,1.25185,0,0,1,1.15454.77246A2.00011,2.00011,0,0,0,14.99634,28h2.00708a2.0004,2.0004,0,0,0,1.84241-1.22858A1.24982,1.24982,0,0,1,19.9989,26h6.001a3,3,0,0,0,3-3V8A3.00336,3.00336,0,0,0,25.99994,5Zm-11,19.00049h-.18359A2.99129,2.99129,0,0,0,11.99994,22h-6a1,1,0,0,1-1-1V8a1,1,0,0,1,1-1h6a3,3,0,0,1,3,3Zm12-3.00049a1,1,0,0,1-1,1h-6a2.99128,2.99128,0,0,0-2.81641,2.00049h-.18359V10a3,3,0,0,1,3-3h6a1,1,0,0,1,1,1Z"/>
</symbol>
<symbol id="gi-book-open-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M25.99994,5h-6a4.99548,4.99548,0,0,0-4,2.00311,4.99548,4.99548,0,0,0-4-2.00311h-6a3.00335,3.00335,0,0,0-3,3V23a3,3,0,0,0,3,3h6a1.25185,1.25185,0,0,1,1.15454.77246A2.00011,2.00011,0,0,0,14.99634,28h2.00708a2.0004,2.0004,0,0,0,1.84241-1.22858A1.24982,1.24982,0,0,1,19.9989,26h6.001a3,3,0,0,0,3-3V8A3.00336,3.00336,0,0,0,25.99994,5Zm-11,19.00049h-.18359A2.99129,2.99129,0,0,0,11.99994,22h-6a1,1,0,0,1-1-1V8a1,1,0,0,1,1-1h6a3,3,0,0,1,3,3Zm12-3.00049a1,1,0,0,1-1,1h-6a2.99128,2.99128,0,0,0-2.81641,2.00049h-.18359V10a3,3,0,0,1,3-3h6a1,1,0,0,1,1,1Zm-14-3.5v1a.5.5,0,0,1-.5.5h-5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h5A.5.5,0,0,1,12.99994,17.5Zm0-4v1a.5.5,0,0,1-.5.5h-5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h5A.5.5,0,0,1,12.99994,13.5Zm0-4v1a.5.5,0,0,1-.5.5h-5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h5A.5.5,0,0,1,12.99994,9.5Zm12,0v1a.5.5,0,0,1-.5.5h-5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h5A.5.5,0,0,1,24.99994,9.5Zm-2,8v1a.5.5,0,0,1-.5.5h-3a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h3A.5.5,0,0,1,22.99994,17.5Zm2-4v1a.5.5,0,0,1-.5.5h-5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h5A.5.5,0,0,1,24.99994,13.5Z"/>
</symbol>
<symbol id="gi-envelope" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
<path d="M14.69305,17.707,3.986,7h24L17.27893,17.707a1.15255,1.15255,0,0,1-.70709.293H15.40015A1.15257,1.15257,0,0,1,14.69305,17.707ZM10.17169,16,4,9.82812V22.17188Zm11.65656,0L28,22.17188V9.82812Zm-3.428,3.41418A2.3055,2.3055,0,0,1,16.986,20H14.986a2.30474,2.30474,0,0,1-1.41424-.58594l-1.99988-2L3.986,25h24l-7.58581-7.58594Z"/>
</symbol>
<symbol viewBox="0 0 16 16" id="bi-calendar-week" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
</symbol>
<symbol viewBox="0 0 16 16" id="bi-code-slash" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
</symbol>
<symbol viewBox="0 0 16 16" id="bi-cloud-download" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
<path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</symbol>
</defs>
</svg>
<%_ include partials/footer.ejs _%>
