<%- await include('partials/header.ejs') -%>
<meta name="description" content="Hebcal makes calendars of Jewish holidays. Convert Hebrew and Gregorian dates, get Shabbat candle-lighting times, Torah readings for Diaspora + Israel, Yahrzeit dates and more.">
<meta name="keywords" content="hebcal,Jewish calendar,Hebrew calendar,candle lighting,Shabbat,Havdalah,sedrot,Sadinoff,Yahrzeit,calender">
<meta name="author" content="Michael J. Radwin">
<style>
.icon-md {
  width: 1.8rem;
  height: 1.8rem;
}
.icon-lg {
  width: 2.7rem;
  height: 2.7rem;
}
.icon-block {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: auto;
  padding: 20px;
  border: 3px solid #e4ebeb;
  border-radius: 200px;
}
a.icon-block {
  color: #666;
  text-decoration: none;
}
.masthead {
  text-align: center;
}
.first-row {
  padding-top: 24px;
}
.pad-bot {
  padding-bottom: 32px;
}
</style>
<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="masthead" tabindex="-1">
<div class="container">
<% if (lg === 'h' || lg === 'he') { %><div lang="he" dir="rtl"><% } %>
<ul class="bullet-list-inline">
<% items.forEach((item) => { %>
<li><%- item %></li>
<% }); %>
</ul>
<% if (lg === 'h' || lg === 'he') { %></div><% } %>
<h1>Jewish holiday calendars &amp; Hebrew date converter</h1>
<% if (holidayBlurb) { -%>
<div class="row">
<div class="col-sm-8 offset-sm-2">
 <div class="alert alert-success">
  <strong><%- holidayBlurb %></strong>
  <%- holidayLongText %>.
 </div><!-- .alert -->
</div><!-- .col-sm-8 -->
</div><!-- .row -->
<% } -%>
</div><!-- .container -->
</div><!-- .masthead -->
<div class="container">
<div id="content" class="first-row">
<div class="row gx-2">
<div class="col-sm-8">
<p class="lead">Holidays, candle lighting times, and Torah readings for
any year, past or present.
Download to Outlook, iPhone, Google Calendar, and more.</p>
</div>
<div class="col-sm-4 text-center pad-bot">
<p><a class="btn btn-primary btn-lg" href="/hebcal?v=1&amp;maj=on&amp;min=on&amp;nx=on&amp;<%= il ? 'i=on&mf=on&ss=on&mod=on' : 'i=off&mf=off&ss=off&mod=off' %>&amp;lg=<%= lang %>&amp;c=off&amp;set=off<%= yearArgs %>">
  <svg class="icon icon-md align-top"><use xlink:href="<%=spriteHref%>#gi-calendar"></use></svg>
  <%= gregRange %> Calendar</a>
<br><small><a title="Hebcal Custom Calendar" href="/hebcal">Customize calendar settings</a></small></p>
</div>
</div><!-- .row -->
<div class="row gx-2">
<div class="col-sm-8">
<p class="lead">Convert between Hebrew and Gregorian dates and see today&apos;s date in a Hebrew font.</p>
</div>
<div class="col-sm-4 text-center pad-bot">
<p><a class="btn btn-secondary btn-lg" href="/converter?gd=<%=gd%>&gm=<%=gm%>&gy=<%=gy%><%=afterSunset?'&gs=on':''%><%=il?'&i=on':''%>&g2h=1">
  <svg class="icon icon-md align-top"><use xlink:href="<%=spriteHref%>#gi-refresh"></use></svg>
  Date Converter</a></p>
</div>
</div><!-- .row -->

<div class="row">
<div class="col-sm-4">
<a class="icon-block" href="/shabbat">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#gi-candle"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/shabbat">Candle lighting</a></h3>
<p>Shabbat and holiday candle-lighting &amp; Havdalah times for over 50,000 world cities.
<a href="/shabbat?geonameid=281184">Jerusalem</a> &middot;
<a href="/shabbat?geonameid=5128581">New York</a> &middot;
<a href="/shabbat?geonameid=2643743">London</a> &middot;
<a href="/shabbat?geonameid=5368361">Los Angeles</a> &middot;
<a href="/shabbat/browse/">more cities...</a> &middot;
<a title="Candle-lighting Times Year at a Glance" href="https://www.hebcal.com/home/shabbat/fridge">year at a glance &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/yahrzeit">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#gi-user-parents"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/yahrzeit">Yahrzeits and Birthdays</a></h3>
<p>Generate a list of Yahrzeit (memorial) and Yizkor dates,
Hebrew Birthdays and Anniversaries for the next 20 years.
<br><a href="/yahrzeit">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/sedrot/">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#gi-book-open-text"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/sedrot/">Torah readings</a></h3>
<p>An aliyah-by-aliyah breakdown. Full kriyah and triennial system.
<br><a href="/sedrot/">See more &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->

<div class="row">
<div class="col-sm-4">
<a class="icon-block" href="/holidays/">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#bi-calendar-week"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/holidays/">Holidays</a></h3>
<p>Major, minor &amp; modern holidays, Rosh Chodesh, minor fasts, special Shabbatot.
<br><a href="/holidays/<%= gregRange %>"><%= gregRange %> holidays</a> &middot;
<a href="/holidays/"><%= gregYr1 + '-' + (gregYr1 + 5) %> table</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/ical/">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/ical/">Download</a></h3>
<p>Download Jewish holidays and Hebrew dates for Microsoft Outlook, iPhone, iPad, Mac OS X Desktop Calendar, Android (via Google Calendar), or to any desktop program that supports iCalendar (.ics) files
<br><a href="/ical/">Get started &raquo;</a></p>
</div><!-- .col-sm-4 -->

<div class="col-sm-4">
<a class="icon-block" href="/email/">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg>
</a>
<h3 class="text-center"><a class="text-dark" href="/email/">Email</a></h3>
<p>Subscribe to weekly Shabbat candle lighting times and Torah portion by email.
<br><a href="https://www.hebcal.com/email/">Sign up &raquo;</a></p>
</div><!-- .col-sm-4 -->
</div><!-- .row -->


<div class="row" style="margin-top:40px">
<div class="col-sm-2">
<a class="icon-block" href="/home/developer-apis">
  <svg class="icon icon-lg"><use xlink:href="<%=spriteHref%>#bi-code-slash"></use></svg>
</a>
</div><!-- .col-sm-2 -->
<div class="col-sm-10">
<h3><a class="text-dark" href="/home/developer-apis">Developer APIs</a></h3>
<p>We're part of the Open Source Judaism movement. Embed Hebcal.com content directly onto your synagogue website with our JavaScript, JSON and RSS APIs, available under a Creative Commons Attribution 3.0 License. <a href="/home/developer-apis">Learn more &raquo;</a></p>
</div><!-- .col-sm-10 -->

</div><!-- .row -->
  
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
