<%- await include('partials/header.ejs') -%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="<%=tacssHref%>">
<link rel="canonical" href="https://www.hebcal.com/link?<%=geoUrlArgs%>">
<meta name="robots" content="noindex, nofollow">
<style type="text/css">
#change-city {
  margin-top: 30px;
  margin-bottom: 80px;
}
div.hebcal-container div h3 {
  font-size: calc(1.275rem + 0.3vw);
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>Embed Shabbat Times in your Website</h2>
<p class="lead">Use these HTML tags to embed weekly Shabbat candle-lighting
times and Torah portion directly on your synagogue’s website.</p>
<p>Browse the <a href="/home/developer-apis">Hebcal web developer
APIs</a> to display other information on your site (e.g. today's
Hebrew date, a full Jewish Calendar, RSS feeds).</p>
<h3><%= locationName %></h3>
<a href="#change">Change city</a>
<p><b>Instructions:</b> Copy everything from this box and paste it into
the appropriate place in your HTML.</p>
<pre><code class="html">&lt;div id="hebcal-shabbat"&gt;&lt;/div&gt;
&lt;script&gt;
fetch('https://www.hebcal.com/shabbat?cfg=i2&amp;<%= geoUrlArgs %>&amp;tgt=_top')
  .then(response =&gt; response.text())
  .then(data =&gt; document.getElementById('hebcal-shabbat').innerHTML = data);
&lt;/script&gt;
</code></pre>

<p>The result will look like this (<a href="#fonts">customize fonts</a>):</p>

<div class="card">
<div class="card-body">
<div id="hebcal-shabbat"></div>
<script>
fetch('/shabbat?cfg=i2&<%- geoUrlArgs %>&tgt=_top')
  .then(response => response.text())
  .then(data => document.getElementById('hebcal-shabbat').innerHTML = data);
</script>
</div><!-- .card-body -->
</div><!-- .card -->

<div id="change-city">
<h3 id="change">City and settings</h3>
<p>Enter a new city or select different candle-lighting, Havdalah
  or language options to get revised HTML tags.</p>
<form action="/link" autocomplete="off" method="get">
<div class="row">
<div class="col-sm-6">
<input type="hidden" name="geo" id="geo" value="<%= q.geo || 'geonameid' %>">
<input type="hidden" name="zip" id="zip" value="<%= q.zip || '' %>">
<input type="hidden" name="geonameid" id="geonameid" value="<%= q.geonameid %>">
<%- await include('partials/city-and-havdalah.ejs') -%>
<label class="form-label" for="lg">Event titles</label>
<select name="lg" class="form-select mb-2" id="lg">
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<option <%= q.lg === langName ? 'selected' : '' %> value="<%=langName%>"><%=desc[1] ? desc[1] + ' - ' : ''%><%=desc[0]%></option>
<% } -%>
</select>
</div>
</div>
<button type="submit" class="btn btn-primary">Get new HTML tags</button>
</form>
</div><!-- #change-city -->

<h3 id="fonts">Customize Fonts</h3>

<p>To change the fonts to match the rest of your site, you can add a
<code>&lt;style type="text/css"&gt;</code> stylesheet like this to the
<code>&lt;head&gt; ... &lt;/head&gt;</code> section at the top of your web
page:</p>

<pre><code class="html">&lt;style type="text/css"&gt;
div.hebcal-container {
 font-family: "Gill Sans MT","Gill Sans",GillSans,Arial,Helvetica,sans-serif;
 font-size: small;
}
div.hebcal-container div h3 {
 font-family: Georgia,Palatino,"Times New Roman",Times,serif;
}
div.hebcal-container div ul.hebcal-results { list-style-type:none }
div.hebcal-container div ul.hebcal-results li {
  margin-bottom: 11px;
  font-size: 21px;
  font-weight: 200;
  line-height: normal;
}
div.hebcal-container div div.hebcal-results .candles { color: red; font-size: large }
div.hebcal-container div div.hebcal-results .havdalah { color: green }
div.hebcal-container div div.hebcal-results .parashat { color: black; background: #ff9 }
div.hebcal-container div div.hebcal-results .holiday { display: none }
&lt;/style&gt;</code></pre>

<p>Those fonts and colors are just an example.  <a
href="https://www.w3.org/Style/CSS/">Cascading Style Sheets (CSS)</a> are
very powerful and flexible.</p>
</div><!-- .col-sm-12 -->
</div><!-- .row -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('pre code').forEach(function(el) {
    hljs.highlightElement(el);
  });
});
</script>
<%- await include('partials/footer.ejs', {footerScripts: {tooltip: true, typeahead: true}}) -%>
