<%- await include('partials/header.ejs', {
  title: `Counting of the Omer ${hyear} - Hebcal`,
}) -%>
<link rel="canonical" href="https://www.hebcal.com/omer/<%=hyear%>">
<% if (items[1].d.year() <= 1752 || items[1].d.year() > new Date().getFullYear() + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<meta name="description" content="For Hebrew year <%=hyear%>, we count the Omer from <%=items[1].d.subtract(1, 'd').format('MMMM D') %> through <%=items[49].d.format('MMMM D, YYYY') %>">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-3">
<div class="col">
<h2>Counting of the Omer <%= hyear - 3760 %> / <span class="text-nowrap" dir="rtl" lang="he">סְפִירַת הָעוֹמֶר <%= hyear %></span></h2>
</div>
</div>
<div class="row mt-1">
<div class="col-md-10">
<% if (items[1].d.year() <= 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<p>Counting of the Omer (or Sefirat Ha’omer, Hebrew: <span lang="he" dir="rtl">ספירת העומר</span>) is a verbal counting of each of
  the forty-nine days between the Jewish holidays of Passover and Shavuot.
  <sup><a title="The Counting of the Omer from Judaism 101"
    href="https://www.jewfaq.org/holidayb.htm">[1]</a></sup>
  <sup><a title="Counting of the Omer from Wikipedia"
    href="https://en.wikipedia.org/wiki/Counting_of_the_Omer">[2]</a></sup>
</p>
<div class="float-end ms-3 mt-1 mb-1 d-print-none"><a class="btn btn-sm btn-secondary" href="#hcdl-modal" role="button" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a></div>
<p>We begin counting on the evening of the second night of Pesach:
  <time class="text-burgundy text-nowrap" datetime="<%=items[1].d.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=items[1].d.subtract(1, 'd').format('dddd, D MMMM YYYY')%></time>,
  corresponding to the <span class="text-nowrap"><%=items[1].hd.render('en')%></span>.
  The counting concludes on the night before Shavuot:
  <time class="text-burgundy text-nowrap" datetime="<%=items[49].d.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=items[49].d.subtract(1, 'd').format('dddd, D MMMM YYYY')%></time>,
  corresponding to the <span class="text-nowrap"><%=items[49].hd.render('en')%></span>.</p>
<div class="table-responsive mt-3">
<table class="table table-striped">
<colgroup>
  <col style="width: 46px"><col><col>
</colgroup>
<thead>
<tr class="align-top">
  <th>Day</th>
  <th>Date</th>
  <th>Sefira</th>
</tr>
</thead>
<tbody class="table-group-divider">
<% for (let i = 1; i <= 49; i++) { const o = items[i]; %>
<tr class="align-middle">
 <td class="text-end"><a class="fs-4" href="/omer/<%=hyear%>/<%=o.omerDay%>"><%=o.omerDay%></a></td>
 <td><%=o.hd.getDate()%>&nbsp;<%=o.hd.getMonthName()%> ·
  <span class="text-nowrap"><%=o.d.subtract(1, 'd').format('ddd')%> night,
   <time datetime="<%=o.d.subtract(1, 'd').format('YYYY-MM-DD')%>"><%=o.d.subtract(1, 'd').format('D MMMM')%></time>
  </span></td>
 <td><span dir="rtl" lang="he"><%=o.he%></span><br><%=o.sefira%></td>
</tr>
<% } %>
</tbody>
</table>
</div>
</div><!-- .col-md-10 -->
<% if (typeof books !== 'undefined') { %>
<div class="col-md-2">
<h6 id="books">Books <small class="text-body-secondary">(paid links)</small></h6>
<div class="row">
<% books.forEach((book) => { %>
<div class="col">
<div class="card mb-3" style="width: 8rem;">
<a rel="sponsored" title="<%=book.text%>" href="https://www.amazon.com/o/ASIN/<%=book.ASIN%>/hebcal-20">
<% if (typeof amp === 'boolean' && amp) { -%>
<amp-img alt="<%=book.text%>"
src="/i/<%=book.ASIN%>.01.MZZZZZZZ.jpg"
width="<%=book.dimensions?.width||104%>"
height="<%=book.dimensions?.height||160%>"
layout="responsive"></amp-img>
<% } else { -%>
<img alt="<%=book.text%>"
src="/i/<%=book.ASIN%>.01.MZZZZZZZ.jpg"
class="img-fluid card-img-top"
width="<%=book.dimensions?.width||104%>"
height="<%=book.dimensions?.height||160%>"
style="border:none">
<% } -%>
</a>
<div class="card-body">
<p class="card-text small"><a rel="sponsored" title="<%=book.text%>" href="https://www.amazon.com/o/ASIN/<%=book.ASIN%>/hebcal-20"><%=book.shortTitle%></a>
<% if (book.author) { %><br>by <%=book.author%><% } %></p>
</div><!-- .card-body -->
</div><!-- .card -->
</div><!-- .col -->
<% }); %>
<p class="text-body-secondary small">When you buy a book using a link on this page, we receive a commission.
Thank you for supporting Hebcal.</p>
</div><!-- .row -->
</div><!-- .col-md-2 -->
<% } // books %>
</div><!-- .row -->
<div class="d-flex gx-2 mt-2 justify-content-between d-print-none">
<% if (hyear > 3860) { %><div>
<a rel="prev" class="btn btn-outline-secondary me-2" href="/omer/<%=hyear-1%>"><span aria-hidden="true">←&nbsp;</span><%=hyear-1%></a>
</div><% } %>
<% if (hyear < 6759) { %><div>
<a rel="next" class="btn btn-outline-secondary ms-2" href="/omer/<%=hyear+1%>"><%=hyear+1%><span aria-hidden="true">&nbsp;→</span></a>
</div><% } %>
</div>
<%- await include('partials/download-modal.ejs') -%>
<%- await include('partials/footer.ejs', {footerScripts: {clipboard: true}}) _%>
