<%- await include('partials/header.ejs', {
  title: `Shabbat Torah Readings ${hyear} - Hebcal`,
}) -%>
<link rel="canonical" href="https://www.hebcal.com/sedrot/<%=hyear%>?i=<%=il?'on':'off'%>">
<% if (noIndex) { -%>
<meta name="robots" content="noindex, nofollow">
<% } else { -%>
<link rel="prev" href="<%=prev%>">
<link rel="next" href="<%=next%>">
<% } -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-2">
<div class="col">
<% if (hyear <= 5513) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<h2>Shabbat Torah Readings <%=hyear%> <span class="h4 small text-body-secondary"><%=il ? 'Israel 🇮🇱' : 'Diaspora'%></span></h2>

<p><a class="float-end btn btn-secondary ms-3 mt-1 mb-1" href="#hcdl-modal" role="button" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a>
<small>This page displays the <%=il?'Israel':'Diaspora'%> Torah reading schedule.
The <a href="<%=hyear%>?i=<%=il?'off':'on'%>"><%=il?'Diaspora':'Israel'%> schedule</a> is used
by Jews living <%=il?'outside of':'in'%> modern Israel.</small></p>

<table class="table table-striped">
<colgroup>
  <col style="width:128px"><col style="width:128px"><col>
</colgroup>
<thead>
<tr>
  <th>
    <div class="float-start"><a title="<%=hyear-1%>" href="<%=prev%>"><svg width="1em" height="1em" class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-chevron-double-left"></use></svg></a></div>
    Date</th>
  <th>Hebrew Date</th>
  <th>Parsha
    <div class="float-end"><a title="<%=hyear+1%>" href="<%=next%>"><svg width="1em" height="1em" class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-chevron-double-right"></use></svg></a></div>
  </th>
</tr>
</thead>
<tbody class="table-group-divider">
<% let py = -1;
for (const item of items) { %>
<tr>
  <td><time datetime="<%= item.d.format('YYYY-MM-DD') %>"><span class="text-nowrap"><%= item.d.format('MMMM D') %></span><%= item.d.year() !== py ? item.d.format(', YYYY') : '' %></time></td>
  <td class="text-nowrap"><%= item.hd.getDate() %> <%= item.hd.getMonthName() %></td>
  <td><ul class="list-unstyled mb-0">
  <li><a href="<%=item.url%>"><%= item.title.replace(/'/g, '’') %></a></li>
<% for (const holiday of item.holidays) { %>
  <li class="mt-2"><% if (holiday.url) { %><a class="link-success" href="<%= holiday.url %>"><% } else { %><span class="text-success"><% } %><%=holiday.title.replace(/'/g, '’')%><% if (holiday.url) { %></a><% } else { %></span><% } %></li>
<% } %>
  </ul></td>
</tr>
<% py = item.d.year();
} %>
</tbody>
</table>

<div class="d-flex gx-2 mt-2 justify-content-between d-print-none">
<div>
<a class="btn btn-outline-secondary me-2" href="<%=prev%>"><span aria-hidden="true">←&nbsp;</span><%=hyear - 1%></a>
</div>
<div>
<a class="btn btn-outline-secondary ms-2" href="<%=next%>"><%=hyear + 1%><span aria-hidden="true">&nbsp;→</span></a>
</div>
</div>

</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/download-modal.ejs') -%>
<%- await include('partials/footer.ejs', {footerScripts: {clipboard: true}}) _%>
