<%- await include('partials/header.ejs') -%>
<% if (date && (d.year() <= 1752 || d.year() > new Date().getFullYear() + 100)) { %><meta name="robots" content="noindex, nofollow"><% } %>
<link rel="dns-prefetch" href="https://www.sefaria.org/">
<link rel="dns-prefetch" href="https://tikkun.io/">
<link rel="canonical" href="https://www.hebcal.com/sedrot/<%= parsha.anchor %><%= date ? ('-' + date) : '' %><%=iSuffix%>">
<%- await include('partials/parsha-breadcrumb-structured.ejs') -%>
<meta name="description" content="Parashat <%=parshaName%> (<%=parsha.bookName%> <%=parsha.verses%>). Read on <%= d.format('D MMMM YYYY') %> / <%= hd.toString().replace(/'/g, '’') %> in <%=locationName%>. Torah reading, Haftarah, links to audio and commentary.">
<meta name="keywords" content="<%=translations.join(',')%>">
<% if (parsha.prev) { %><link rel="prev" href="/sedrot/<%=parsha.prev.anchor%>"><%}%>
<% if (parsha.next) { %><link rel="next" href="/sedrot/<%=parsha.next.anchor%>"><%}%>
<style>
ol.list-unstyled li {margin-bottom: 0.33em}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col">
<%- await include('partials/parsha-detail-breadcrumb.ejs') -%>
<h2><span class="d-none d-sm-inline">Parashat</span> <%=parshaName%> <%= date ? hd.getFullYear() : '' %> /
<bdo dir="rtl" class="text-nowrap"><span class="d-none d-sm-inline" lang="he" dir="rtl">פָּרָשַׁת</span> <span lang="he" dir="rtl"><%=parsha.hebrew%></span></bdo></h2>
<% if (date) { -%>
<p class="lead"><time datetime="<%= d.format('YYYY-MM-DD') %>" class="text-nowrap fw-normal text-burgundy"><%= d.format('D MMMM YYYY') %></time> / <span class="text-nowrap fw-normal text-burgundy"><%= hd.toString().replace(/'/g, '’') %></span><% if (israelDiasporaDiffer) { %> <span class="text-body-secondary">(<%=il ? 'Israel' : 'Diaspora'%>)</span><% } %></p>
<% } -%>
<% if (date && d.year() <= 1178) { -%>
<%- await include('partials/warning-early.ejs') -%>
<% } else if (date && d.year() <= 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<p>Parashat <%=parshaName%> is the <%=parsha.ordinal%> weekly Torah portion in the annual Jewish cycle of Torah reading.
<% if (!date && nextRead) { -%>
Next read <% if (israelDiasporaDiffer) { %>in <%=locationName%><% } %> on 
<a href="<%=nextRead.anchor%>-<%=nextRead.d.format('YYYYMMDD')%><%=iSuffix%>"><time datetime="<%=nextRead.d.format('YYYY-MM-DD')%>"><%=nextRead.d.format('D MMM YYYY')%></time>
 / <span class="text-nowrap"><%= nextRead.event.getDate().toString().replace(/'/g, '’') %></span></a>.
<% } -%>
</p>
<% if (israelDiasporaDiffer) { -%>
<p><small>This page displays the <%=il?'Israel':'Diaspora'%> Torah reading for <%=parshaName%><%= date ? ' ' + hd.getFullYear() : '' %>.
The <a href="<%=date ? otherLocationAnchor : parshaAnchor + (il?'':'?i=on')%>"><%=il?'Diaspora':'Israel'%> schedule</a> is used
by Jews living <%=il?'outside of':'in'%> modern Israel.</small></p>
<% } -%>
<h4 id="torah"><span class="d-none d-sm-inline">Torah Portion:</span>
<% if (reading.torahHtml) { %><%- reading.torahHtml -%>
<% } else { -%>
<a href="https://www.sefaria.org/<%=parsha.bookName%>.<%=parsha.verses.replace(/:/g, '.')%>?lang=bi&amp;aliyot=1"
title="Parashat <%=parshaName%> from Sefaria"><%=parsha.bookName%> <%=parsha.verses%></a>
<% } -%>
</h4>
<% if (typeof summary === 'object') { %><p><%- summary.html %>&nbsp;<sup><a title="<%= summary.title %>" href="<%- summary.link %>">[1]</a></sup></p><% } %>
</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<div class="<%= !hasTriennial ? 'col' : date ? 'col-12 col-sm-6' : 'col-12 col-lg-3'%>">
<% if (reading.fullkriyah) { -%>
<h5>Full Kriyah</h5>
<ol class="list-unstyled">
<%- await include('partials/aliyot-loop.ejs', {aliyot: reading.fullkriyah}) -%>
</ol>
<% } // reading.fullkriyah %>
<%
const spMaftirItems = items.filter((item) => typeof item.maftir === 'object');
if (!date && spMaftirItems.length !== 0) { -%>
<p class="small text-body-secondary">N.B. special maftir in years
<% for (let i = 0; i < spMaftirItems.length; i++) {
  const item = spMaftirItems[i]; -%>
<a class="text-success" title="<%=item.maftir.reason%>" href="<%=item.anchor%>-<%=item.d.format('YYYYMMDD')%><%=iSuffix%>"><%=item.event.getDate().getFullYear()%></a><%= i !== spMaftirItems.length - 1 ? ', ' : ''%>
<% } -%>
</p>
<% } -%>
<%- await include('partials/haftara.ejs') -%>
<%
const spHaftItems = items.filter((item) => typeof item.haftara === 'string');
if (!date && spHaftItems.length !== 0) { -%>
<p class="small text-body-secondary">N.B. special Haftarah in years
<% for (let i = 0; i < spHaftItems.length; i++) {
  const item = spHaftItems[i]; -%>
<a class="text-success" title="<%=item.haftaraReason%>" href="<%=item.anchor%>-<%=item.d.format('YYYYMMDD')%><%=iSuffix%>"><%=item.event.getDate().getFullYear()%></a><%= i !== spHaftItems.length - 1 ? ', ' : ''%>
<% } -%>
</p>
<% } -%>
</div><!-- fk -->
<% if (hasTriennial) { %>
<% if (date) { %>
<div class="col-sm-6">
<h5>Triennial <small class="text-body-secondary">year <%=triennial.yearNum%></small></h5>
<% if (date && israelDiasporaDiffer) { -%>
<p class="small">N.B. the following is read in
<strong><%=locationName%></strong> for <%=hd.getFullYear()%>.
<br>See also <a href="<%=otherLocationAnchor%>"><%=otherLocationParsha%> <%=hd.getFullYear()%> <%=il?'Diaspora':'Israel'%></a></p>
<% } -%>
<% if (triennial.fullParsha) { %>
<p><%=parshaName%> is read in its entirety in <%=triennial.hyear%>. <span class="text-nowrap">See Full Kriyah.</span></p>
<% } else { %>
<%- await include('partials/aliyot-loop.ejs', {aliyot: triennial.reading}) -%>
<% if (parshaName === 'Yitro') { %>
<div class="small mb-3 text-body-secondary">Note: in the abbreviated triennal reading above,
the congregation experiences <span lang="he" dir="rtl">עֲשֶׂרֶת הַדִבְּרוֹת</span>
only in years 2 and 3 of the cycle.
Some congregations read the entire parsha every year.</div>
<% } %>
<% } %>
<% if (triennial.haftara) { -%>
<%- await include('partials/haftara.ejs') -%>
<p class="haftara">Alternate Haftarah:
<%- triennial.haftaraHtml %>
<%- await include('partials/numverses.ejs', {v: triennial.haftaraNumV}) -%>
</p>
<% } -%>
</div>
<% } else { // date %>
<% for (let yr = 1; yr <= 3; yr++) {
  const triReading = triennial.readings[yr - 1]; %>
<div class="col-lg-3 col-sm-6">
<h5><span class="text-nowrap">Triennial Year <%=yr%></span>
<% if (typeof triReading.d !== 'undefined') { %><br><span class="h6 small text-body-secondary"><time datetime="<%=triReading.d.format('YYYY-MM-DD')%>"><%=triReading.d.format('D MMM YYYY')%></time></span><% } %></h5>
<% if (triReading.readSeparately) { %>
<p>Read separately <%= israelDiasporaDiffer ? 'in ' + locationName : '' %> in <%=triReading.hyear%></p>
<ul class="list-unstyled">
<li><a href="<%=parsha.p1anchor%>-<%=triReading.p1d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p1%> <%=triReading.hyear%></a> <span class="text-body-secondary">(<time datetime="<%=triReading.p1d.format('YYYY-MM-DD')%>"><%=triReading.p1d.format('D MMM YYYY')%></time>)</span>
<li><a href="<%=parsha.p2anchor%>-<%=triReading.p2d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p2%> <%=triReading.hyear%></a> <span class="text-body-secondary">(<time datetime="<%=triReading.p2d.format('YYYY-MM-DD')%>"><%=triReading.p2d.format('D MMM YYYY')%></time>)</span>
</ul>
<% } else if (triReading.readTogether) { %>
<p class="small">See <a href="<%=triReading.anchor%>-<%=triReading.d.format('YYYYMMDD')%><%=iSuffix%>"><%=triReading.readTogether%> <%=triReading.hyear%></a></p>
<% } else { %>
<% if (triReading.fullParsha) { %>
<p class="small"><%=parshaName%> is read in its entirety in <%=triReading.hyear%>. <span class="text-nowrap">See Full Kriyah.</span></p>
<% } else { %>
<%- await include('partials/aliyot-loop.ejs', {aliyot: triReading.aliyot}) -%>
<% } %>
<% if (triReading.reason && triReading.reason.haftara) { -%>
<p class="haftara">Haftarah<span class="text-success">*</span>:
<%- triReading.haftaraHtml %>
<%- await include('partials/numverses.ejs', {v: triReading.haftaraNumV}) -%>
<br><span class="text-success ps-1 small">*<%= triReading.reason.haftara %></span>
</p>
<% } else if (triReading.haftara) { -%>
<p class="haftara">Alternate Haftarah:
<%- triReading.haftaraHtml %>
<%- await include('partials/numverses.ejs', {v: triReading.haftaraNumV}) -%>
</p>
<% } -%>
<% } // ... else triReadings %>
</div><!-- tri<%=yr%> -->
<% } // ... for yr 1-3 %>
<% if (parshaName === 'Yitro') { %>
<div class="small mb-3 text-body-secondary">Note: in the abbreviated triennal readings above,
the congregation experiences <span lang="he" dir="rtl">עֲשֶׂרֶת הַדִבְּרוֹת</span>
only in years 2 and 3 of the cycle.
Some congregations read the entire parsha every year.</div>
<% } %>
<% } // !date %>
<% } // !hasTriennial %>
</div><!-- .row -->
<div class="row">
<div class="col">
<% if (reading.weekday) { %>
<h5 id="weekday">Weekday
<small class="text-body-secondary">for Shabbat afternoon, Monday &amp; Thursday</small>
</h5>
<%- await include('partials/aliyot-loop.ejs', {aliyot: reading.weekday}) -%>
<% } // reading.weekday %>
</div><!-- .col -->
</div><!-- .row -->
<div class="row d-print-none">
<div class="col">
<h4 id="drash">Commentary and Divrei Torah</h4>
<ul class="bullet-list-inline">
<% if (typeof commentary['sefaria'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> from Sefaria" href="https://www.sefaria.org/topics/parashat-<%=commentary['sefaria'].target%>?tab=sources">Sefaria</a></li>
<% } -%>
<% if (typeof commentary['wikipedia'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> from Wikipedia" href="https://en.wikipedia.org/wiki/<%=commentary['wikipedia'].target%>">Wikipedia</a></li>
<% } -%>
<% if (typeof commentary['ou.org'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> commentary from OU" href="https://outorah.org/series/3111?parsha=<%=encodeURIComponent(commentary['ou.org'].target)%>&amp;size=30">OU Torah</a></li>
<% } -%>
<% if (typeof commentary['torah.org'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> commentary from Torah.org" href="https://torah.org/parsha/<%=commentary['torah.org'].target%>/">Torah.org</a></li>
<% } -%>
<% if (typeof commentary['chabad.org'] === 'number') { -%>
<li><a title="Parashat <%=parshaName%> commentary from Chabad" href="https://www.chabad.org/article.asp?aid=<%=commentary['chabad.org']%>">Chabad</a></li>
<% } -%>
<% if (typeof commentary['rabbisacks.org'] === 'string' && commentary['rabbisacks.org'].length != 0) { -%>
<li><a title="Parashat <%=parshaName%> commentary from Jewish Theological Seminary" href="https://www.rabbisacks.org/covenant-conversation/<%=commentary['rabbisacks.org']%>/">Rabbi Sacks z”l</a></li>
<% } -%>
<% if (typeof commentary['reformjudaism.org'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> commentary from Reform Judaism" href="https://reformjudaism.org/torah/portion/<%=commentary['reformjudaism.org'].target%>">Reform Judaism</a></li>
<% } -%>
<% if (typeof commentary['ajr.edu'] === 'object') { -%>
<li><a title="Parashat <%=parshaName%> commentary from the Academy for Jewish Religion" href="https://ajr.edu/divrei-torah/?_by_parsha=<%=commentary['ajr.edu'].target%>">Academy for Jewish Religion</a></li>
<% } -%>
<% if (typeof commentary['jtsa.edu'] === 'string' && commentary['jtsa.edu'].length != 0) { -%>
<li><a title="Parashat <%=parshaName%> commentary from Jewish Theological Seminary" href="https://www.jtsa.edu/jts-torah-online/?parashah=<%=commentary['jtsa.edu']%>">Jewish Theological Seminary</a></li>
<% } -%>
<% if (typeof commentary['aju.edu'] === 'number') { -%>
<li><a title="Parashat <%=parshaName%> commentary from American Jewish University" href="https://www.aju.edu/ziegler-school-rabbinic-studies/our-torah/back-issues/<%=commentary['aju.edu']%>">American Jewish University</a></li>
<% } -%>
<% if (typeof commentary['ej'] === 'string') { -%>
<li><a title="Parashat <%=parshaName%> commentary from Exploring Judaism" href="https://www.exploringjudaism.org/learning/torah/<%=commentary['ej']%>/">Exploring Judaism</a></li>
<% } -%>
<% if (typeof commentary['learntefillah.com'] === 'string' && commentary['learntefillah.com'].length != 0) { -%>
<li><a title="Parashat <%=parshaName%> tikkun from LearnTefillah.com" href="https://www.learntefillah.com/parasha/<%=commentary['learntefillah.com']%>/rishon/">LearnTefillah.com</a></li>
<% } -%>
</ul>
</div><!-- .col -->
<% if (commentary['asin']) {
  const altText = (parsha.p1||parshaName) + ': The JPS B’nai Mitzvah Torah Commentary (JPS Study Bible)';
%><div class="col-lg-4 mb-3">
<div class="card">
<div class="row">
  <div class="col-8">
    <div class="card-body">
      <p class="card-text"><a rel="sponsored" href="https://www.amazon.com/o/ASIN/<%=commentary['asin']%>/hebcal-20"><%=parsha.p1||parshaName%>:
      The JPS B’nai Mitzvah Torah Commentary</a> <small>by Rabbi Jeffrey K. Salkin <span class="text-body-secondary text-nowrap">(paid link)</span></small></p>
    </div>
  </div>
  <div class="col-4">
    <a rel="sponsored" title="<%=altText%>" href="https://www.amazon.com/o/ASIN/<%=commentary['asin']%>/hebcal-20"><picture>
     <source type="image/webp" srcset="/i/0827612524.01.MZZZZZZZ.webp" width="160" height="240">
     <img alt="<%=altText%>"
      src="/i/0827612524.01.MZZZZZZZ.jpg" class="img-fluid" width="107" height="160">
    </picture></a>
  </div>
</div>
</div><!-- .card -->
</div>
<% } // books %>
</div><!-- .d-print-none -->

<% if (items.length) { -%>
<div class="row mb-2">
<div class="col">
<h4 id="dates">List of Dates</h4>
Parashat <%=parshaName%> is read in <%=locationName%> on:
</div><!-- .col -->
</div><!-- .row -->
<div class="row mb-3">
<% for (let i = 0; i < items.length; i += 6) { -%>
<div class="col">
<ul class="list-unstyled">
<% for (let j = 0; j < 6; j++) { -%>
<% const item = items[i + j]; if (item) { -%>
<li class="text-nowrap"><%=item.event.getDate().getFullYear()%> <span class="text-body-secondary">·</span> <a href="<%=item.anchor%>-<%=item.d.format('YYYYMMDD')%><%=iSuffix%>"><time datetime="<%=item.d.format('YYYY-MM-DD')%>"><%=item.d.format('D MMM YYYY')%></time></a>
<% if (item.desc !== parsha.name) { %> · <small><%=item.desc%></small><% } %>
<% } -%>
<% } %>
</ul>
</div><!-- .col -->
<% } -%>
</div><!-- .row -->
<% } // items.length -%>
<div class="row d-print-none">
<div class="col">
<form method="GET" action="/sedrot/<%=parsha.anchor%>">
<label for="gy">Look up the date of Parashat <%=parshaName%> in a past or future year</label>
<div class="row gx-2 mb-3">
<div class="col-auto mb-2">
<input type="text" inputmode="numeric" class="form-control" required name="gy" id="gy" placeholder="1970" size="5" maxlength="4" pattern="\d*">
</div><!-- .col -->
<% if (il) { %><input type="hidden" name="i" value="on"><%}%>
<div class="col-auto mb-2">
<button type="submit" class="btn btn-primary">Go</button>
</div><!-- .col -->
</div>
</form>
</div><!-- .col -->
</div><!-- .d-print-none -->
<div class="row">
<div class="col">
<h4 id="ref">References</h4>
<dl>
<% if (typeof summary === 'object') { %>
<dt><a href="<%- summary.link %>">Parashat <%=parsha.p1||parshaName%> from Sefaria.org</a>
<dd>Sefaria, Inc.
<% } %>
<% if (commentary['asin']) { %>
<dt><a rel="sponsored"
href="https://www.amazon.com/o/ASIN/<%=commentary['asin']%>/hebcal-20"><em><%=parsha.p1||parshaName%>
(<%=parsha.bookName%> <%=parsha.combined ? parsha.p1verses : parsha.verses%>) and Haftarah (<%=parsha.haftara%>):
The JPS B’nai Mitzvah Torah Commentary (JPS Study Bible)</em></a>
<small class="text-body-secondary">(paid link)</small>
<dd>Rabbi Jeffrey K. Salkin, Jewish Publication Society, 2017
<% } %>
<dt><a rel="sponsored"
href="https://www.amazon.com/o/ASIN/0899060145/hebcal-20"><em>The
Chumash: The Stone Edition (Artscroll Series)</em></a>
<small class="text-body-secondary">(paid link)</small>
<dd>Nosson Scherman, Mesorah Publications, 1993
<% if (hasTriennial) { %>
<dt><a
href="https://www.rabbinicalassembly.org/sites/default/files/2021-09/eisenberg_triennial_updated-1.pdf"><em>A
Complete Triennial System for Reading the Torah</em></a>
<dd>Committee on Jewish Law and Standards of the Rabbinical Assembly, 1988
<% if (parsha.combined || doubled.get(parsha.name) || parsha.name === 'Miketz') { %>
<dt><a
href="https://www.rabbinicalassembly.org/story/modifications-triennial-cycle-torah-readings-combined-parshiyot-certain-years"><em>Modification
of the Triennial Cycle Readings for Combined Parashot in Certain Years</em></a>
<dd>Rabbi Miles B. Cohen, 2020
<% } %>
<% if (parsha.name === 'Vayakhel' || parsha.name === 'Pekudei') { %>
<dt><a
href="https://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/2011-2020/heller-triennial-emendation.pdf"><em>An
Emendation to Richard Eisenberg’s Complete Triennial System for Reading Torah,
to Address a Rare Situation</em></a>
<dd>Committee on Jewish Law and Standards of the Rabbinical Assembly, 2012
<% } %>
<dt><a
href="http://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/2011-2020/triennial-haftarot.pdf
"><em>Haftarot for a Triennial Cycle Torah Reading</em></a>
<dd>Avram Israel Reisner, 2014</dd>
<% } %>
</dl>
<p><small class="text-body-secondary">When you buy a book using a link on this page, we receive a commission.
 Thank you for supporting Hebcal.</small></p>

<div class="d-flex gx-2 mt-2 justify-content-between d-print-none">
<% if (parsha.prev) { %><div>
<a class="btn btn-outline-secondary me-2" href="/sedrot/<%=parsha.prev.anchor%>"><span aria-hidden="true">←&nbsp;</span><% if (date) { %><time datetime="<%=parsha.prev.d.format('YYYY-MM-DD')%>"><%-parsha.prev.d.format('D[&nbsp;]MMMM')%></time> · <% } %><%=parsha.prev.name.replace(/'/g, '’')%></a>
</div><% } %>
<% if (parsha.next) { %><div>
<a class="btn btn-outline-secondary ms-2" href="/sedrot/<%=parsha.next.anchor%>"><%=parsha.next.name.replace(/'/g, '’')%><% if (date) { %> · <time datetime="<%=parsha.next.d.format('YYYY-MM-DD')%>"><%-parsha.next.d.format('D[&nbsp;]MMMM')%></time><% } %><span aria-hidden="true">&nbsp;→</span></a>
</div><% } %>
</div>

</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') _%>
