<%- await include('partials/header.ejs') -%>
<link rel="canonical" href="https://www.hebcal.com/sedrot/<%=il?'?i=on':''%>">
<link rel="alternate" type="application/rss+xml" title="RSS" href="index.xml">
<meta name="description" content="Weekly Torah reading for <%=saturday.format('MMMM D')%>: <%= israelDiasporaDiffer ? `${parshaDia} in the Diaspora, ${parshaIsrael} in Israel` : parsha %>. Full kriyah, triennial cycle, weekday readings. Calendar, spreadsheets, feeds and downloads">
<script type="application/ld+json"><%- JSON.stringify(jsonLD) %></script>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-3">
<div class="col">
<div class="float-start">
  <svg width="72" height="72" class="me-3 mb-3"><use xlink:href="<%=cspriteHref%>#torah-235339"></use></svg>
</div>
<h2><span class="d-none d-sm-inline">Parashat</span> <%=parsha.replace(/'/g, '’')%>
<% if (israelDiasporaDiffer) { %><small class="text-muted">· <%=il ? 'Israel' : 'Diaspora' %></small><% } %>
</h2>
<% if (israelDiasporaDiffer) { %>
<p class="lead">
 This week's Torah portion (<time datetime="<%=saturday.format('YYYY-MM-DD')%>"><%=saturday.format('D MMMM YYYY')%></time>) is
 <span class="text-nowrap"><a href="<%=parshaDiaHref%>"><%=parshaDia%></a> in the Diaspora</span>
 · <span class="text-nowrap"><a href="<%=parshaIsraelHref%>"><%=parshaIsrael%></a> in Israel 🇮🇱</span>
</p>
<% } else { %>
<p class="lead">This week's Torah portion is <a class="text-nowrap" href="<%=parshaHref%>">Parashat <%=parsha%></a>
 (read on <time datetime="<%=saturday.format('YYYY-MM-DD')%>"><%=saturday.format('D MMMM YYYY')%></time>).</p>
<% } %>
<% if (typeof meta === 'object') { %>
<p><%- meta.summaryHtml.html %> <sup><a class="outbound" title="<%= meta.summaryHtml.title %>" href="<%- meta.summaryHtml.link %>">[1]</a></sup></p>
<ul class="bullet-list-inline">
  <li>Torah reading: <a href="<%=parshaHref%>#torah"><%=meta.bookName%> <%=meta.verses%></a></li>
  <li><a href="<%=parshaHref%>#drash">Commentary and Divrei Torah</a></li>
</ul>
<% } %>
<h2 id="all">Torah Readings</h2>
<p>Weekly Torah readings (Parashat ha-Shavua) including
verses for each aliyah and accompanying Haftarah. Includes
traditional (full <em>kriyah</em>), <a
href="/home/50/what-is-the-triennial-torah-reading-cycle">triennial</a> and weekday readings.</p>

</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<% for (const book of torahBookNames) { %>
<div class="col">
<h4 id="<%=book%>"><%= book === 'DoubledParshiyot' ? 'Doubled Parshiyot' : book %></h4>
<ol class="list-unstyled lh-lg">
<%   for (const [anchor, parshaName] of parshaByBook.get(book)) { %>
<li><a href="<%=anchor%><%= il ? '?i=on' : ''%>"><%=parshaName%></a></li>
<%   } %>
</ol>
</div><!-- .col -->
<% } %>
</div><!-- .row -->

<div class="row">
<div class="col">
<h3 id="by-year" class="mt-3">Parashat ha-Shavua by Hebrew year</h3>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Diaspora</a></li>
<% for (let yr = hyear - 2; yr < hyear + 12; yr++) { %>
<li class="page-item"><a class="page-link" href="<%=yr%>?i=off"><%=yr%></a></li>
<% } %>
</ul><!-- .pagination -->
</nav>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Israel</a></li>
<% for (let yr = hyear - 2; yr < hyear + 12; yr++) { %>
<li class="page-item"><a class="page-link" href="<%=yr%>?i=on"><%=yr%></a></li>
<% } %>
</ul><!-- .pagination -->
</nav>

<div id="download" class="float-start">
  <svg width="72" height="60" class="me-3 mb-3"><use xlink:href="<%=cspriteHref%>#cloud-download"></use></svg>
</div>
<h3 class="mt-4">Downloads <small class="text-muted">for desktop, mobile and web calendars</small></h3>
<p>Download or subscribe to Parashat ha-Shavua (weekly Torah Portion) on your device
or web/desktop application. Subscribers to these feeds receive perpetual updates.</p>

<div class="row mt-2">
<div class="col-2 col-lg-1"><span class="text-muted">Diaspora</span></div>
<div class="col-10 col-lg-11">
<a class="btn btn-outline-primary btn-sm mb-2" href="webcal://download.hebcal.com/ical/torah-readings-diaspora.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> iPhone, iPad, macOS</a>
<a class="btn btn-outline-primary btn-sm mb-2" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-diaspora.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Google Calendar</a>
<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-rss-fill"></use></svg>
  RSS feeds <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<li><a class="dropdown-item" href="index<%= langName === 'en' ? '' : '-' + langName %>.xml"><%= desc[1] ? desc[1] + ' - ' : '' %><%= desc[0] %></a></li>
<% } -%>
</ul>
</div>
</div>
</div><!-- .row -->

<div class="row mt-2 mb-4">
<div class="col-2 col-lg-1"><span class="text-muted">Israel</span></div>
<div class="col-10 col-lg-11">
<a class="btn btn-outline-primary btn-sm mb-2" href="webcal://download.hebcal.com/ical/torah-readings-israel-he.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> iPhone, iPad, macOS</a>
<a class="btn btn-outline-primary btn-sm mb-2" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-israel-he.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Google Calendar</a>
<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-rss-fill"></use></svg>
  RSS feeds <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<li><a class="dropdown-item" href="israel<%= langName === 'en' ? '' : '-' + langName %>.xml"><%= desc[1] ? desc[1] + ' - ' : '' %><%= desc[0] %></a></li>
<% } -%>
</ul>
</div>
</div>
</div><!-- .row -->

<div class="row">
<div class="col">
<div id="download-leyning" class="float-start">
  <svg width="60" height="60" class="me-3 mb-3 text-burgundy" fill="currentColor"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
</div>
<h4>Download leyning spreadsheets <small class="text-muted">aliyah-by-aliyah breakdown of Torah readings</small></h4>
<p>Leyning coordinators can download these Comma Separated
Value (CSV) files and import into Microsoft Excel or some other
spreadsheet program.</p>
<ul>
 <li>The <strong>Full Kriyah CSV</strong> files contain Torah &amp; Haftara readings for Shabbat, Rosh Chodesh, holidays and fast days.</li>
 <li>The <strong>Weekday CSV</strong> files contain Torah readings for Mondays &amp; Thursdays (and Shabbat mincha) when those days don't
    co-occur with one of the events above. In other words, these files are intended to be mutually exclusive with the
    Full Kriyah Shabbat/holiday files.</li>
 <li><strong>Triennial CSV</strong> files are available for the Diaspora only, as the USCJ/RA has not published aliyah-by-aliyah tables
    that follow the
    <a href="/home/51/what-is-the-differerence-between-the-diaspora-and-israeli-sedra-schemes">Israeli sedra scheme</a>.</li>
</ul>
</div><!-- .col -->
</div><!-- .row -->

<h5 id="download-leyning-diaspora">Diaspora spreadsheets</h5>
<div class="row">
<div class="col-md">
<p>Diaspora Full Kriyah</p>
<ul class="list-unstyled lh-base" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 12; yr++) { %>
<li><small><a class="download" id="leyning-fullkriyah-<%=yr%>" href="fullkriyah-<%=yr%>.csv" rel="nofollow" download="fullkriyah-<%=yr%>.csv">fullkriyah-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div><!-- .col-md -->

<div class="col-md">
<p>Diaspora Triennial</p>
<ul class="list-unstyled lh-base" role="menu">
<% for (let yr = triCycleStartYear - 3; yr < triCycleStartYear + 12; yr += 3) { %>
<li><small><a class="download" id="leyning-triennial-<%=yr%>" href="triennial-<%=yr%>-<%=yr+2%>.csv" rel="nofollow" download="triennial-<%=yr%>-<%=yr+2%>.csv">triennial-<%=yr%>-<%=yr+2%>.csv</a></small></li>
<% } %>
</ul>
</div><!-- .col-md -->

<div class="col-md">
<p>Diaspora Weekday</p>
<ul class="list-unstyled lh-base" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 6; yr++) { %>
<li><small><a class="download" id="weekday-diaspora-<%=yr%>" href="weekday-diaspora-<%=yr%>.csv" rel="nofollow" download="weekday-diaspora-<%=yr%>.csv">weekday-diaspora-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div><!-- .col-md -->
</div><!-- .row -->

<h5 id="download-leyning-israel">Israel spreadsheets</h5>
<div class="row">
<div class="col-md">
<p>Israel Full Kriyah</p>
<ul class="list-unstyled lh-base" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 12; yr++) { %>
<li><small><a class="download" id="leyning-fullkriyah-il-<%=yr%>" href="fullkriyah-il-<%=yr%>.csv" rel="nofollow" download="fullkriyah-il-<%=yr%>.csv">fullkriyah-il-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div><!-- .col-md -->

<div class="col-md">
<p>Israel Weekday</p>
<ul class="list-unstyled lh-base" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 6; yr++) { %>
<li><small><a class="download" id="weekday-il-<%=yr%>" href="weekday-il-<%=yr%>.csv" rel="nofollow" download="weekday-il-<%=yr%>.csv">weekday-il-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div><!-- .col-md -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
