<%- await include('partials/header.ejs', {
  title: `Torah Readings ${hyear} - Hebcal`,
}) -%>
<link rel="canonical" href="https://www.hebcal.com/sedrot/<%=hyear%>?i=<%=il?'on':'off'%>">
<% if (hyear <= 5513 || hyear > todayHebYear + 100) { %><meta name="robots" content="noindex, nofollow"><% } %>
<% if (hyear >= 5513) { %><link rel="prev" href="/sedrot/<%=hyear - 1%>?i=<%=il?'on':'off'%>"><%}%>
<% if (hyear < todayHebYear + 100) { %><link rel="next" href="/sedrot/<%=hyear + 1%>?i=<%=il?'on':'off'%>"><%}%>
<style>
.text-big {font-size: larger}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col">
<div class="d-print-none mt-2">
<div class="d-none d-sm-block">
<nav>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/sedrot/?i=<%=il?'on':'off'%>">Torah Readings</a></li>
  <li class="breadcrumb-item active"><%=hyear%></li>
</ol>
</nav>
</div><!-- .d-none d-sm-block -->
</div><!-- .d-print-none -->
<% if (hyear <= 5513) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<h2>Torah Readings <%=hyear%> <span class="h4 small text-muted"><%=il ? '🇮🇱' : 'Diaspora'%></span></h2>
<div class="btn-toolbar d-print-none mb-2">
<a class="btn btn-secondary btn-sm me-2 mb-2" role="button" rel="nofollow" href="<%-dlhref%>" download="<%=dlfilename%>">
<svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg>
Download Calendar .ics</a>
<% if (il) { %>
<a class="btn btn-secondary btn-sm me-2 mb-2" role="button" rel="nofollow" href="fullkriyah-il-<%=hyear%>.csv" download="fullkriyah-il-<%=hyear%>.csv">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Download Leyning</a>
<% } else { %>
<a class="btn btn-secondary btn-sm me-2 mb-2" role="button" rel="nofollow" href="fullkriyah-<%=hyear%>.csv" download="fullkriyah-<%=hyear%>.csv">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Download Leyning (Full Kriyah)</a>
<%   if (triCycleStartYear) { %>
<a class="btn btn-secondary btn-sm me-2 mb-2" role="button" rel="nofollow" href="triennial-<%=triCycleStartYear%>-<%=triCycleStartYear+2%>.csv" download="triennial-<%=triCycleStartYear%>-<%=triCycleStartYear+2%>.csv">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Download Leyning (Triennial)</a>
<%   } %>
<% } %>
</div>

<nav class="d-print-none mb-3">
<ul class="pagination pagination-sm">
<li class="page-item"><a class="page-link" href="<%=hyear - 3%>?i=<%=il?'on':'off'%>" rel="nofollow">&laquo;&nbsp;<%=hyear - 3%></a></li>
<% for (let i = hyear - 2; i <= hyear + 2; i++) { %>
<li class="page-item<%= i == hyear ? ' active' : '' %>"><a class="page-link" href="<%=i%>?i=<%=il?'on':'off'%>"<%- (i > todayHebYear+20) ? ' rel="nofollow"' : '' %>><%=i%></a></li>
<% } %>
<li class="page-item
"><a class="page-link" href="<%=hyear + 3%>?i=<%=il?'on':'off'%>"<%- (hyear+3 > todayHebYear+20) ? ' rel="nofollow"' : '' %>><%=hyear + 3%>&nbsp;&raquo;</a></li>
</ul>
</nav>

<% for (const item of items) { %>
<ul class="list-unstyled">
<li id="<%=item.anchor%>"><a class="text-big"
href="<%=item.url%>"><%=item.title%> /
<span lang="he" dir="rtl" class="text-nowrap"><%=item.hebrew%></span></a>
<li><time class="text-nowrap text-burgundy" datetime="<%=item.d.format('YYYY-MM-DD')%>"><%=item.d.format('dddd, MMMM D, YYYY')%></time>
·
<span class="text-nowrap"><%=item.hd.getDate()%> <%=item.hd.getMonthName()%></span>
<% if (item.reading.reason) { %><li class="text-success"><%=item.reading.reason.M ||item.reading.reason.haftara%><% } %>
<li><%=item.reading.summary%>
<% if (item.reading.haftara) { %><li>Haftarah: <%=item.reading.haftara%><% } %>
<% if (item.reading.sephardic) { %><li>Haftarah for Sephardim: <%=item.reading.sephardic%><% } %>
</ul>
<% } // items %>
  
</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
