<%- await include('partials/header.ejs') -%>
<link rel="canonical" href="https://www.hebcal.com/sedrot/<%=il?'?i=on':''%>">
<link rel="alternate" type="application/rss+xml" title="RSS" href="index.xml">
<meta name="description" content="Weekly Torah reading for <%=saturday.format('MMMM D')%>: <%= israelDiasporaDiffer ? `${parshaDia} in the Diaspora, ${parshaIsrael} in Israel` : parsha %>. Full kriyah, triennial cycle, weekday readings. Calendar, spreadsheets, feeds and downloads">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-3">
<div class="col">
<div class="float-start">
  <svg width="72" height="72" class="me-3 mb-3"><use xlink:href="<%=cspriteHref%>#torah-235339"></use></svg>
</div>
<h2><span class="d-none d-sm-inline">Parashat</span> <%=parsha.replace(/'/g, '’')%>
<% if (israelDiasporaDiffer) { %><small class="text-muted">&middot; <%=il ? 'Israel' : 'Diaspora' %></small><% } %>
</h2>
<% if (israelDiasporaDiffer) { %>
<p class="lead">
 This week's Torah portion (<time datetime="<%=saturday.format('YYYY-MM-DD')%>"><%=saturday.format('D MMMM YYYY')%></time>) is
 <span class="text-nowrap"><a href="<%=parshaDiaHref%>"><%=parshaDia%></a> in the Diaspora</span>
 &middot; <span class="text-nowrap"><a href="<%=parshaIsraelHref%>"><%=parshaIsrael%></a> in Israel 🇮🇱</span>
</p>
<% } else { %>
<p class="lead">This week's Torah portion is <a class="text-nowrap" href="<%=parshaHref%>">Parashat <%=parsha%></a>
 (read on <time datetime="<%=saturday.format('YYYY-MM-DD')%>"><%=saturday.format('D MMMM YYYY')%></time>).</p>
<% } %>
<% if (typeof meta === 'object') { %>
<p><%- meta.summaryHtml.html %> <sup><a class="outbound" title="<%= meta.summaryHtml.title %>" href="<%- meta.summaryHtml.link %>">[1]</a></sup></p>
<ul class="bullet-list-inline">
  <li>Torah reading: <a href="<%=parshaHref%>#torah"><%=meta.bookName%> <%=meta.verses%></a></li>
  <li><a href="<%=parshaHref%>#drash">Commentary and Divrei Torah</a></li>
</ul>
<% } %>
<h2 id="all">Torah Readings</h2>
<p>Weekly Torah readings (Parashat ha-Shavua) including
verses for each aliyah and accompanying Haftarah. Includes
traditional (full <em>kriyah</em>), <a
href="/home/50/what-is-the-triennial-torah-reading-cycle">triennial</a> and weekday readings.</p>
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"Event","name":"Parashat <%=parsha%>",
"startDate":"<%=saturday.format('YYYY-MM-DD')%>","endDate":"<%=saturday.format('YYYY-MM-DD')%>",
"url":"<%=parshaHref%>",
"eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
"location":{"@type": "VirtualLocation",
"url":"<%=parshaHref%>"}}</script>

</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<% for (const book of torahBookNames) { %>
<div class="col">
<h4 id="<%=book%>"><%= book === 'DoubledParshiyot' ? 'Doubled Parshiyot' : book %></h4>
<ol class="list-unstyled lh-lg">
<%   for (const [anchor, parshaName] of parshaByBook.get(book)) { %>
<li><a href="<%=anchor%><%= il ? '?i=on' : ''%>"><%=parshaName%></a></li>
<%   } %>
</ol>
</div><!-- .col -->
<% } %>
</div><!-- .row -->

<div class="row">
<div class="col">
<h3 id="by-year" class="mt-3">Parashat ha-Shavua by Hebrew year</h3>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Diaspora</a></li>
<% for (let yr = hyear - 2; yr < hyear + 12; yr++) { %>
<li class="page-item"><a class="page-link" href="<%=yr%>?i=off"><%=yr%></a></li>
<% } %>
</ul><!-- .pagination -->
</nav>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Israel</a></li>
<% for (let yr = hyear - 2; yr < hyear + 12; yr++) { %>
<li class="page-item"><a class="page-link" href="<%=yr%>?i=on"><%=yr%></a></li>
<% } %>
</ul><!-- .pagination -->
</nav>

<h3 id="download" class="mt-4">Downloads <small class="text-muted">for desktop, mobile and web calendars</small></h3>
<p>Download or subscribe to Parashat ha-Shavua (weekly Torah Portion) on your device
or web/desktop application. Subscribers to these feeds receive perpetual updates.</p>

<div class="row mt-2">
<div class="col-2 col-lg-1"><span class="text-muted">Diaspora</span></div>
<div class="col-10 col-lg-11">
<a class="btn btn-outline-primary btn-sm mb-2" href="webcal://download.hebcal.com/ical/torah-readings-diaspora.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> iPhone, iPad, macOS</a>
<a class="btn btn-outline-primary btn-sm mb-2" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-diaspora.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Google Calendar</a>
<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-rss-fill"></use></svg>
  RSS feeds <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<li><a class="dropdown-item" href="index<%= langName === 'en' ? '' : '-' + langName %>.xml"><%= desc[1] ? desc[1] + ' - ' : '' %><%= desc[0] %></a></li>
<% } -%>
</ul>
</div>
</div>
</div><!-- .row -->

<div class="row mt-2 mb-4">
<div class="col-2 col-lg-1"><span class="text-muted">Israel</span></div>
<div class="col-10 col-lg-11">
<a class="btn btn-outline-primary btn-sm mb-2" href="webcal://download.hebcal.com/ical/torah-readings-israel-he.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-appleinc"></use></svg> iPhone, iPad, macOS</a>
<a class="btn btn-outline-primary btn-sm mb-2" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-israel-he.ics">
<svg class="icon icon-sm mb-1"><use xlink:href="<%=spriteHref%>#icon-google"></use></svg> Google Calendar</a>
<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-rss-fill"></use></svg>
  RSS feeds <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (const [langName, desc] of Object.entries(langNames)) { -%>
<li><a class="dropdown-item" href="israel<%= langName === 'en' ? '' : '-' + langName %>.xml"><%= desc[1] ? desc[1] + ' - ' : '' %><%= desc[0] %></a></li>
<% } -%>
</ul>
</div>
</div>
</div><!-- .row -->

<h4 id="download-leyning">Download leyning spreadsheet <small class="text-muted">aliyah-by-aliyah breakdown of Torah readings</small></h4>
<p>Leyning coordinators can download these Comma Separated
Value (CSV) files and import into Microsoft Excel or some other
spreadsheet program.</p>
<ul>
 <li>The <strong>Full Kriyah CSV</strong> files contain Torah &amp; Haftara readings for Shabbat, Rosh Chodesh, holidays and fast days.</li>
 <li>The <strong>Weekday CSV</strong> files contain Torah readings for Mondays &amp; Thursdays (and Shabbat mincha) when those days don't
    co-occur with one of the events above. In other words, these files are intended to be mutually exclusive with the
    Full Kriyah Shabbat/holiday files.</li>
 <li><strong>Triennial CSV</strong> files are available for the Diaspora only, as the USCJ/RA has not published aliyah-by-aliyah tables
    that follow the
    <a href="/home/51/what-is-the-differerence-between-the-diaspora-and-israeli-sedra-schemes">Israeli sedra scheme</a>.</li>
</ul>
<div class="btn-toolbar">
<span class="me-3">Diaspora</span>
<div class="btn-group me-2 mb-2">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Full Kriyah <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 12; yr++) { %>
<li><small><a class="dropdown-item download" id="leyning-fullkriyah-<%=yr%>" href="fullkriyah-<%=yr%>.csv" rel="nofollow" download="fullkriyah-<%=yr%>.csv">fullkriyah-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div>

<div class="btn-group me-2 mb-2">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Triennial<span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
<% for (let yr = triCycleStartYear - 3; yr < triCycleStartYear + 12; yr += 3) { %>
<li><small><a class="dropdown-item download" id="leyning-triennial-<%=yr%>" href="triennial-<%=yr%>-<%=yr+2%>.csv" rel="nofollow" download="triennial-<%=yr%>-<%=yr+2%>.csv">triennial-<%=yr%>-<%=yr+2%>.csv</a></small></li>
<% } %>
</ul>
</div>

<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Weekday <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 6; yr++) { %>
<li><small><a class="dropdown-item download" id="weekday-diaspora-<%=yr%>" href="weekday-diaspora-<%=yr%>.csv" rel="nofollow" download="weekday-diaspora-<%=yr%>.csv">weekday-diaspora-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div>
</div><!-- .btn-toolbar -->

<div class="btn-toolbar">
<span class="me-3">Israel</span>
<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Full Kriyah <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 12; yr++) { %>
<li><small><a class="dropdown-item download" id="leyning-fullkriyah-il-<%=yr%>" href="fullkriyah-il-<%=yr%>.csv" rel="nofollow" download="fullkriyah-il-<%=yr%>.csv">fullkriyah-il-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div>

<div class="btn-group me-2 mb-2">
<button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#noun_CSV_1658749"></use></svg>
  Weekday <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<% for (let yr = hyear - 1; yr <= hyear + 6; yr++) { %>
<li><small><a class="dropdown-item download" id="weekday-il-<%=yr%>" href="weekday-il-<%=yr%>.csv" rel="nofollow" download="weekday-il-<%=yr%>.csv">weekday-il-<%=yr%>.csv</a></small></li>
<% } %>
</ul>
</div>

</div><!-- .btn-toolbar -->

<p>Example content:</p>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr><th>Date</th><th>Parashah</th><th>Aliyah</th><th>Reading</th><th>Verses</th></tr>
</thead>
<tbody>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>1</td><td>Genesis 1:1 &#8211; 2:3</td><td>34</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>2</td><td>Genesis 2:4 &#8211; 2:19</td><td>16</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>3</td><td>Genesis 2:20 &#8211; 3:21</td><td>27</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>4</td><td>Genesis 3:22 &#8211; 4:18</td><td>21</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>5</td><td>Genesis 4:19 &#8211; 4:22</td><td>4</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>6</td><td>Genesis 4:23 &#8211; 5:24</td><td>28</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>7</td><td>Genesis 5:25 &#8211; 6:8</td><td>16</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>maf</td><td>Genesis 6:5 &#8211; 6:8</td><td>4</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>Haftara</td><td>Isaiah 42:5 &#8211; 43:11</td><td></td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>1</td><td>Genesis 6:9 &#8211; 6:22</td><td>14</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>2</td><td>Genesis 7:1 &#8211; 7:16</td><td>16</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>3</td><td>Genesis 7:17 &#8211; 8:14</td><td>22</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>4</td><td>Genesis 8:15 &#8211; 9:7</td><td>15</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>5</td><td>Genesis 9:8 &#8211; 9:17</td><td>10</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>6</td><td>Genesis 9:18 &#8211; 10:32</td><td>44</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>7</td><td>Genesis 11:1 &#8211; 11:32</td><td>32</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>maf</td><td>Genesis 11:29 &#8211; 11:32</td><td>4</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>Haftara</td><td>Isaiah 54:1 &#8211; 55:5</td><td></td></tr>
</tbody>
</table>
</div>

</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
