<%- await include('partials/header.ejs') -%>
<meta name="description" content="Parashat <%=parsha.name%> (<%=parsha.book%> <%=parsha.verses%>). Read on <%= d.format('D MMMM YYYY') %> / <%= hd.toString() %> in <%=locationName%>. Torah reading, Haftarah, links to audio and commentary.">
<style>
ol.list-unstyled li {margin-bottom: 0.33em}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<%- await include('partials/parsha-detail-breadcrumb.ejs') -%>
<h2><span class="d-none d-sm-inline">Parashat</span> <%=parsha.name%> <%= date ? hd.getFullYear() : '' %> /
<bdo dir="rtl" class="text-nowrap"><span class="d-none d-sm-inline" lang="he" dir="rtl">פרשת</span> <span lang="he" dir="rtl"><%=parsha.hebrew%></span></bdo></h2>
<% if (date && d.year() < 1752) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<p class="lead">Read <% if (israelDiasporaDiffer) { %>in <%=locationName%><% } %> on <time datetime="<%= d.format('YYYY-MM-DD') %>" class="text-nowrap"><%= d.format('D MMMM YYYY') %></time> / <span class="text-nowrap"><%= hd.toString() %></span>.</p>
<p>Parashat <%=parsha.name%> is the <%=parsha.ordinal%> weekly Torah portion in the annual Jewish cycle of Torah reading.</p>
<h4 id="torah"><span class="d-none d-sm-inline">Torah Portion:</span>
<a class="outbound" href="https://www.sefaria.org/<%=parsha.bookName%>.<%=parsha.verses.replace(/:/g, '.')%>?lang=bi&amp;aliyot=1"
title="English translation from JPS Tanakh"><%=parsha.bookName%> <%=parsha.verses%></a>
<span class="d-print-none">
<a class="ms-2 outbound" data-bs-toggle="tooltip" data-bs-animation="false" title="Tikkun.io - <%=parsha.name%>"
href="https://tikkun.io/#/r/<%=parsha.ids.book%>-<%=parsha.ids.chapter%>-<%=parsha.ids.verse%>">
<svg class="icon"><use xlink:href="<%=spriteHref%>#bi-book"></use></svg></a>
<a class="ms-2 outbound" data-bs-toggle="tooltip" data-bs-animation="false" id="ort-audio" rel="nofollow" title="Tikkun &amp; audio from World ORT"
href="https://bible.ort.org/books/torahd5.asp?action=displaypage&amp;book=<%=parsha.ids.book%>&amp;chapter=<%=parsha.ids.chapter%>&amp;verse=<%=parsha.ids.verse%>&amp;portion=<%=parsha.ids.portion%>">
<svg class="icon"><use xlink:href="<%=spriteHref%>#bi-volume-up-fill"></use></svg></a>
</span>
</h4>
<% if (typeof summary === 'object') { %><p><%- summary.html %> <sup><a class="outbound" title="<%= summary.title %>" href="<%- summary.link %>">[1]</a></sup></p><% } %>
</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<div class="<%= !hasTriennial ? 'col' : date ? 'col-12 col-sm-6' : 'col-12 col-lg-3'%>">
<h5>Full Kriyah</h5>
<% if (reading.fullkriyah) { %>
<ol class="list-unstyled">
<%    for (const [num, aliyah] of Object.entries(reading.fullkriyah)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%- await include('partials/numverses.ejs', {v: aliyah.v}) -%>
<span class="text-muted d-print-none">&middot;</span>
<a class="outbound d-print-none" title="Tikkun.io - <%=parsha.name%> aliyah <%=aliyah.num%>"
href="https://tikkun.io/#/r/<%=parsha.ids.book%>-<%=aliyah.b.split(':')[0]%>-<%=aliyah.b.split(':')[1]%>">
<svg class="icon icon-sm"><use xlink:href="<%=spriteHref%>#bi-book"></use></svg></a>
<% if (reading.reason && reading.reason[num]) { %><small> // <%= reading.reason[num] %></small><% } %>
<%    } // ... for %>
</ol>
<% } // reading.fullkriyah %>
</div><!-- fk -->
<% if (hasTriennial) { %>
<% if (date) { %>
<div class="col-sm-6">
<h5>Triennial <small class="text-muted">year <%=triennial.yearNum%></small></h5>
<%- await include('partials/aliyot-loop.ejs', {aliyot: triennial.reading}) -%>
</div>
<% } else { // date %>
<% for (let yr = 1; yr <= 3; yr++) { 
  const triReading = triennial.readings[yr - 1]; %>
<div class="col-lg-3 col-sm-6">
<h5><span class="text-nowrap">Triennial Year <%=yr%></span>
<% if (typeof triReading.d !== 'undefined') { %><br><span class="h6 small text-muted"><time datetime="<%=triReading.d.format('YYYY-MM-DD')%>"><%=triReading.d.format('D MMM YYYY')%></time></span><% } %></h5>
<% if (triReading.readSeparately) { %>
<p>Read separately in <%=triReading.hyear%></p>
<ul class="list-unstyled">
<li><a href="<%=parsha.p1anchor%>-<%=triReading.p1d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p1%> <%=triReading.hyear%></a> <span class="text-muted">(<time datetime="<%=triReading.p1d.format('YYYY-MM-DD')%>"><%=triReading.p1d.format('D MMM YYYY')%></time>)</span>
<li><a href="<%=parsha.p2anchor%>-<%=triReading.p2d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p2%> <%=triReading.hyear%></a> <span class="text-muted">(<time datetime="<%=triReading.p2d.format('YYYY-MM-DD')%>"><%=triReading.p2d.format('D MMM YYYY')%></time>)</span>
</ul>
<% } else if (triReading.readTogether) { %>
<p><small>See <a href="<%=triReading.anchor%>-<%=triReading.d.format('YYYYMMDD')%><%=iSuffix%>"><%=triReading.readTogether%> <%=triReading.hyear%></a></small></p>
<% } else { %>
<%- await include('partials/aliyot-loop.ejs', {aliyot: triReading.aliyot}) -%>
<% } // ... else triReadings %>
</div><!-- tri<%=yr%> -->
<% } // ... for yr 1-3 %>
<% } // !date %>
<% } else if (il && !israelDiasporaDiffer) { %>
<div class="col-sm-6">
<h5>Triennial</h5>
<p><small>See <a href="<%=parsha.anchor%>-<%=d.format('YYYYMMDD')%>">Diaspora reading</a></p>
</div>
<% } // !il %>
</div><!-- .row -->
<div class="row">
<div class="col">
<% if (reading.haftara) { %>
<p class="lead haftara">Haftarah<%=reading.sephardic ? ' for Ashkenazim' : ''%>:
<a class="outbound" href="<%=reading.haftaraHref%>"><%=reading.haftara%></a>
<%- await include('partials/numverses.ejs', {v: reading.haftaraNumV}) -%>
<% if (reading.reason && reading.reason.haftara) { %> // <%= reading.reason.haftara %> <%= date ? '' : 'on ' + d.format('D MMMM YYYY') %> <% } %>
</p>
<%   if (parsha.haftara != reading.haftara) { -%>
<p class="haftara">Regular Haftarah for <%= parsha.name %>: <a class="outbound" href="<%=parsha.haftaraHref%>"><%=parsha.haftara%></a>
<%- await include('partials/numverses.ejs', {v: parsha.haftaraNumV}) -%>
</p>
<%   } -%>
<% } // reading.haftara %>
<% if (reading.sephardic) { %>
<p class="lead haftara">Haftarah for Sephardim:
<a class="outbound" href="<%=reading.sephardicHref%>"><%=reading.sephardic%></a>
<%- await include('partials/numverses.ejs', {v: reading.sephardicNumV}) -%>
</p>
<% } // reading.sephardic %>

<div class="d-print-none">
<h4 id="drash">Commentary and Divrei Torah</h4>
<ul class="bullet-list-inline">
<li><a class="outbound" href="https://www.sefaria.org/<%=parsha.bookName%>.<%=parsha.verses.replace(/:/g, '.')%>"
title="Parashat <%=parsha.name%> text and commentary from Sefaria.org">Sefaria</a>
<% if (typeof commentary['ou.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from OU" href="https://outorah.org/series/3111?parsha=<%=encodeURIComponent(commentary['ou.org'].target)%>">OU Torah</a>
<% } %>
<% if (typeof commentary['torah.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Torah.org" href="https://torah.org/parsha/<%=commentary['torah.org'].target%>/">Torah.org</a>
<% } %>
<% if (typeof commentary['jtsa.edu'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Jewish Theological Seminary" href="https://www.jtsa.edu/jts-torah-online?parashah=<%=commentary['jtsa.edu'].cid%><% if (commentary['jtsa.edu'].cid2) {%><%='&parashah=' + commentary['jtsa.edu'].cid2%><% } %>">Jewish Theological Seminary</a>
<% } %>
<% if (typeof commentary['chabad.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Chabad" href="https://www.chabad.org/article.asp?aid=<%=commentary['chabad.org'].target%>">Chabad</a>
<% } %>
<% if (typeof commentary['reformjudaism.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Reform Judaisn" href="https://reformjudaism.org/torah/portion/<%=commentary['reformjudaism.org'].target%>">Reform Judaism</a>
<% } %>
<% if (typeof commentary['ajr.edu'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from the Academy for Jewish Religion" href="https://ajr.edu/tag/<%=commentary['ajr.edu'].target%>/">Academy for Jewish Religion</a>
<% } %>
</ul>
</div><!-- .d-print-none -->

<h4 id="dates">List of Dates</h4>
Parashat <%=parsha.name%> is read in <%=locationName%> on:
<ul class="<%=sometimesDoubled ? 'list-unstyled' : 'bullet-list-inline' %>">
<% items.forEach((item) => { -%>
<li><a href="<%=item.anchor%>-<%=item.d.format('YYYYMMDD')%><%=iSuffix%>"><time datetime="<%=item.d.format('YYYY-MM-DD')%>"><%=item.d.format('D MMM YYYY')%></time></a>
<% if (item.desc !== parsha.name) { %> &middot; <small><%=item.desc%></small><% } %>
<% }); %>
</ul>
<form method="GET" action="/sedrot/<%=parshaAnchor%>">
<label for="gy">Look up the date of Parashat <%=parsha.name%> in a past or future year</label>
<div class="row gx-2 mb-3">
<div class="col-auto mb-2">
<input type="text" inputmode="numeric" class="form-control" required name="gy" id="gy" placeholder="1970" size="5" maxlength="4" pattern="\d*">
</div><!-- .col -->
<div class="col-auto mb-2">
<button type="submit" class="btn btn-primary">Go</button>
</div><!-- .col -->
</div>
</form>

<h4 id="ref">References</h4>
<dl>
<dt><em><a class="amzn" id="chumash-2"
href="https://www.amazon.com/o/ASIN/0899060145/hebcal-20">The
Chumash: The Stone Edition (Artscroll Series)</a></em> <small class="text-muted">(paid link)</small>
<dd>Nosson Scherman, Mesorah Publications, 1993
<% if (hasTriennial) { %>
<dt><em><a class="outbound"
href="https://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/19861990/eisenberg_triennial.pdf">A
Complete Triennial System for Reading the Torah</a></em>
<dd>Committee on Jewish Law and Standards of the Rabbinical Assembly
<% } %>
<% if (typeof summary === 'object') { %>
<dt><a class="outbound" href="<%- summary.link %>">"<%= summary.title %>" in <em>Wikipedia: The Free Encyclopedia</em></a>
<dd>Wikimedia Foundation Inc.
<% } %>
</dl>

</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->

<%- await include('partials/footer.ejs') _%>
