<%- await include('partials/header2.ejs', {
  title: 'Weekly Torah Readings - Parashat haShavua - Hebcal',
}) -%>
<link rel="canonical" href="<%=canonical.href%>">
<% if (noIndex) { -%>
<meta name="robots" content="noindex, nofollow">
<% } else { -%>
<link rel="prev" href="<%=prev%>">
<link rel="next" href="<%=next%>">
<% } -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-2">
<div class="col">
<% if (hyear <= 5513) { -%>
<%- await include('partials/warning-1752.ejs') -%>
<% } -%>
<h2>Shabbat Torah Readings <%=hyear-1%>-<%=hyear+4%></h2>
<p class="small">This page displays the <%=il?'Israel':'Diaspora'%> Torah reading schedule.
The <a href="<%=inverse.href%>"><%=il?'Diaspora':'Israel'%> schedule</a> is used
by Jews living <%=il?'outside of':'in'%> modern Israel.</p>
<div class="table-responsive">
<table class="table table-striped">
<colgroup>
<col><col><col><col><col><col><col>
</colgroup>
<tbody class="table-group-divider">
<% for (const book of torahBookNames.filter((book) => book !== 'DoubledParshiyot')) { %>
<tr class="table-group-divider"><th><%=book%></th>
<% for (let yr = hyear - 1; yr <= hyear + 4; yr++) { %><th><a class="link-body-emphasis" href="<%=yr%>?i=<%=il?'on':'off'%>"><%=yr%></a></th><% } %>
</tr>
<%   for (const [anchor, parshaName] of parshaByBook.get(book)) {
  const years = byParsha.get(parshaName);
%>
<tr>
  <td><a href="<%=anchor%><%= il ? '?i=on' : ''%>"><%= parshaName.replace(/'/g, '’') %></a></td>
<% for (let yr = hyear - 1; yr <= hyear + 4; yr++) {
  const items = years.get(yr); %>
<% if (items) { %>
<td>
<% for (const item of items) { %>
<div>
<a href="<%= item.ev.url() %>"><time class="text-nowrap" datetime="<%=item.d.format('YYYY-MM-DD')%>"><%=item.d.format('D MMM YYYY')%></time></a>
<% if (item.reading.reason) { %>
<br><small class="text-success"><%=item.reading.reason.M ||item.reading.reason.haftara%></small>
<% } %>
</div>
<% } %>
</td>
<% } else { %>
  <td>-</td>
<% } %>
<%   } %>
</tr>
<%  } %>
<% } %>
</tbody>
</table>
</div>

<div class="d-flex gx-2 mt-2 justify-content-between d-print-none">
<div>
<a class="btn btn-outline-secondary me-2" href="<%=prev%>"><span aria-hidden="true">←&nbsp;</span><%=hyear-6%>-<%=hyear-1%></a>
</div>
<div>
<a class="btn btn-outline-secondary ms-2" href="<%=next%>"><%=hyear+4%>-<%=hyear+9%><span aria-hidden="true">&nbsp;→</span></a>
</div>
</div>

</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') _%>
