<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title><%= title %></title>
<link>https://www.hebcal.com/sedrot/</link>
<atom:link href="https://www.hebcal.com<%= rpath %>" rel="self" type="application/rss+xml" />
<description><%= description %></description>
<language><%= lang %></language>
<copyright>Copyright (c) <%= year %> Michael J. Radwin. All rights reserved.</copyright>
<lastBuildDate><%= pubDate %></lastBuildDate>
<item>
<title><%= parsha %> - <%= saturdayDate %></title>
<link><%= link %></link>
<description><![CDATA[<%- memo %>]]></description>
<pubDate><%= parshaPubDate %></pubDate>
<guid isPermaLink="false"><%= link %>&amp;dt=<%= dt %></guid>
</item>
</channel>
</rss>
