<%- await include('partials/header.ejs') -%>
<meta name="description" content="Parashat <%=parsha.name%> (<%=parsha.book%> <%=parsha.verses%>). Read on <%= d.format('D MMMM YYYY') %> (<%= hd.toString() %>) in <%=locationName%>. Torah reading, Haftarah, links to audio and commentary.">
<style>
ol.list-unstyled li {margin-bottom: 0.33em}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<%- await include('partials/parsha-detail-breadcrumb.ejs') -%>

<h2><span class="d-none d-sm-inline">Parashat</span> <%=parsha.name%> <%= date ? hd.getFullYear() : '' %> /
<bdo dir="rtl" class="text-nowrap"><span class="d-none d-sm-inline" lang="he" dir="rtl">פרשת</span> <span lang="he" dir="rtl"><%=parsha.hebrew%></span></bdo></h2>
<p class="lead">Read in <%=locationName%> on <%= d.format('D MMMM YYYY') %> (<%= hd.toString() %>).</p>
<p>Parashat <%=parsha.name%> is the <%=parsha.ordinal%> weekly Torah portion in the annual Jewish cycle of Torah reading.</p>
<h4 id="torah"><span class="d-none d-sm-inline">Torah Portion:</span>
<a class="outbound" href="https://www.sefaria.org/<%=parsha.book%>.<%=parsha.verses.replace(/:/g, '.')%>"
title="English translation from JPS Tanakh"><%=parsha.book%> <%=parsha.verses%></a>
<a class="outbound d-print-none" data-bs-toggle="tooltip" id="ort-audio" rel="nofollow" title="Tikkun &amp; audio from World ORT"
href="<%=ortUrl%>">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-volume-up-fill"></use></svg>
</a>
</h4>
</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<div class="<%= !hasTriennial ? 'col' : date ? 'col-12 col-sm-6' : 'col-12 col-md-3'%>">
<h5>Full Kriyah</h5>
<% if (reading.fullkriyah) { %>
<ol class="list-unstyled">
<%    for (const [num, aliyah] of Object.entries(reading.fullkriyah)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%       if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%       } // aliyah.v %>
<% if (reading.reason && reading.reason[num]) { %><small class="text-muted"> - <%= reading.reason[num] %></small><% } %>
<%    } // ... for %>
</ol>
<% } // reading.fullkriyah %>
</div><!-- fk -->
<% if (hasTriennial) { %>
<% if (date) { %>
<div class="col-sm-6">
<h5>Triennial<small class="text-muted"> - year <%=triennial.yearNum%></small></h5>
<ol class="list-unstyled">
<%    for (const [num, aliyah] of Object.entries(triennial.reading)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%       if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%       } // aliyah.v %>
<% if (reading.reason && reading.reason[num]) { %><small class="text-muted"> - <%= reading.reason[num] %></small><% } %>
<%    } // ... for %>
</ol>
</div>
<% } else { // date %>
<% for (let yr = 1; yr <= 3; yr++) { 
  const triReading = triennial.readings[yr - 1]; %>
<div class="col-4 col-sm-3">
<h5>Triennial Year&nbsp;<%=yr%>
<% if (typeof triReading.d !== 'undefined') { %><br><span class="h6 small text-muted"><%=triReading.d.format('D MMM YYYY')%></span><% } %></h5>
<% if (triReading.readSeparately) { %>
<p>Read separately. See:</p>
<ul class="list-unstyled">
<li><a href="<%=parsha.p1anchor%>-<%=triReading.p1d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p1%></a> - <span class="text-muted"><%=triReading.p1d.format('D MMM YYYY')%></span>
<li><a href="<%=parsha.p2anchor%>-<%=triReading.p2d.format('YYYYMMDD')%><%=iSuffix%>"><%=parsha.p2%></a> - <span class="text-muted"><%=triReading.p2d.format('D MMM YYYY')%></span>
</ul>
<% } else if (triReading.readTogether) { %>
<p><small>See <a href="<%=triReading.anchor%>-<%=triReading.d.format('YYYYMMDD')%><%=iSuffix%>"><%=triReading.readTogether%></a></small></p>
<% } else { %>
<ol class="list-unstyled">
<%  for (const [num, aliyah] of Object.entries(triReading.aliyot)) { %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%     if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%     } // aliyah.v %>
<% if (reading.reason && reading.reason[num]) { %><small class="text-muted"> - <%= reading.reason[num] %></small><% } %>
<%   } // ... for aliyah %>
</ol>
<% } // ... else triReadings %>
</div><!-- tri<%=yr%> -->
<% } // ... for yr 1-3 %>
<% } // !date %>
<% } // !il %>
</div><!-- .row -->
<div class="row">
<div class="col">
<% if (reading.haftara) { %>
<p class="lead haftara">Haftarah<%=reading.sephardic ? ' for Ashkenazim' : ''%>:
<a class="outbound" href="<%=reading.haftaraHref%>"><%=reading.haftara%></a>
<% if (reading.reason && reading.reason.haftara) { %> - <%= reading.reason.haftara %><% } %>
</p>
<% } // reading.haftara %>
<% if (reading.sephardic) { %>
<p class="lead haftara">Haftarah for Sephardim:
<a class="outbound" href="<%=reading.sephardicHref%>"><%=reading.sephardic%></a></p>
<% } // reading.sephardic %>

<div class="d-print-none">
<h4 id="drash">Commentary and Divrei Torah</h4>
<ul class="bullet-list-inline">
<li><a class="outbound" href="https://www.sefaria.org/<%=parsha.book%>.<%=parsha.verses.replace(/:/g, '.')%>"
title="Parashat <%=parsha.name%> text and commentary from Sefaria.org">Sefaria</a>
<% if (typeof commentary['ou.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from OU" href="https://outorah.org/series/3111?parsha=<%=encodeURIComponent(commentary['ou.org'].target)%>">OU Torah</a>
<% } %>
<% if (typeof commentary['torah.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Torah.org" href="https://torah.org/parsha/<%=commentary['torah.org'].target%>/">Torah.org</a>
<% } %>
<% if (typeof commentary['jtsa.edu'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Jewish Theological Seminary" href="http://www.jtsa.edu/jts-torah-online?parashah=<%=commentary['jtsa.edu'].cid%><% if (commentary['jtsa.edu'].cid2) {%><%='&parashah=' + commentary['jtsa.edu'].cid2%><% } %>">Jewish Theological Seminary</a>
<% } %>
<% if (typeof commentary['chabad.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Chabad" href="https://www.chabad.org/article.asp?aid=<%=commentary['chabad.org'].target%>">Chabad</a>
<% } %>
<% if (typeof commentary['reformjudaism.org'] === 'object') { %>
<li><a class="outbound" title="Parashat <%=parsha.name%> commentary from Reform Judaisn" href="https://reformjudaism.org/torah/portion/<%=commentary['reformjudaism.org'].target%>">Reform Judaism</a>
<% } %>
</ul>
</div><!-- .d-print-none -->

<h4 id="dates">List of Dates</h4>
Parashat <%=parsha.name%> is read in <%=locationName%> on:
<ul class="<%=sometimesDoubled ? 'list-unstyled' : 'bullet-list-inline' %>">
<% items.forEach((item) => { -%>
<li><a href="<%=item.anchor%>-<%=item.d.format('YYYYMMDD')%><%=iSuffix%>"><%=item.d.format('D MMM YYYY')%></a>
<% if (item.desc !== parsha.name) { %> - <small><%=item.desc%></small><% } %>
<% }); %>
</ul>

<h4 id="ref">References</h4>
<dl>
<dt><em><a class="amzn" id="chumash-2"
href="https://www.amazon.com/o/ASIN/0899060145/hebcal-20">The
Chumash: The Stone Edition (Artscroll Series)</a></em> <small class="text-muted">(paid link)</small>
<dd>Nosson Scherman, Mesorah Publications, 1993
<dt><em><a class="outbound"
href="https://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/19861990/eisenberg_triennial.pdf">A
Complete Triennial System for Reading the Torah</a></em>
<dd>Committee on Jewish Law and Standards of the Rabbinical Assembly
</dl>

</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->

<%- await include('partials/footer.ejs') _%>
