<% include partials/header.ejs %>
<meta name="description" content="Parashat Ki Tavo (Deuteronomy 26:1 - 29:8). Read on 05 September 2020 in the Diaspora. Torah reading, Haftarah, links to audio and commentary.">
<script type="application/ld+json"><%- jsonLD %></script>
<script>
WebFontConfig = {
  google: { families: [ 'Alef' ] }
};
(function(d) {
  var wf = d.createElement('script'), s = d.scripts[0];
  wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
  wf.async = true;
  s.parentNode.insertBefore(wf, s);
})(document);
</script>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<% include partials/parsha-detail-breadcrumb.ejs %>

<h2><span class="d-none d-sm-inline">Parashat</span> <%=parsha.name%> / <bdo dir="rtl"><span class="d-none d-sm-inline" lang="he" dir="rtl">פרשת</span> <span lang="he" dir="rtl"><%=parsha.hebrew%></span></bdo></h2>
<p class="lead">Read in <%=locationName%> on <%= d.format('D MMMM YYYY') %> (<%= hd.toString() %>).</p>
<p>Parashat <%=parsha.name%> is the <%=parsha.ordinal%> weekly Torah portion in the annual Jewish cycle of Torah reading.</p>
<h4 id="torah"><span class="d-none d-sm-inline">Torah Portion:</span>
<a class="outbound" href="https://www.sefaria.org/<%=parsha.book%>.<%=parsha.verses.replace(/:/g, '.')%>?lang=bi&amp;aliyot=1"
title="English translation from JPS Tanakh"><%=parsha.book%> <%=parsha.verses%></a>
<a class="outbound d-print-none" data-toggle="tooltip" id="ort-audio" rel="nofollow" title="Tikkun &amp; audio from World ORT"
href="<%=ortUrl%>">
  <svg class="icon"><use xlink:href="/i/sprite3.svg#bi-volume-up-fill"></use></svg>
</a>
</h4>
</div><!-- .col -->
</div><!-- .row -->

<div class="row">
<div class="<%= !hasTriennial ? 'col' : year ? 'col-12 col-sm-6' : 'col-12 col-sm-3'%>">
<h5>Full Kriyah</h5>
<% if (reading.fullkriyah) { %>
<ol class="list-unstyled">
<%    for (const [num, aliyah] of Object.entries(reading.fullkriyah)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%       if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%       } // aliyah.v %>
<% if (reading.reason && reading.reason[num]) { %><small class="text-muted"> - <%= reading.reason[num] %></small><% } %>
<%    } // ... for %>
</ol>
<% } // reading.fullkriyah %>
</div><!-- fk -->
<% if (hasTriennial) { %>
<% if (year) { %>
<div class="col-sm-6">
<h5>Triennial<small class="text-muted"> - year <%=triennial.yearNum%></small></h5>
<ol class="list-unstyled">
<%    for (const aliyah of Object.values(triennial.reading)) {  %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%       if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%       } // aliyah.v %>
<%    } // ... for %>
</ol>
</div>
<% } else { // year %>
<% for (let yr = 1; yr <= 3; yr++) { 
  const triD = triennial.dates[yr - 1];
  const triReading = triennial.readings[yr - 1]; %>
<div class="col-4 col-sm-3">
<h5>Triennial Year&nbsp;<%=yr%>
<% if (!Array.isArray(triD)) { %><br><span class="h6 small text-muted"><%=triD.format('D MMM YYYY')%></span><% } %></h5>
<% if (typeof triReading === 'undefined') { %>
<p>Read separately. See:</p>
<ul class="list-unstyled">
<li><a href="<%=parsha.p1anchor%>-<%=triD[0].format('YYYY')%>"><%=parsha.p1%></a> - <span class="text-muted"><%=triD[0].format('D MMM YYYY')%></span>
<li><a href="<%=parsha.p2anchor%>-<%=triD[1].format('YYYY')%>"><%=parsha.p2%></a> - <span class="text-muted"><%=triD[1].format('D MMM YYYY')%></span>
</ul>
<% } else if (triReading.readTogether) { %>
<p><small>See <a href="<%=triReading.anchor%>-<%=triD.format('YYYY')%>"><%=triReading.readTogether%></a></small></p>
<% } else { %>
<ul class="list-unstyled">
<%  for (const aliyah of Object.values(triReading)) { %>
<li><%=aliyah.num%>: <a class="outbound" title="Hebrew-English text and commentary from Sefaria.org" href="<%=aliyah.href%>"><%=aliyah.verses%></a>
<%     if (aliyah.v) { %>
<small>(<%=aliyah.v%>&nbsp;p'sukim)</small>
<%     } // aliyah.v %>
<%   } // ... for aliyah %>
</ul>
<% } // ... else triReadings %>
</div><!-- tri<%=yr%> -->
<% } // ... for yr 1-3 %>
<% } // !year %>
<% } // !il %>
</div><!-- .row -->
<div class="row">
<div class="col">
<% if (reading.haftara) { %>
<p class="lead haftara">Haftarah<%=reading.sephardic ? ' for Ashkenazim' : ''%>:
<% if (reading.haftaraHref) { %><a class="outbound" title="English translation from JPS Tanakh"
href="<%=reading.haftaraHref%>"><% } %><%=reading.haftara%><%- reading.haftaraHref ? '</a>' : '' %>
<% if (reading.reason && reading.reason.haftara) { %>(<%= reading.reason.haftara %>)<% } %>
</p>
<% } // reading.haftara %>
<% if (reading.sephardic) { %>
<p class="lead haftara">Haftarah for Sephardim: <%=reading.sephardic%></p>
<% } // reading.sephardic %>

<div class="d-print-none">
<h4 id="drash">Commentary</h4>
<ul class="bullet-list-inline">
<li><a class="outbound" title="Parashat Nitzavim-Vayeilech commentary from Torah.org" href="http://www.torah.org/learning/parsha/parsha.html?id1=88&amp;id2=89">Torah.org</a>
<li><a class="outbound" title="Parashat Nitzavim-Vayeilech commentary from Jewish Theological Seminary" href="http://www.jtsa.edu/jts-torah-online?parashah=2051&amp;parashah=2052">Jewish Theological Seminary</a>
<li><a class="outbound" title="Parashat Nitzavim-Vayeilech commentary from Chabad" href="http://www.chabad.org/article.asp?aid=53151">Chabad</a>
</ul>
</div><!-- .d-print-none -->

<h4 id="dates">List of Dates</h4>
Parashat <%=parsha.name%> is read in <%=locationName%> on:
<ul class="<%=sometimesDoubled ? 'list-unstyled' : 'bullet-list-inline' %>">
<% items.forEach((item) => { -%>
<li><a title="<%=item.d.format('MMMM YYYY')%> holiday calendar" href="/hebcal?v=1&amp;year=<%=item.d.format('YYYY')%>&amp;month=<%=item.d.format('M')%>&amp;i=<%=il?'on':'off'%>&amp;s=on&amp;maj=on&amp;min=on&amp;mod=on&amp;mf=on&amp;ss=on&amp;nx=on&amp;set=off#hebcal-results"><%=item.d.format('D MMM YYYY')%></a>
<% if (item.desc !== parsha.name) { %> - <small><%=item.desc%></small><% } %>
<% }); %>
</ul>

<h4 id="ref">References</h4>
<dl>
<dt><em><a class="amzn" id="chumash-2"
href="https://www.amazon.com/o/ASIN/0899060145/hebcal-20">The
Chumash: The Stone Edition (Artscroll Series)</a></em>
<dd>Nosson Scherman, Mesorah Publications, 1993
<dt><em><a class="outbound"
href="https://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/19861990/eisenberg_triennial.pdf">A
Complete Triennial System for Reading the Torah</a></em>
<dd>Committee on Jewish Law and Standards of the Rabbinical Assembly
</dl>

</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->

<%_ include partials/footer.ejs _%>
