<%- await include('partials/header2.ejs') -%>
<link rel="canonical" href="https://www.hebcal.com<%=rpath%>">
<% if (typeof amp === 'undefined' || !amp) { -%>
<link rel="amphtml" href="https://www.hebcal.com<%=rpath%>?amp=1">
<% } -%>
<%- await include('partials/shabbat-browse-structured.ejs') -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row"><div class="col"><%- await include('partials/shabbat-browse-breadcrumb.ejs') -%></div></div>

<div class="row mt-3">
<div class="col">
<h2><%=countryName%> <%=flag%><br><span class="h3 small text-muted">Shabbat Candle-lighting Times</span></h2>
<p class="lead"><time datetime="<%= friday.format('YYYY-MM-DD') %>"><%= friday.format('dddd, D MMMM YYYY') %></time> - Parashat <%= parsha %></a></p>
</div><!-- .col -->
</div><!-- .row -->
<div class="row">
<% for (const a1 of admin1) { -%>
<div id="<%=a1.id%>" class="col-md-4">
<h3><%=a1.name%></h3>
<ul class="list-unstyled lh-lg">
<% for (const r of results.filter((r) => r.admin1 === a1.name)) { -%>
<li><a href="/shabbat?geonameid=<%= r.geonameid %>&amp;b=<%= queryDefaultCandleMins(r) %>&amp;M=on&amp;lg=s"><%= r.name %></a> <time datetime="<%= r.isoDateTime %>"><%= r.fmtTime %></time></li>
<% } -%>
</ul>
</div><!-- .col -->
<% } -%>
</div><!-- .row -->

<div class="row"><div class="col"><%- await include('partials/shabbat-browse-breadcrumb.ejs') -%></div></div>
<%- await include('partials/footer.ejs') _%>
