<%- await include('partials/header.ejs') -%>
<style>
ul.list-unstyled li {margin-bottom: 0.5em}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row"><div class="col"><%- await include('partials/shabbat-browse-breadcrumb.ejs') -%></div></div>
<div id="content">
<div class="row mt-3">
<div class="col">
<h2><%=countryName%><br><span class="h3 small text-muted">Shabbat Candle Lighting Times</span></h2>
<p class="lead"><time datetime="<%= friday.format('YYYY-MM-DD') %>"><%= friday.format('dddd, D MMMM YYYY') %></time> - Parashat <%= parsha %></a></p>
<ul class="list-unstyled">
<% for (const r of results) { -%>
<li><a href="/shabbat?geonameid=<%= r.geonameid %>&amp;M=on&amp;lg=s"><%= r.name %></a><% if (admin1.size > 1 && r.name != r.admin1) { %>, <small><%=r.admin1%></small><% } %> <time datetime="<%= r.isoDate %>T<%= r.isoTime %>:00"><%= r.fmtTime %></time></li>
<% } -%>
</ul>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<div class="row"><div class="col"><%- await include('partials/shabbat-browse-breadcrumb.ejs') -%></div></div>
<%- await include('partials/footer.ejs') _%>
