<% include partials/header-noclose.ejs %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= rss_href %>">
<link rel="stylesheet" type="text/css" href="https://www.hebcal.com/i/hyspace-typeahead.css">
<style>
ul.hebcal-results {
  list-style-type:none;
  padding-left: 0;
}
ul.hebcal-results li {
  margin-bottom: 11px;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: normal;
}
ul.list-unstyled.nav-list li {
  margin-bottom: 6px;
}
</style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-9">
<h2><%= Shabbat %> <span class="d-none d-sm-inline">Times</span>
  <span class="h4 small text-muted"><%= locationName %></span></h2>
<% if (typeof message !== 'undefined') { -%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
<% } -%>
<% if (location.getCountryCode() == 'US' &&
      (locationName.indexOf(' IN ') != -1 || locationName.indexOf(' Indiana') != -1)) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Warning!</strong>
Indiana has confusing time zone &amp; Daylight Saving Time
rules.<br>Please check <a
href="https://en.wikipedia.org/wiki/Time_in_Indiana">What time is it in
Indiana?</a> to make sure the above settings are correct.
</div><!-- .alert -->
<% } -%>
<% if (location.getCountryCode() == 'US' && location.getTzid() == 'America/Denver' &&
      (locationName.indexOf(' AZ ') != -1 || locationName.indexOf(' Arizona') != -1)) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Warning!</strong>
These candle lighting times are for an Arizona county that observes
Daylight Saving Time rules. Please see <a
href="https://www.timeanddate.com/time/us/arizona-no-dst.html">No
DST in most of Arizona</a> to learn more.
</div><!-- .alert -->
<% } -%>
<% if (location.getLatitude() >= 60.0 || location.getLatitude() <= -60.0) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Warning!</strong>
Candle-lighting times are guaranteed to be wrong at extreme
northern or southern latitudes.</span><br>Please consult your
local halachic authority for correct candle-lighting times.
</div><!-- .alert -->
<% } -%>
<ul class="hebcal-results">
<% items.forEach((i) => { %>
  <% if (i.isoTime) { %>
  <li class="<%= i.cat %>" id="<%= i.id %>"><%= i.desc %>: <time datetime="<%= i.isoDate %>T<%= i.isoTime %>:00"><strong><%= i.fmtTime %></strong> on <%= i.fmtDate %></time></li>
  <% } else if (i.cat === 'parashat') { %>
  <li class="<%= i.cat %>" id="<%= i.id %>">This week's Torah portion is <a target="_top" href="<%= i.url %>"><%= i.desc %></a></li>
  <% } else { %>
  <li class="<%= i.cat %>" id="<%= i.id %>"><a target="_top" href="<%= i.url %>"><%= i.desc %></a> occurs on <time datetime="<%= i.isoDate %>"><%= i.fmtDate %></time></li>
  <% } %>
<% }); %>
</ul>
<hr>
<form action="/shabbat/" method="get" id="shabbat-form">
<input type="hidden" name="geo" value="<%= q.geo %>" id="geo">
<input type="hidden" name="zip" value="<%= q.zip %>" id="zip">
<input type="hidden" name="city" value="<%= q.city %>" id="city">
<input type="hidden" name="geonameid" value="<%= q.geonameid %>" id="geonameid">
  <div class="mb-3">
    <label class="form-label" for="city-typeahead">City</label>
    <div class="city-typeahead" style="margin-bottom:12px">
      <input type="text" name="city-typeahead" value="<%= q.cityTypeahead %>" class="form-control typeahead" id="city-typeahead" placeholder="Search for city or ZIP code">
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="m1">
      Havdalah minutes past sundown
      <a href="#" data-toggle="tooltip" data-placement="top"
title="Use 42 min for three medium-sized stars, 50 min for three small stars, 72 min for Rabbeinu Tam, or 0 to suppress Havdalah times"
id="havdalahInfo"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></a>
    </label>
    <input type="text" name="m" value="<%= q.m %>" size="2" maxlength="2" class="form-control" id="m1" pattern="\d*">
  </div>
  <input type="submit" value="Get Shabbat Times" class="btn btn-primary">
</form>
<hr>
<p><%= Shabbat %> times for world cities</p>
<ul class="bullet-list-inline">
<li><a href="/shabbat/?city=IL-Jerusalem">Jerusalem</a></li>
<li><a href="/shabbat/?city=IL-Tel%20Aviv">Tel Aviv</a></li>
<li><a href="/shabbat/?city=US-New%20York-NY">New York</a></li>
<li><a href="/shabbat/?city=US-Los%20Angeles-CA">Los Angeles</a></li>
<li><a href="/shabbat/?city=GB-London">London</a></li>
<li><a href="/shabbat/?city=US-Miami-FL">Miami</a></li>
<li><a href="/shabbat/?city=CA-Montreal">Montreal</a></li>
<li><a href="/shabbat/?city=US-Baltimore-MD">Baltimore</a></li>
<li><a href="/shabbat/?city=CA-Toronto">Toronto</a></li>
<li><a href="/shabbat/?geonameid=5100280">Lakewood, NJ</a></li>
<li><a href="/shabbat/?city=US-Chicago-IL">Chicago</a></li>
<li><a href="/shabbat/?geonameid=5110302">Brooklyn</a></li>
<li><a href="/shabbat/?city=US-San%20Francisco-CA">San Francisco</a></li>
<li><a href="/shabbat/?geonameid=4148411">Boca Raton</a></li>
<li><a href="/shabbat/?city=US-Washington-DC">Washington, DC</a></li>
<li><a href="/shabbat/?geonameid=5809844">Seattle</a></li>
<li><a href="/shabbat/?city=AU-Melbourne">Melbourne</a></li>
<li><a href="/shabbat/?city=US-Boston-MA">Boston</a></li>
<li><a href="/shabbat/?city=CA-Toronto">Toronto</a></li>
<li><a href="/shabbat/browse/">More ...</a></li>
</ul>
</div><!-- .col-sm-9 -->
<div class="col-sm-3" role="complementary">
<div style="padding-bottom:16px">
<h5><%= location.getShortName() %></h5>
<ul class="list-unstyled nav-list">
  <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path id="print" d="M10,22H22v5a1,1,0,0,1-1,1H11a1,1,0,0,1-1-1ZM23,5a1,1,0,0,0-1-1H10A1,1,0,0,0,9,5V9H23Zm5,8V23a2.00591,2.00591,0,0,1-2,2H24V21a1.00291,1.00291,0,0,0-1-1H9a1.00291,1.00291,0,0,0-1,1v4H6a2.00591,2.00591,0,0,1-2-2V13a2.00591,2.00591,0,0,1,2-2H26A2.00591,2.00591,0,0,1,28,13Zm-2,.5a.5.5,0,0,0-.5-.5H23.49872a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5H25.5a.5.5,0,0,0,.5-.5Z"/>
    </svg>
    <a title="Compact candle-lighting times for <%= hyear %>" href="/shabbat/fridge.cgi?<%= geoUrlArgs %>&amp;year=<%= hyear %>"> Print <%= hyear %></a>
  </li>
  <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path id="calendar" d="M15,18.5v1a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h1A.5.5,0,0,1,15,18.5ZM14.5,22h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,14.5,22Zm0-8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,14.5,14Zm4,8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,22Zm-8-4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,10.5,18Zm0,4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,10.5,22Zm12-8h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,22.5,14Zm0,4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,22.5,18Zm-4,0h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,18Zm0-4h-1a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1A.5.5,0,0,0,18.5,14ZM27,7V26a2.00006,2.00006,0,0,1-2,2H7a2.00006,2.00006,0,0,1-2-2V7A2.002,2.002,0,0,1,7,5V6.5a.5.5,0,0,0,.5.5h1A.5.5,0,0,0,9,6.5v-1A.5.5,0,0,1,9.5,5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5v1a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V5A2.002,2.002,0,0,1,27,7ZM25.00146,26l-.00109-14H7V26Z"/>
    </svg>
    <a href="/hebcal/?v=1&amp;geo=<%= q.geo %>&amp;<%= geoUrlArgs %>&amp;month=x&amp;year=now&amp;c=on&amp;s=on&amp;maj=on&amp;min=on&amp;mod=on&amp;mf=on&amp;ss=on&amp;nx=on">Monthly calendar</a>
  </li>
  <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path id="envelope" d="M14.69305,17.707,3.986,7h24L17.27893,17.707a1.15255,1.15255,0,0,1-.70709.293H15.40015A1.15257,1.15257,0,0,1,14.69305,17.707ZM10.17169,16,4,9.82812V22.17188Zm11.65656,0L28,22.17188V9.82812Zm-3.428,3.41418A2.3055,2.3055,0,0,1,16.986,20H14.986a2.30474,2.30474,0,0,1-1.41424-.58594l-1.99988-2L3.986,25h24l-7.58581-7.58594Z"/>
    </svg>
    <a href="https://www.hebcal.com/email/?geo=<%= q.geo %>&amp;<%= geoUrlArgs %>">Email weekly Shabbat times</a>
  </li>
  <li>
  <img alt="RSS feed" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KPGc+CjxwYXRoIGQ9Ik0yMS41LDAgTDIuNSwwIEMxLjEyNSwwIDAsMS4xMjUgMCwyLjUgTDAsMjEuNSBDMCwyMi44NzUgMS4xMjUsMjQgMi41LDI0IEwyMS41LDI0IEMyMi44NzUsMjQgMjQsMjIuODc1IDI0LDIxLjUgTDI0LDIuNSBDMjQsMS4xMjUgMjIuODc1LDAgMjEuNSwwIE02LjE4MiwxOS45OCBDNC45NzcsMTkuOTggNCwxOS4wMDUgNCwxNy44IEM0LDE2LjU5NiA0Ljk3NywxNS42MTkgNi4xODIsMTUuNjE5IEM3LjM4NSwxNS42MTkgOC4zNjQsMTYuNTk2IDguMzY0LDE3LjggQzguMzYzLDE5LjAwNSA3LjM4NSwxOS45OCA2LjE4MiwxOS45OCBNMTEuNjUzLDIwIEMxMS42NTMsMTcuOTQzIDEwLjg1NSwxNi4wMDYgOS40MSwxNC41NTMgQzcuOTY3LDEzLjEwMiA2LjA1NiwxMi4zMDIgNCwxMi4zMDIgTDQsOS4xNTMgQzkuODI2LDkuMTUzIDE0LjgwMywxNC4xNzQgMTQuODAzLDIwLjAwMSBMMTEuNjUzLDIwLjAwMSBMMTEuNjUzLDIwIE0xNy4yMTcsMjAgQzE3LjIxNywxMi42NzcgMTEuMTk4LDYuNzE5IDQsNi43MTkgTDQsMy41NyBDMTIuOTEsMy41NyAyMC4zNjUsMTAuOTQgMjAuMzY1LDIwIEwxNy4yMTcsMjAgWiIvPgo8L2c+Cjwvc3ZnPgo=" width="14" height="14">
    <a title="RSS feed of candle lighting times" href="/shabbat/?cfg=r&amp;<%= geoUrlArgs %>&amp;pubDate=0">RSS feed</a>
  </li>
  <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path id="wrench" d="M27.405,12.91907a6.38551,6.38551,0,0,1-7.78314,3.70154L8.82825,27.41418A1,1,0,0,1,7.414,27.41412L4.58594,24.58575A.99993.99993,0,0,1,4.586,23.17157L15.33209,12.42548a6.4047,6.4047,0,0,1,3.69947-7.92487,6.22745,6.22745,0,0,1,2.77825-.49127.4987.4987,0,0,1,.34015.84857L19.73254,7.27533a.4961.4961,0,0,0-.131.469l.82916,3.38044a.496.496,0,0,0,.36365.36364l3.38068.82935a.49614.49614,0,0,0,.469-.131l2.419-2.41889a.49433.49433,0,0,1,.8446.30078A6.22117,6.22117,0,0,1,27.405,12.91907Z"/>
    </svg>
    <a rel="nofollow" title="Candle lighting and Torah portion for your synagogue site" href="/link/?<%= geoUrlArgs %>">Developer API</a>
  </li>
</ul>
</div>
<h6 class="mb-4">Advertisement</h6>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive textonly -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7687563417622459"
     data-ad-slot="5981467974"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .col-sm-3 -->
</div><!-- .row -->

</div><!-- #content -->

<%
xtra_html = "<script>var el0 = document.getElementById('havdalahInfo');var tt0 = new bootstrap.Tooltip(el0);</script>\n";
%>
<% include partials/footer.ejs %>
