<%- await include('partials/header2.ejs') -%>
<meta name="description" content="<%= summary %>">
<% if (jsonLD) { -%>
<script type="application/ld+json"><%- jsonLD %></script>
<% } -%>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= rssUrl %>">
<link rel="canonical" href="https://www.hebcal.com/shabbat?<%= geoUrlArgs %>">
<% if (typeof amp === 'undefined' || !amp) { -%>
<link rel="amphtml" href="https://www.hebcal.com/shabbat?<%= geoUrlArgs %>&amp;amp=1">
<link rel="stylesheet" type="text/css" href="/i/typeahead1.css">
<style>
ul.hebcal-results li {
  margin-bottom: 11px;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: normal;
}
</style>
<% } -%>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row mt-3">
<div class="col-md-8">
<h2><%= Shabbat %> Times for <%= location.getShortName() %></h2>
<h5 class="text-muted"><%= location.getName() %></h5>
<% if (typeof message !== 'undefined') { -%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <%= message %>
</div><!-- .alert -->
<% } -%>
<%- await include('partials/location-warnings.ejs') -%>
<div class="float-start">
  <svg width="60" height="60" class="me-1 mb-1"><use xlink:href="<%=cspriteHref%>#candles"></use></svg>
</div>
<%- await include('partials/shabbat-items.ejs') -%>
<div class="mt-4 d-print-none">
<a class="btn btn-outline-primary btn-sm mb-2 me-1" title="Compact candle-lighting times for <%= gregRangeShort %>" rel="nofollow" href="<%= fridgeURL %>">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-printer-fill"></use></svg>
    Print <%= gregRangeShort %></a>
<a class="btn btn-outline-primary btn-sm mb-2 me-1" href="/email?<%= geoUrlArgs %>" data-bs-toggle="modal" data-bs-target="#email-modal">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg>
  Weekly email</a>
<a class="btn btn-outline-primary btn-sm mb-2 me-1" href="/hebcal?v=1&amp;geo=<%= q.geo %>&amp;<%= geoUrlArgs %>&amp;year=now&amp;c=on&amp;s=on&amp;maj=on&amp;min=on&amp;mod=on&amp;mf=on&amp;ss=on&amp;nx=on">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-calendar3"></use></svg>
  <%= new Date().getFullYear() %> calendar</a>
<a class="btn btn-outline-primary btn-sm mb-2 me-1" title="RSS feed of candle lighting times" href="<%= rssUrl %>">
  <svg class="icon" style="width:1rem;height:1rem"><use xlink:href="<%=spriteHref%>#bi-rss-fill"></use></svg>
  RSS feed</a>
<a class="btn btn-outline-primary btn-sm mb-2 me-1" rel="nofollow" title="Candle lighting and Torah portion for your synagogue site" href="/link?<%= geoUrlArgs %>">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-code-slash"></use></svg>
  Developer API</a>
</div>
<div class="d-print-none">
<% if (typeof amp === 'undefined' || !amp) { -%>
<hr class="mt-3">
<form action="/shabbat" method="get" autocomplete="off" id="shabbat-form">
<input type="hidden" name="geo" value="<%= q.geo %>" id="geo">
<input type="hidden" name="zip" value="<%= q.zip %>" id="zip">
<input type="hidden" name="geonameid" value="<%= q.geonameid %>" id="geonameid">
<%- await include('partials/city-and-havdalah.ejs') -%>
<input type="hidden" name="lg" value="<%= q.lg || 's' %>">
  <button type="submit" class="btn btn-primary">
    <svg class="icon mb-1"><use xlink:href="<%=spriteHref%>#gi-candle"></use></svg>
    Get Shabbat Times</button>
</form>
<% } -%>
<hr>
<p><%= Shabbat %> times for world cities</p>
<ul class="bullet-list-inline">
<% const worldCities = [
[295629, "Ashdod"],
[4180439, "Atlanta"],
[4347778, "Baltimore"],
[2950159, "Berlin"],
[4930956, "Boston"],
[4148411, "Boca Raton"],
[5110302, "Brooklyn"],
[3435910, "Buenos Aires"],
[4887398, "Chicago"],
[4684888, "Dallas"],
[5419384, "Denver"],
[4990729, "Detroit"],
[294801, "Haifa"],
[281184, "Jerusalem"],
[993800, "Johannesburg"],
[5100280, "Lakewood, NJ"],
[2643743, "London"],
[5368361, "Los Angeles"],
[2158177, "Melbourne"],
[3530597, "Mexico City"],
[4164138, "Miami"],
[6077243, "Montréal"],
[5128581, "New York"],
[4167505, "Palm Beach"],
[2988507, "Paris"],
[293918, "Petach Tikva"],
[4560349, "Philadelphia"],
[5391959, "San Francisco"],
[3448439, "São Paulo"],
[5809844, "Seattle"],
[2147714, "Sydney"],
[293397, "Tel Aviv"],
[6167865, "Toronto"],
[6173331, "Vancouver"],
[4140963, "Washington, DC"],
[2657896, "Zürich"],
];
for (const [geonameid, city] of worldCities) { -%>
<li><a href="/shabbat?geonameid=<%=geonameid%>&amp;b=<%=city==='Jerusalem'?40:18%>&amp;M=on&amp;lg=<%=q.lg||'s'%>"><%=city%></a></li>
<% } -%>
<li><a href="/shabbat/browse/">More ...</a></li>
</ul>
</div><!-- .d-print-none -->
</div><!-- .col-md-8 -->
<% if (typeof amp === 'boolean' && amp) { -%>
<!-- amp: no ad -->
<% } else { -%>
<div class="col-md-4 d-print-none" role="complementary">
<h6 class="text-muted mb-1">Advertisement</h6>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7687563417622459"
     crossorigin="anonymous"></script>
<!-- responsive textonly -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7687563417622459"
     data-ad-slot="5981467974"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .col-md-4 -->
<% } -%>
</div><!-- .row -->
<% if (typeof amp === 'undefined' || !amp) { -%>
<%- await include('partials/email-candles-modal.ejs') _%>
<% } -%>
<%- await include('partials/footer.ejs', {footerScripts: {tooltip: true, typeahead: true}}) _%>
<% if (typeof geoip === 'object') { -%>
<!-- <%- JSON.stringify(geoip) %> -->
<% } -%>
