<div id="hebcal" class="hebcal-container">
<div class="hebcal-<%= location.getGeoId() %>">
<h3><%= h3title %></h3>
<%- await include('partials/shabbat-items.ejs') -%>
<div class="copyright"><small>Powered by <a target="<%= q.tgt %>" href="https://www.hebcal.com/shabbat?geo=<%= q.geo %>&amp;<%= geoUrlArgs %>&amp;utm_source=shabbat1c&amp;utm_medium=js">Hebcal <%= Shabbat %> Times</a></small></div>
</div>
</div>
