<%- await include('partials/header.ejs') -%>
<meta name="description" content="<%= summary %>">
<% if (jsonLD) { -%>
<script type="application/ld+json"><%- jsonLD %></script>
<% } -%>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= rssUrl %>">
<link rel="canonical" href="https://www.hebcal.com/shabbat?<%= geoUrlArgs %>">
<link rel="stylesheet" type="text/css" href="https://www.hebcal.com/i/hyspace-typeahead.css">
<style>
ul.hebcal-results {
  list-style-type:none;
  padding-left: 0;
}
ul.hebcal-results li {
  margin-bottom: 11px;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: normal;
}
ul.list-unstyled.nav-list li {
  margin-bottom: 6px;
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row mt-3">
<div class="col-md-9">
<h2 dir="<%- locale === 'he' ? 'rtl' : 'ltr'%>"><%= Shabbat %> <span class="d-none d-sm-inline">Times</span>
  <span class="h4 small text-muted"><%= locationName %></span></h2>
<% if (typeof message !== 'undefined') { -%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  <%= message %>
</div><!-- .alert -->
<% } -%>
<%- await include('partials/location-warnings.ejs') -%>
<%- await include('partials/shabbat-items.ejs') -%>
<hr class="mt-5">
<form action="/shabbat" method="get" autocomplete="off" id="shabbat-form">
<input type="hidden" name="geo" value="<%= q.geo %>" id="geo">
<input type="hidden" name="zip" value="<%= q.zip %>" id="zip">
<input type="hidden" name="city" value="<%= q.city %>" id="city">
<input type="hidden" name="geonameid" value="<%= q.geonameid %>" id="geonameid">
<%- await include('partials/city-and-havdalah.ejs') -%>
  <button type="submit" class="btn btn-primary">Get Shabbat Times</button>
</form>
<hr>
<p><%= Shabbat %> times for world cities</p>
<ul class="bullet-list-inline">
<li><a href="/shabbat?city=Baltimore">Baltimore</a></li>
<li><a href="/shabbat?city=Boston">Boston</a></li>
<li><a href="/shabbat?geonameid=4148411">Boca Raton</a></li>
<li><a href="/shabbat?geonameid=5110302">Brooklyn</a></li>
<li><a href="/shabbat?city=Chicago">Chicago</a></li>
<li><a href="/shabbat?city=Jerusalem">Jerusalem</a></li>
<li><a href="/shabbat?geonameid=5100280">Lakewood, NJ</a></li>
<li><a href="/shabbat?city=London">London</a></li>
<li><a href="/shabbat?city=Los+Angeles">Los Angeles</a></li>
<li><a href="/shabbat?city=Melbourne">Melbourne</a></li>
<li><a href="/shabbat?city=Miami">Miami</a></li>
<li><a href="/shabbat?city=Montreal">Montreal</a></li>
<li><a href="/shabbat?city=New+York">New York</a></li>
<li><a href="/shabbat?city=San+Francisco">San Francisco</a></li>
<li><a href="/shabbat?geonameid=5809844">Seattle</a></li>
<li><a href="/shabbat?city=Tel+Aviv">Tel Aviv</a></li>
<li><a href="/shabbat?city=Toronto">Toronto</a></li>
<li><a href="/shabbat?geonameid=4140963">Washington, DC</a></li>
<li><a href="/shabbat/browse/">More ...</a></li>
</ul>
</div><!-- .col-md-9 -->
<div class="col-md-3" role="complementary">
<div style="padding-bottom:16px">
<h5><%= location.getShortName() %></h5>
<ul class="list-unstyled nav-list">
  <li><svg class="icon"><use xlink:href="/i/sprite3.svg#gi-print"></use></svg>
    <a title="Compact candle-lighting times for <%= hyear %>" href="/shabbat/fridge.cgi?<%= geoUrlArgs %>&amp;year=<%= hyear %>"> Print <%= hyear %></a>
  </li>
  <li><svg class="icon"><use xlink:href="/i/sprite3.svg#gi-calendar"></use></svg>
    <a href="/hebcal?v=1&amp;geo=<%= q.geo %>&amp;<%= geoUrlArgs %>&amp;year=now&amp;c=on&amp;s=on&amp;maj=on&amp;min=on&amp;mod=on&amp;mf=on&amp;ss=on&amp;nx=on">Monthly calendar</a>
  </li>
  <li><svg class="icon"><use xlink:href="/i/sprite3.svg#gi-envelope"></use></svg>
    <a href="/email/?geo=<%= q.geo %>&amp;<%= geoUrlArgs %>">Weekly email</a>
  </li>
  <li>
  <li><svg class="icon" style="width:1rem;height:1rem"><use xlink:href="/i/sprite3.svg#bi-rss-fill"></use></svg>
    <a title="RSS feed of candle lighting times" href="<%= rssUrl %>">RSS feed</a>
  </li>
  <li><svg class="icon"><use xlink:href="/i/sprite3.svg#gi-wrench"></use></svg>
    <a rel="nofollow" title="Candle lighting and Torah portion for your synagogue site" href="/link/?<%= geoUrlArgs %>">Developer API</a>
  </li>
</ul>
</div>
<h6 class="text-muted mb-2">Advertisement</h6>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive textonly -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7687563417622459"
     data-ad-slot="5981467974"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- .col-md-3 -->
</div><!-- .row -->

</div><!-- #content -->
<%_ include partials/footer.ejs _%>
