<%- await include('partials/header-and-navbar.ejs') -%>
<div class="row mt-2">
<div class="col">
<p class="lead">Confirm your subscription to weekly Shabbat candle-lighting
  times and Torah portion by email.</p>
<% if (confirmed) { %>
<div class="alert alert-success">
<svg class="icon m-2"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
<strong>Thank you!</strong> Your subscription is now active.
A confirmation message has been sent to <strong><%= emailAddress %></strong>.
</div><!-- .alert -->
<% } else { %>
<p>To activate your account, please confirm your email and complete your registration via the button below.</p>
<p>Email: <strong><%= emailAddress %></strong>
<br>Location: <%= locationName %></p>
<form method="post" action="<%= rpath %>">
<input type="hidden" name="k" value="<%= subscriptionId %>">
<input type="hidden" name="commit" value="1">
<button type="submit" class="btn btn-primary mb-2">
  <svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
  Confirm Subscription
</button>
</form>
<p>You'll receive a maximum of one message per week, typically on Thursday morning.</p>
<h4 class="mt-4">Email Privacy Policy</h4>
<p>We will never sell or give your email address to anyone.
<br>We will never use your email address to send you unsolicited offers.</p>
<p>To unsubscribe, send an email to
<br><a href="mailto:shabbat-unsubscribe&#64;hebcal.com">shabbat-unsubscribe&#64;hebcal.com</a>.</p>
<% } %>
</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
