<% include partials/header-noclose.ejs %>
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<style type="text/css">
@media (min-width: 768px) {
 .form-inline .radio label {
    padding-left: 8px;
 }
}
div.yahrzeit-row {
  border-bottom:1px solid #dddddd;
  padding:4px;
}
.yahrzeit-form > div.yahrzeit-row:nth-of-type(odd) {
  background-color: #c2e2e2;
}
</style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-12">

<div class="d-print-none">
<p class="lead">Generate a list of Yahrzeit dates, Hebrew Birthdays,
or Hebrew Anniversaries for the next 20 years.</p>
<p>For example, you might enter <strong>20 October 1994 (after
sunset)</strong> to calculate <strong>Reb Shlomo Carlebach</strong>&apos;s
yahrzeit.</p>
<p>If you know the Hebrew but not the Gregorian date, use the <a
href="/converter/">Hebrew Date Converter</a> to get the Gregorian date
and then come back to this page.</p>
</div><!-- .d-print-none -->
<form class="yahrzeit-form d-print-none" method="post" action="/yahrzeit/">
<% for (let num = 1; num <= count; num++) { -%>
<div class="d-flex flex-row yahrzeit-row">
<div class="mr-2 mb-2">
<select name="t<%=num%>" class="form-select">
<option value="Yahrzeit">Yahrzeit</option>
<option value="Birthday">Birthday</option>
<option value="Anniversary">Anniversary</option>
</select></div>
<div class="mb-2 mr-2"><input class="form-control" type="text" name="n<%=num%>"  value="<%= q['n'+num] || '' %>" placeholder="Name (optional)"></div>
<div class="mb-2 mr-2"><input class="form-control" type="text" name="d<%=num%>" value="<%= q['d'+num] || '' %>" size="2" maxlength="2" max="31" min="1" pattern="\d*" placeholder="Day"></div>
<div class="mb-2 mr-2">
<select name="m<%=num%>" class="form-select">
<option <%- (q['m'+num] == 1) ? 'selected' : '' -%> value="1">January</option>
<option <%- (q['m'+num] == 2) ? 'selected' : '' -%> value="2">February</option>
<option <%- (q['m'+num] == 3) ? 'selected' : '' -%> value="3">March</option>
<option <%- (q['m'+num] == 4) ? 'selected' : '' -%> value="4">April</option>
<option <%- (q['m'+num] == 5) ? 'selected' : '' -%> value="5">May</option>
<option <%- (q['m'+num] == 6) ? 'selected' : '' -%> value="6">June</option>
<option <%- (q['m'+num] == 7) ? 'selected' : '' -%> value="7">July</option>
<option <%- (q['m'+num] == 8) ? 'selected' : '' -%> value="8">August</option>
<option <%- (q['m'+num] == 9) ? 'selected' : '' -%> value="9">September</option>
<option <%- (q['m'+num] == 10) ? 'selected' : '' -%> value="10">October</option>
<option <%- (q['m'+num] == 11) ? 'selected' : '' -%> value="11">November</option>
<option <%- (q['m'+num] == 12) ? 'selected' : '' -%> value="12">December</option>
</select></div>
<div class="mb-2 mr-2"><input type="text" name="y<%=num%>"  size="4" maxlength="4" class="form-control" pattern="\d*" placeholder="Year"></div>
<div class="mb-2 mr-2">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-0" <%= q['s'+num] !== 'on' ? ' checked' : '' -%> value="off">
    <label class="form-check-label" for="s<%=num%>-0">Before sunset</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-1" <%= q['s'+num] === 'on' ? ' checked' : '' -%> value="on">
    <label class="form-check-label" for="s<%=num%>-1">After sunset</label>
  </div>
</div>
</div><!-- .flex-row -->
<% } %>

<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="hebdate" value="on" <%= q.hebdate === 'on' ? ' checked' : '' -%> id="hebdate">
<label class="form-check-label" for="hebdate">Include Hebrew dates</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yizkor" value="on" <%= q.yizkor === 'on' ? ' checked' : '' -%> id="yizkor" >
<label class="form-check-label" for="yizkor">Include Yizkor dates</label>
</div>
<div class="d-flex flex-row">
  <label class="form-label mr-2" for="years">Number of years:</label>
  <input type="text" name="years" value="<%= q.years || 20 %>" size="2" maxlength="2" class="form-control" id="years" max="99" min="1" pattern="\d*">
</div><!-- .flex-row -->
<input type="hidden" name="ref_url" value="" >
<input type="hidden" name="ref_text" value="" >
<input type="hidden" name=".cgifields" value="hebdate" ><input type="hidden" name=".cgifields" value="yizkor" >
<input type="submit" class="btn btn-primary" value="Create Calendar"></form>

<p class="d-print-none">Would you like to use this calendar for your website? See
<a href="/home/43/customizing-yahrzeit-birthday-and-anniversary-calendar-for-your-website">developer
instructions</a>.</p>
</div><!-- .col-sm-12 -->
</div><!-- .row -->
</div><!-- #content -->
<%_ include partials/footer.ejs _%>
