<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style><%- await include('partials/pre-unsub.css') -%></style>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-sm">
<div class="card">
<div class="card-body">
  <h3 class="card-title"><%=info.typeStr%> email unsubscribe</h3>
  <p class="card-text">Do you wish to stop receiving annual email reminders
    <% if (info.maxId === 1) { %>of <strong><%= info.name %>'s <%= info.typeStr %></strong><% } %>
    sent from Hebcal to <strong><%= emailAddress %></strong>?</p>
<form action="<%= rpath %>" method="post">
<input type="hidden" name="id" value="<%=q.id%>">
<input type="hidden" name="hash" value="<%=q.hash||''%>">
<input type="hidden" name="unsubscribe" value="1">
<input type="hidden" name="commit" value="1">
<input type="hidden" name="cfg" value="html">
<div class="mt-4">
<% if (q.num !== 'all') { %>
<button type="submit" class="btn btn-primary mb-3 me-3"
name="num" value="<%=q.num%>">
  Unsubscribe
  <% if (info.maxId > 1) { %> <%= info.typeStr %> Reminders <span class="text-nowrap">for <%= info.name %></span><% } %>
</button>
<% } %>
<% if (info.maxId > 1) { %>
<div><button type="submit" class="btn btn-primary mb-3 me-3"
name="num" value="all">Unsubscribe all (<%=info.maxId%>) <%=info.anniversaryType%> Reminders</button></div>
<% } %>
<a class="btn btn-secondary mb-3 me-3" href="/yahrzeit/edit/<%= info.calendarId %>#form">Edit Calendar</a>
</div>
</form>
</div><!-- .card-body -->
</div><!-- .card -->
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .container -->
<script><%- await include('partials/analytics.js') -%></script>
</body>
</html>
<!-- <%= hostname %> <%= new Date().toISOString() %> -->
