<%- await include('partials/header-and-navbar.ejs') -%>
<div id="content">
<div class="row">
<div class="col">
<p class="lead">Receive anniversary reminders by email.</p>
<% if (confirmed) { %>
<div class="alert alert-success">
<svg class="icon m-2"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
<strong>Thank you!</strong> Your annual email reminders are now active.
</div><!-- .alert -->
<p><a class="btn btn-primary mb-2 me-2" href="/yahrzeit/edit/<%=calendarId%>">
  <svg width="1em" height="1em" class="icon align-top"><use xlink:href="<%=spriteHref%>#gi-user-parents"></use></svg>
  View calendar</a>
  <a class="btn btn-secondary mb-2 me-2" href="/yahrzeit/edit/<%=calendarId%>#form">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg>
  Edit calendar</a></p>
<% } else { %>
<p>To activate your <%= anniversaryType %> reminders, please confirm your email
and complete your registration via the button below.</p>
<p>Email: <strong><%= emailAddress %></strong></p>
<form method="post" action="<%= rpath %>">
<input type="hidden" name="commit" value="1">
<button type="submit" class="btn btn-primary mb-2">
  <svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
  Confirm
</button>
</form>
<p>Receive annual reminders for:</p>
<ol>
<% for (let num = 1; num <= maxId; num++) { -%>
<%   if (details['date'+num]) { -%>
<li><%= details['n'+num] || `Person${num}` %>'s <%= details['t'+num] %> - <%= details['date'+num] %>
<%   } -%>
<% } -%>
</ol>
<h4 class="mt-4">Email Privacy Policy</h4>
<p>We will never sell or give your email address to anyone.
<br>We will never use your email address to send you unsolicited offers.</p>
<% } %>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') -%>
