<%- await include('partials/header.ejs') -%>
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<style type="text/css">
div.yahrzeit-row {
  border-bottom:1px solid #dddddd;
  padding:4px;
}
#rows > div.yahrzeit-row:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, .15);
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<% if (typeof q.ref_url === 'string') { -%>
<% let ref_text = q.ref_text || q.ref_url; -%>
<p class="lead">Welcome to the Hebcal Yahrzeit + Anniversary Calendar.</p>
<p>When you finish here, you can return to <a href="<%= q.ref_url %>"><%= ref_text %></a>.</p>
<% } -%>
<% if (tables !== null) { %>
<div class="btn-toolbar d-print-none mt-2">
<div class="mr-2 mb-2">
<a href="#hcdl-modal" role="button" class="btn btn-secondary" data-toggle="modal" data-target="#hcdl-modal"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a></div>
<div class="mr-2 mb-2">
  <a href="#email-modal" role="button" class="btn btn-secondary" data-toggle="modal" data-target="#email-modal">
    <svg class="icon"><use xlink:href="<%=spriteHref%>#gi-envelope"></use></svg> Email
  </a>
</div>
<div class="mr-2 mb-2">
<a role="button" class="btn btn-secondary mb-2" href="#form"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg> Edit</a>
</div>
</div><!-- .btn-toolbar -->
<p>Yahrzeit candles should be lit the evening before the date specified.
This is because the Jewish day actually begins at sundown on the previous night.</p>
<% if (adarInfo) { %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
<strong>Note:</strong> the results below contain one or more anniversary in Adar.
To learn more about how Hebcal handles these dates, read <a
href="/home/54/how-does-hebcal-determine-an-anniversary-occurring-in-adar">How
does Hebcal determine an anniversary occurring in Adar?</a>
</div><!-- .alert -->
<% } %>
<% tables.forEach((items, heading) => { -%>
<% if (heading) { %><h4><%= heading %></h4><% } %>
<table class="table table-condensed table-striped">
<col style="width:174px"><col>
<tbody>
<% items.forEach((i) => { -%>
<tr><td><%= i.date %></td><td><%= i.desc %></td></tr>
<% }); -%>
</tbody>
</table>
<% }); -%>
<% } %>
<div class="d-print-none">
<p class="lead" id="form">Generate a list of Yahrzeit dates, Hebrew Birthdays,
or Hebrew Anniversaries.</p>
<p>If you know the Hebrew but not the Gregorian date, use the <a
href="/converter">Hebrew Date Converter</a> to get the Gregorian date
and then come back to this page.</p>
</div><!-- .d-print-none -->
<form class="d-print-none" method="post" action="<%= rpath %>">
<div id="rows">
<% for (let num = 1; num <= count; num++) { -%>
<%- await include('partials/yahrzeit-row.ejs', {num}) -%>
<% } %>
</div><!-- #rows -->
<div class="clearfix">
<p class="text-right float-sm-right">
 <button class="btn btn-secondary btn-sm mt-2" id="newrow">+ Add another name</button>
</p>
<div class="form-check mt-3 mb-2">
<input class="form-check-input" type="checkbox" name="hebdate" value="on" <%= q.hebdate === 'on' ? ' checked' : '' -%> id="hebdate">
<label class="form-check-label" for="hebdate">Include Hebrew dates</label>
&nbsp;<span title="Appends Hebrew date to end of event title, e.g. &quot;Person1's Yahrzeit (15th of Cheshvan)&quot;" data-toggle="tooltip" data-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yizkor" value="on" <%= q.yizkor === 'on' ? ' checked' : '' -%> id="yizkor" >
<label class="form-check-label" for="yizkor">Include Yizkor dates</label>
&nbsp;<span title="Pesach 8th day, Shavuot 2nd day, Yom Kippur and Shmini Atzeret" data-toggle="tooltip" data-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div>
<div class="row gx-2 mb-3 align-items-center">
  <label class="col-auto col-form-label" for="years">Number of years:</label>
  <div class="col-auto">
    <input type="text" name="years" value="<%= q.years %>" size="2" maxlength="2" class="form-control" id="years" max="99" min="1" pattern="\d*">
  </div>
</div>
</div><!-- .clearfix -->
<input type="hidden" name="v" value="yahrzeit">
<button type="submit" class="btn btn-primary">Create Calendar</button>
</form>

<p class="d-print-none text-muted mt-3">Would you like to use this calendar for your website? See
<a href="/home/43/customizing-yahrzeit-birthday-and-anniversary-calendar-for-your-website">developer
instructions</a>.</p>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<% if (tables !== null) { -%>
<%- await include('partials/download-modal.ejs') -%>
<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<form id="f2" class="needs-validation" novalidate>
<input type="hidden" name="v" value="1">
<input type="hidden" name="type" value="<%=downloadTitle%>">
<input type="hidden" name="ulid" value="<%=ulid%>">
<div class="modal-header">
<h5 class="modal-title">Email reminders</h5>
<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div id="email-modal-failure" class="alert alert-warning" role="alert" style="display: none">
  Sorry, that didn't work. Please try again later.
</div>
<div id="email-modal-success" class="alert alert-success" role="alert" style="display: none">
  <strong>Thank you!</strong> A confirmation message has been sent to your email address.
  Click the link within that message to confirm your subscription.
</div><!-- .alert -->
<div id="email-modal-entry">
  <p>Receive a reminder email 7 days before each anniversary.</p>
  <div class="mb-3">
    <label class="form-label" for="em">Email address</label>
    <input class="form-control" type="email" name="em" id="em" placeholder="user@example.com" required>
    <div class="invalid-feedback">Please enter a valid email address.</div>
  </div>
  <p><small><strong>Email Privacy Policy</strong>:
    We will never sell or give your email address to anyone.
    We will never use your email address to send you unsolicited offers.</small></p>
</div><!-- #email-modal-entry -->
</div><!-- .modal-body -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="email-subscribe">Subscribe</button>
</div>
</form>
</div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
<%- await include('partials/email-modal-script.ejs', {resource: '/yahrzeit/email'}) -%>
<% } -%>
<%- await include('partials/footer.ejs') _%>
