<%- await include('partials/header.ejs', {
  title: 'Yahrzeit + Anniversary Calendar - Hebcal',
}) -%>
<meta name="description" content="Generate a list of Yahrzeit memorial anniversary and Yizkor dates, annual email reminders, mutli-year calendar downloads">
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<link rel="canonical" href="https://www.hebcal.com<%= rpath === '/yahrzeit/' ? '/yahrzeit' : rpath %>">
<style>
div.yahrzeit-row {
  border-bottom:1px solid #dddddd;
  padding:4px;
}
#rows > div.yahrzeit-row:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, .15);
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col">
<% if (typeof q.ref_url === 'string') { -%>
<% let ref_text = q.ref_text || q.ref_url; -%>
<p class="lead">Welcome to the Hebcal Yahrzeit + Anniversary Calendar.</p>
<p>When you finish here, you can return to <a href="<%= q.ref_url %>"><%= ref_text %></a>.</p>
<% } -%>
<% if (tables !== null) { %>
<div class="btn-toolbar d-print-none mt-2">
<% if (showDownload) { %>
<div class="me-2 mb-2">
  <a href="#email-modal" role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#email-modal">
  <% if (!q.em) { -%>
    <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-floppy2-fill"></use></svg> Save
  <% } else { -%>
    <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg> Email reminders
  <% } -%>
  </a>
</div>
<div class="me-2 mb-2">
<a href="#hcdl-modal" role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#hcdl-modal"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg> Download</a>
</div>
<% } -%>
<div class="me-2 mb-2">
<a role="button" class="btn btn-secondary mb-2" href="#form"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-pencil-square"></use></svg> Edit</a>
</div>
</div><!-- .btn-toolbar -->
<% if (typesSet.has('Yahrzeit')) { %>
<p>Yahrzeit candles should be lit the evening before the date specified.
This is because the Jewish day actually begins at sundown on the previous night.</p>
<% } else { %>
<p>Anniversaries begin at sundown on the evening before the date specified.</p>
<% } %>
<% if (adarInfo) { %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Note:</strong> one or more anniversaries occur in the
Hebrew month of <strong>Adar</strong>.
<br><a class="small" href="/home/54/how-does-hebcal-determine-an-anniversary-occurring-in-adar">Learn
how Hebcal calculates Hebrew anniversaries occurring in Adar</a>.
</div><!-- .alert -->
<% } %>
<% if (futureDate) { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
The date entered for <strong><%=futureDate.name%></strong> is
<time datetime="<%=futureDate.day.format('YYYY-MM-DD')%>"><%=futureDate.day.format('ddd, D MMM YYYY')%></time>, which is in the future.
<br>Please double-check the date to ensure you have entered it correctly.
<br><a class="small" href="#form">Edit names and dates</a>
</div><!-- .alert -->
<% } -%>
<% if (distantPastDate) { -%>
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
The date entered for <strong><%=distantPastDate.name%></strong> is
<time datetime="<%=distantPastDate.day.format('YYYY-MM-DD')%>"><%=distantPastDate.day.format('ddd, D MMM YYYY')%></time>, which is in the distant past.
<br>Please double-check the date to ensure you have entered it correctly.
<br>Be sure to use 4-digit years (e.g. 2015 instead of 15).
<br><a class="small" href="#form">Edit names and dates</a>
</div><!-- .alert -->
<% } -%>
<% tables.forEach((items, heading) => { -%>
<% if (heading) { %><h5><%= heading %></h5><% } %>
<table class="table table-condensed table-striped">
<col style="width:174px"><col>
<tbody <% if (heading) { %>class="table-group-divider"<% } %>>
<% items.forEach((i) => { -%>
<tr><td><time datetime="<%= i.d.format('YYYY-MM-DD') %>"><%= i.d.format('ddd, D MMM YYYY') %></time></td><td><%= i.desc %></td></tr>
<% }); -%>
</tbody>
</table>
<% }); -%>
<% } %>
<% if (tables !== null && showDownload) { %>
<div class="btn-toolbar d-print-none mt-3 mb-4">
<div class="me-2 mb-2">
<a href="#email-modal" role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#email-modal">
  <% if (!q.em) { -%>
    <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-floppy2-fill"></use></svg> Save
  <% } else { -%>
    <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-envelope-fill"></use></svg> Email reminders
  <% } -%>
</a>
</div>
<div class="me-2 mb-2">
<a href="#hcdl-modal" role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#hcdl-modal">
  <svg class="icon"><use xlink:href="<%=spriteHref%>#bi-cloud-download"></use></svg>
  Download</a>
</div>
</div><!-- .btn-toolbar -->
<% } %>
<div class="d-print-none mt-2">
<div class="float-start">
  <svg width="64" height="64" class="me-3 mb-2"><use xlink:href="<%=cspriteHref%>#couple"></use></svg>
</div>
<p id="form" class="lead">Generate a list of Yahrzeit dates, Hebrew Birthdays,
and Hebrew Anniversaries.</p>
<p>Print, subscribe to annual email reminders, and download a multi-year
calendar feed to Apple, Google, Outlook, and more.</p>
<div class="clearfix"></div>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" aria-current="page" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Form</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="import-csv-tab" data-bs-toggle="tab" data-bs-target="#import-csv" type="button" role="tab" aria-controls="import-csv" aria-selected="false">Import</a>
  </li>
</ul>
</div><!-- .d-print-none -->
<div class="tab-content">
<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
<p class="mt-3 d-print-none">In the form below, enter the date of death (or birth or anniversary).
Use the <span class="btn btn-sm btn-outline-success disabled" style="opacity: 1;"><svg class="icon"><use xlink:href="<%=spriteHref%>#bi-person-plus-fill"></use></svg>
Add another name</span> button at the bottom of the page to add
additional names. Use 4-digit years (e.g. 2015 instead of 15).</p>
<form id="f3" class="d-print-none needs-validation" method="post" action="/yahrzeit">
<div id="rows">
<% for (let num = 1; num <= count; num++) { -%>
<% if (typeof q['t'+num] === 'string') { -%>
<%- await include('partials/yahrzeit-row.ejs', {num}) -%>
<% } -%>
<% } %>
<% if (count === 1 && typeof q.t1 !== 'string') { -%>
<!-- empty form -->
<%- await include('partials/yahrzeit-row.ejs', {num: 1}) -%>
<% } -%>
</div><!-- #rows -->
<div class="clearfix">
<p class="text-end float-sm-end">
 <button type="button" class="btn btn-success mt-2" id="newrow">
  <svg class="icon align-top"><use xlink:href="<%=spriteHref%>#bi-person-plus-fill"></use></svg>
  Add another name</button>
</p>
<div class="form-check mt-3 mb-2">
<input class="form-check-input" type="checkbox" name="hebdate" value="on" <%= q.hebdate === 'on' ? ' checked' : '' %> id="hebdate">
<label class="form-check-label" for="hebdate">Include Hebrew dates</label>
&nbsp;<span title="Appends Hebrew date to end of event title, e.g. &quot;Person1’s Yahrzeit (15th of Cheshvan)&quot;" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yizkor" value="on" <%= q.yizkor === 'on' ? ' checked' : '' %> id="yizkor" >
<label class="form-check-label" for="yizkor">Include Yizkor dates</label>
</div>
<div class="ms-3 mt-1">
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="i" id="i0" <%= q.i !== 'on' ? 'checked' : '' %> <%= q.yizkor !== 'on' ? ' disabled' : '' %> value="off">
    <label class="form-check-label" for="i0">Diaspora Yizkor schedule</label>
    &nbsp;<span title="Pesach 8th day, Shavuot 2nd day, Yom Kippur and Shmini Atzeret" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
  </div>
  <div class="form-check mb-1">
    <input class="form-check-input" type="radio" name="i" id="i1" <%= q.i === 'on' ? 'checked' : '' %> <%= q.yizkor !== 'on' ? ' disabled' : '' %> value="on">
    <label class="form-check-label" for="i1">Israel Yizkor schedule</label>
    &nbsp;<span title="Pesach 7th day, Shavuot, Yom Kippur and Shmini Atzeret" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top"><svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bi-info-circle-fill"></use></svg></span>
  </div>
</div>
<div class="row gx-2 mb-3 align-items-center">
  <label class="col-auto col-form-label" for="years">Number of years:</label>
  <div class="col-auto">
    <input type="text" inputmode="numeric" name="years" value="<%= q.years %>" size="2" maxlength="2" class="form-control" id="years" max="99" min="1" pattern="\d*">
  </div>
</div>
</div><!-- .clearfix -->
<input type="hidden" name="v" value="yahrzeit">
<input type="hidden" name="ulid" value="<%=ulid%>">
<input type="hidden" name="seq" value="<%=seq%>">
<input type="hidden" name="em" value="<%=q.em || ''%>">
<input type="hidden" name="tzo" id="tzo" value="<%=q.tzo || ''%>">
<button type="submit" class="btn btn-primary"><%=isEditPage?'Update':'Create'%> Calendar</button>
</form>
</div><!-- #home -->
<div class="tab-pane" id="import-csv" role="tabpanel" aria-labelledby="import-csv-tab" tabindex="0">
<p class="mt-3">Import a Comma Separated Values (CSV) file with names and dates.</p>
<form id="import-form" action="#">
  <div class="row">
    <div class="col-auto">
      <input class="form-control mb-3" type="file" id="formFile" accept=".csv,text/csv">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Import</button>
    </div>
  </div>
</form>
<div id="nofile-alert" class="alert alert-danger" role="alert" hidden>
  Please choose a CSV file to upload.
  <br>Or, click the <strong>Form</strong> tab above to enter names and dates.
</div><!-- .alert -->
<div id="badimport-alert" class="alert alert-danger" role="alert" hidden>
  Error: 0 records imported. Please check the CSV file format and try again.
</div><!-- .alert -->
<div id="success-alert" class="alert alert-success" role="alert" hidden>
  <svg class="icon icon-sm mt-n1"><use xlink:href="<%=spriteHref%>#bs-check-large"></use></svg>
  Successfully imported <span id="success-numrecords">?</span> records from <span id="success-filename">?</span>.
  <br>Please review the imported data.
  <br>Click the <strong>Form</strong> tab above to continue.
</div><!-- .alert -->
<h5>CSV file format</h5>
<p>The CSV file may contain 1-4 columns. Column names and types are as follows:</p>
<ol>
  <li>Date: <code>mm/dd/yyyy</code>. Gregorian date of death (or birth), USA date format with 4-digit year.</li>
  <li>Name: If blank, defaults to <code>Person1</code>, <code>Person2</code>, ...</li>
  <li>After sunset: <code>true</code> or <code>TRUE</code> for after sunset; <code>false</code>, <code>FALSE</code>, or (blank) for before sunset. If blank, defaults to <strong>false</strong>.</li>
  <li>Type: <code>Yahrzeit</code>, <code>Birthday</code>, <code>Anniversary</code>, or <code>Other</code>. If blank, defaults to <strong>Yahrzeit</strong>.</li>
</ol>
<p>The CSV file may optionally contain a header line.</p>
<p>Example file: <a href="/etc/yahrzeit-example.csv" download="yahrzeit-example.csv">yahrzeit-example.csv</a></p>
</div><!-- #import-csv -->
</div><!-- .tab-content -->
</div><!-- .col -->
</div><!-- .row -->
<div class="row d-print-none mt-3">
<p>Yahrzeit refers to the anniversary, according to the Hebrew calendar, of the
day of death of a loved one. Alternative spellings include <em>yahrtzeit</em>,
<em>yortsayt</em>, and <em>yartzeit</em>. On the anniversary of a death, it is
the custom to light a candle to commemorate the departure of a loved
one.&nbsp;<sup><a href="https://en.wikipedia.org/wiki/Bereavement_in_Judaism#Yahrzeit">[1]</a></sup></p>
<p>If you know the Hebrew but not the Gregorian date, use the <a
href="/converter">Hebrew Date Converter</a> to get the Gregorian date
and then come back to this page.</p>
<p class="text-body-secondary">Would you like to use this calendar for your website? See
<a href="/home/43/customizing-yahrzeit-birthday-and-anniversary-calendar-for-your-website">developer
instructions</a>.</p>
</div><!-- .row -->

<% if (tables !== null && showDownload) { -%>
<%- await include('partials/download-modal.ejs') -%>
<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<form id="f2" class="needs-validation" novalidate>
<input type="hidden" name="v" value="1">
<input type="hidden" name="cfg" value="json">
<input type="hidden" name="type" value="<%=anniversaryType%>">
<input type="hidden" name="ulid" value="<%=ulid%>">
<div class="modal-header">
<h5 class="modal-title"><%= q.em ? "Email reminders" : "Save personal calendar" %></h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div id="email-modal-failure" class="alert alert-warning" role="alert" style="display: none">
  Sorry, that didn't work. Please try again later.
</div>
<div id="email-modal-success" class="alert alert-success" role="alert" style="display: none">
  <strong>Thank you!</strong> A confirmation message has been sent to your email address.
  Click the link within that message to confirm your subscription.
</div><!-- .alert -->
<div id="email-modal-already" class="alert alert-warning" role="alert" style="display: none">
  <strong>Already subscribed.</strong> Annual reminder emails
  for this personal calendar are already active. No further action is required.
</div><!-- .alert -->
<div id="email-modal-entry">
  <p><% if (!q.em) { %>Enter your email address to save your personal calendar.<% } %>
    Receive annual reminder emails one week before and one day before each anniversary.</p>
  <div class="form-floating mb-3">
    <input class="form-control" type="email" name="em" id="em" value="<%=q.em || ''%>" placeholder="user@example.com" required>
    <label class="form-label" for="em">Email address</label>
    <div class="invalid-feedback">Please enter a valid email address.</div>
  </div>
  <p class="small"><strong>Email Privacy Policy</strong>:
    We will never sell or give your email address to anyone.
    We will never use your email address to send you unsolicited offers.</p>
</div><!-- #email-modal-entry -->
</div><!-- .modal-body -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="email-subscribe"><%= q.em ? 'Subscribe' : 'Save' %></button>
</div>
</form>
</div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->
<%- await include('partials/email-modal-script.ejs', {
  resource: '/yahrzeit/email',
  action: q.em ? 'yahrzeit-reminder' : 'yahrzeit-save',
  emailSubscribeLabel: q.em ? 'Subscribe' : 'Save',
}) -%>
<%- await include('partials/emoji-switch-script.ejs') -%>
<% } -%>
<%- await include('partials/footer.ejs', {
  footerScripts: {tooltip: true, clipboard: tables !== null && showDownload},
  xtra_html: await include('partials/script-yahrzeit-form.ejs'),
}) _%>
