<% include partials/header-noclose.ejs %>
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<style type="text/css">
@media (min-width: 768px) {
 .form-inline .radio label {
    padding-left: 8px;
 }
}
div.yahrzeit-row {
  border-bottom:1px solid #dddddd;
  padding:4px;
}
.yahrzeit-form > div.yahrzeit-row:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, .15);
}
</style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-12">
<% if (typeof q.ref_url === 'string') { -%>
<% let ref_text = q.ref_text || q.ref_url; -%>
<p class="lead">Welcome to the Hebcal Yahrzeit + Anniversary Calendar.</p>
<p>When you finish here, you can return to <a href="<%= q.ref_url %>"><%= ref_text %></a>.</p>
<% } -%>
<% if (tables !== null) { %>
<div class="btn-toolbar d-print-none">
<div class="mr-2 mb-2">
<a href="#hcdl-modal" role="button" class="btn btn-secondary" data-toggle="modal" data-target="#hcdl-modal"><svg class="icon"><use xlink:href="#bi-cloud-download"></use></svg> Download</a></div>
<a role="button" class="btn btn-secondary mb-2" href="#form"><svg class="icon"><use xlink:href="#bi-pencil-square"></use></svg> Enter more dates and names</a>
</div><!-- .btn-toolbar -->
<p>Yahrzeit candles should be lit the evening before the date specified.
This is because the Jewish day actually begins at sundown on the previous night.</p>
<% if (adarInfo) { %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Note:</strong> the results below contain one or more anniversary in Adar.
To learn more about how Hebcal handles these dates, read <a
href="/home/54/how-does-hebcal-determine-an-anniversary-occurring-in-adar">How
does Hebcal determine an anniversary occurring in Adar?</a>
</div><!-- .alert -->
<% } %>
<% tables.forEach((items, heading) => { -%>
<% if (heading) { %><h4><%= heading %></h4><% } %>
<table class="table table-condensed table-striped">
<col style="width:174px"><col>
<tbody>
<% items.forEach((i) => { -%>
<tr><td><%= i.date %></td><td><%= i.desc %></td></tr>
<% }); -%>
</tbody>
</table>
<% }); -%>
<% } %>
<div class="d-print-none">
<p class="lead" id="form">Generate a list of Yahrzeit dates, Hebrew Birthdays,
or Hebrew Anniversaries for the next 20 years.</p>
<p>For example, you might enter <strong>20 October 1994 (after
sunset)</strong> to calculate <strong>Reb Shlomo Carlebach</strong>&apos;s
yahrzeit.</p>
<p>If you know the Hebrew but not the Gregorian date, use the <a
href="/converter">Hebrew Date Converter</a> to get the Gregorian date
and then come back to this page.</p>
</div><!-- .d-print-none -->
<form class="yahrzeit-form d-print-none" method="post" action="<%= rpath %>">
<% for (let num = 1; num <= count; num++) { -%>
<div class="yahrzeit-row">
<div class="row gy-1 gx-2 mb-3 align-items-center mt-1">
<div class="col-auto"><input class="form-control" type="text" name="n<%=num%>" value="<%= q['n'+num] || '' %>" placeholder="Name (optional)"></div>
<div class="col-auto">
<select name="t<%=num%>" class="form-select">
<option <%- (q['t'+num] == 'Yahrzeit') ? 'selected' : '' -%> value="Yahrzeit">Yahrzeit</option>
<option <%- (q['t'+num] == 'Birthday') ? 'selected' : '' -%> value="Birthday">Birthday</option>
<option <%- (q['t'+num] == 'Anniversary') ? 'selected' : '' -%> value="Anniversary">Anniversary</option>
</select></div>
<div class="col-auto"><input class="form-control" type="text" name="d<%=num%>" value="<%= q['d'+num] || '' %>" size="2" maxlength="2" max="31" min="1" pattern="\d*" placeholder="Day"></div>
<div class="col-auto">
<select name="m<%=num%>" class="form-select">
  <option <%- (q['m'+num] == 1) ? 'selected' : '' -%> value="1">January</option>
  <option <%- (q['m'+num] == 2) ? 'selected' : '' -%> value="2">February</option>
  <option <%- (q['m'+num] == 3) ? 'selected' : '' -%> value="3">March</option>
  <option <%- (q['m'+num] == 4) ? 'selected' : '' -%> value="4">April</option>
  <option <%- (q['m'+num] == 5) ? 'selected' : '' -%> value="5">May</option>
  <option <%- (q['m'+num] == 6) ? 'selected' : '' -%> value="6">June</option>
  <option <%- (q['m'+num] == 7) ? 'selected' : '' -%> value="7">July</option>
  <option <%- (q['m'+num] == 8) ? 'selected' : '' -%> value="8">August</option>
  <option <%- (q['m'+num] == 9) ? 'selected' : '' -%> value="9">September</option>
  <option <%- (q['m'+num] == 10) ? 'selected' : '' -%> value="10">October</option>
  <option <%- (q['m'+num] == 11) ? 'selected' : '' -%> value="11">November</option>
  <option <%- (q['m'+num] == 12) ? 'selected' : '' -%> value="12">December</option>
</select></div>
<div class="col-auto"><input class="form-control" type="text" name="y<%=num%>" value="<%= q['y'+num] || '' %>" size="4" maxlength="4" pattern="\d*" placeholder="Year"></div>
<div class="col-auto form-check m-2">
  <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-0" <%= q['s'+num] !== 'on' ? ' checked' : '' -%> value="off">
  <label class="form-check-label" for="s<%=num%>-0">Before sunset</label>
</div>
<div class="col-auto form-check">
  <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-1" <%= q['s'+num] === 'on' ? ' checked' : '' -%> value="on">
  <label class="form-check-label" for="s<%=num%>-1">After sunset</label>
</div>
</div><!-- .row -->
</div><!-- .yahrzeit-row -->
<% } %>

<div class="form-check mt-3 mb-2">
<input class="form-check-input" type="checkbox" name="hebdate" value="on" <%= q.hebdate === 'on' ? ' checked' : '' -%> id="hebdate">
<label class="form-check-label" for="hebdate">Include Hebrew dates</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yizkor" value="on" <%= q.yizkor === 'on' ? ' checked' : '' -%> id="yizkor" >
<label class="form-check-label" for="yizkor">Include Yizkor dates</label>
</div>
<div class="row gx-2 mb-3 align-items-center">
  <label class="col-auto col-form-label" for="years">Number of years:</label>
  <div class="col-auto">
    <input type="text" name="years" value="<%= q.years %>" size="2" maxlength="2" class="form-control" id="years" max="99" min="1" pattern="\d*">
  </div>
</div><!-- .row -->
<input type="hidden" name="v" value="yahrzeit">
<button type="submit" class="btn btn-primary">Create Calendar</button>
</form>

<p class="d-print-none text-muted mt-3">Would you like to use this calendar for your website? See
<a href="/home/43/customizing-yahrzeit-birthday-and-anniversary-calendar-for-your-website">developer
instructions</a>.</p>
</div><!-- .col-sm-12 -->
</div><!-- .row -->
</div><!-- #content -->
<% if (tables !== null) { -%>
<% include partials/download-modal.ejs %>
<% } -%>
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol viewBox="0 0 16 16" id="bi-cloud-download" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
<path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</symbol>
<symbol viewBox="0 0 16 16" id="bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</symbol>
</defs>
</svg>
<%_ include partials/footer.ejs _%>
