<%- await include('partials/header.ejs', {
  title: 'Yahrzeit + Anniversary Calendar - Hebcal',
}) -%>
<meta name="description" content="Generate a list of Yahrzeit memorial anniversary and Yizkor dates, annual email reminders, mutli-year calendar downloads">
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<link rel="canonical" href="https://www.hebcal.com/yahrzeit">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div class="row">
<div class="col mt-2">
<div class="float-start">
  <svg width="64" height="64" class="me-3 mb-2"><use xlink:href="<%=cspriteHref%>#couple"></use></svg>
</div>
<p id="form" class="lead">Generate a list of Yahrzeit dates, Hebrew Birthdays,
and Hebrew Anniversaries.</p>
<p>Print, subscribe to annual email reminders, and download a multi-year
calendar feed to Apple, Google, Outlook, and more.</p>
<% if (calendars.length) { -%>
<p>Welcome back!</p>
<p class="lead">View or edit an existing personal calendar</p>
<ol>
<% calendars.forEach((cal) => { -%>
<li><a href="/yahrzeit/edit/<%=cal.id%>"><%=cal.title%></a>
<% }); -%>
</ol>
<% } -%>
<p class="lead">Search for an existing Yahrzeit + Anniversary Calendar by email address</p>
<form action="/yahrzeit/search" method="post" class="row row-cols-lg-auto g-3 align-items-center mb-3">
  <div class="col">
    <label class="visually-hidden" for="em">Email address</label>
    <input class="form-control" type="email" name="em" id="em" placeholder="user@example.com" value="" required>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<p class="lead">Or, create a new personal calendar</p>
<p><a class="btn btn-primary" href="/yahrzeit/new">New calendar &raquo;</a></p>
<p>Yahrzeit refers to the anniversary, according to the Hebrew calendar, of the
day of death of a loved one. Alternative spellings include <em>yahrtzeit</em>,
<em>yortsayt</em>, and <em>yartzeit</em>. On the anniversary of a death, it is
the custom to light a candle to commemorate the departure of a loved
one.&nbsp;<sup><a href="https://en.wikipedia.org/wiki/Bereavement_in_Judaism#Yahrzeit">[1]</a></sup></p>
</div><!-- .col -->
</div><!-- .row -->
<%- await include('partials/footer.ejs') -%>
