<%- await include('partials/header.ejs') -%>
<meta name="keywords" content="yahzeit,yahrzeit,yohrzeit,yohrtzeit,yartzeit,yarzeit,yortzeit,yorzeit,yizkor,yiskor,kaddish">
<style type="text/css">
@media (min-width: 768px) {
 .form-inline .radio label {
    padding-left: 8px;
 }
}
div.yahrzeit-row {
  border-bottom:1px solid #dddddd;
  padding:4px;
}
.yahrzeit-form > div.yahrzeit-row:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, .15);
}
</style>
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content">
<div class="row">
<div class="col-sm-12">
<% if (typeof q.ref_url === 'string') { -%>
<% let ref_text = q.ref_text || q.ref_url; -%>
<p class="lead">Welcome to the Hebcal Yahrzeit + Anniversary Calendar.</p>
<p>When you finish here, you can return to <a href="<%= q.ref_url %>"><%= ref_text %></a>.</p>
<% } -%>
<% if (tables !== null) { %>
<div class="btn-toolbar d-print-none">
<div class="mr-2 mb-2">
<a href="#hcdl-modal" role="button" class="btn btn-secondary" data-toggle="modal" data-target="#hcdl-modal"><svg class="icon"><use xlink:href="/i/sprite3.svg#bi-cloud-download"></use></svg> Download</a></div>
<a role="button" class="btn btn-secondary mb-2" href="#form"><svg class="icon"><use xlink:href="/i/sprite3.svg#bi-pencil-square"></use></svg> Enter more dates and names</a>
</div><!-- .btn-toolbar -->
<p>Yahrzeit candles should be lit the evening before the date specified.
This is because the Jewish day actually begins at sundown on the previous night.</p>
<% if (adarInfo) { %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
<strong>Note:</strong> the results below contain one or more anniversary in Adar.
To learn more about how Hebcal handles these dates, read <a
href="/home/54/how-does-hebcal-determine-an-anniversary-occurring-in-adar">How
does Hebcal determine an anniversary occurring in Adar?</a>
</div><!-- .alert -->
<% } %>
<% tables.forEach((items, heading) => { -%>
<% if (heading) { %><h4><%= heading %></h4><% } %>
<table class="table table-condensed table-striped">
<col style="width:174px"><col>
<tbody>
<% items.forEach((i) => { -%>
<tr><td><%= i.date %></td><td><%= i.desc %></td></tr>
<% }); -%>
</tbody>
</table>
<% }); -%>
<% } %>
<div class="d-print-none">
<p class="lead" id="form">Generate a list of Yahrzeit dates, Hebrew Birthdays,
or Hebrew Anniversaries for the next 20 years.</p>
<p>For example, you might enter <strong>20 October 1994 (after
sunset)</strong> to calculate <strong>Reb Shlomo Carlebach</strong>&apos;s
yahrzeit.</p>
<p>If you know the Hebrew but not the Gregorian date, use the <a
href="/converter">Hebrew Date Converter</a> to get the Gregorian date
and then come back to this page.</p>
</div><!-- .d-print-none -->
<form class="yahrzeit-form d-print-none" method="post" action="<%= rpath %>">
<% for (let num = 1; num <= count; num++) { -%>
<div class="yahrzeit-row">
<div class="row gy-1 gx-2 mb-3 align-items-center mt-1">
<div class="col-auto"><input class="form-control" type="text" name="n<%=num%>" value="<%= q['n'+num] || '' %>" placeholder="Name (optional)"></div>
<div class="col-auto">
<select name="t<%=num%>" class="form-select">
<option <%- (q['t'+num] == 'Yahrzeit') ? 'selected' : '' -%> value="Yahrzeit">Yahrzeit</option>
<option <%- (q['t'+num] == 'Birthday') ? 'selected' : '' -%> value="Birthday">Birthday</option>
<option <%- (q['t'+num] == 'Anniversary') ? 'selected' : '' -%> value="Anniversary">Anniversary</option>
</select></div>
<div class="col-auto"><input class="form-control" type="text" name="d<%=num%>" value="<%= q['d'+num] || '' %>" size="2" maxlength="2" max="31" min="1" pattern="\d*" placeholder="Day"></div>
<div class="col-auto">
<select name="m<%=num%>" class="form-select">
  <option <%- (q['m'+num] == 1) ? 'selected' : '' -%> value="1">January</option>
  <option <%- (q['m'+num] == 2) ? 'selected' : '' -%> value="2">February</option>
  <option <%- (q['m'+num] == 3) ? 'selected' : '' -%> value="3">March</option>
  <option <%- (q['m'+num] == 4) ? 'selected' : '' -%> value="4">April</option>
  <option <%- (q['m'+num] == 5) ? 'selected' : '' -%> value="5">May</option>
  <option <%- (q['m'+num] == 6) ? 'selected' : '' -%> value="6">June</option>
  <option <%- (q['m'+num] == 7) ? 'selected' : '' -%> value="7">July</option>
  <option <%- (q['m'+num] == 8) ? 'selected' : '' -%> value="8">August</option>
  <option <%- (q['m'+num] == 9) ? 'selected' : '' -%> value="9">September</option>
  <option <%- (q['m'+num] == 10) ? 'selected' : '' -%> value="10">October</option>
  <option <%- (q['m'+num] == 11) ? 'selected' : '' -%> value="11">November</option>
  <option <%- (q['m'+num] == 12) ? 'selected' : '' -%> value="12">December</option>
</select></div>
<div class="col-auto"><input class="form-control" type="text" name="y<%=num%>" value="<%= q['y'+num] || '' %>" size="4" maxlength="4" pattern="\d*" placeholder="Year"></div>
<div class="col-auto form-check m-2">
  <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-0" <%= q['s'+num] !== 'on' ? ' checked' : '' -%> value="off">
  <label class="form-check-label" for="s<%=num%>-0">Before sunset</label>
</div>
<div class="col-auto form-check">
  <input class="form-check-input" type="radio" name="s<%=num%>" id="s<%=num%>-1" <%= q['s'+num] === 'on' ? ' checked' : '' -%> value="on">
  <label class="form-check-label" for="s<%=num%>-1">After sunset</label>
</div>
</div><!-- .row -->
</div><!-- .yahrzeit-row -->
<% } %>

<div class="form-check mt-3 mb-2">
<input class="form-check-input" type="checkbox" name="hebdate" value="on" <%= q.hebdate === 'on' ? ' checked' : '' -%> id="hebdate">
<label class="form-check-label" for="hebdate">Include Hebrew dates</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" name="yizkor" value="on" <%= q.yizkor === 'on' ? ' checked' : '' -%> id="yizkor" >
<label class="form-check-label" for="yizkor">Include Yizkor dates</label>
</div>
<div class="row gx-2 mb-3 align-items-center">
  <label class="col-auto col-form-label" for="years">Number of years:</label>
  <div class="col-auto">
    <input type="text" name="years" value="<%= q.years %>" size="2" maxlength="2" class="form-control" id="years" max="99" min="1" pattern="\d*">
  </div>
</div><!-- .row -->
<input type="hidden" name="v" value="yahrzeit">
<button type="submit" class="btn btn-primary">Create Calendar</button>
</form>

<p class="d-print-none text-muted mt-3">Would you like to use this calendar for your website? See
<a href="/home/43/customizing-yahrzeit-birthday-and-anniversary-calendar-for-your-website">developer
instructions</a>.</p>
</div><!-- .col-sm-12 -->
</div><!-- .row -->
</div><!-- #content -->
<% if (tables !== null) { -%>
<%- await include('partials/download-modal.ejs') -%>
<% } -%>
<%_ include partials/footer.ejs _%>
